Repository OldCrow/libstats: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pragma-once, check-copyright, no-debug-code, validate-includes

check-pragma-once:
  name: Check for
  entry: scripts/check-pragma-once.sh
  language: script
  pass_filenames: true

check-copyright:
  name: Check copyright headers
  entry: scripts/check-copyright.sh
  language: script

no-debug-code:
  name: Check for debug code
  entry: scripts/check-no-debug.sh
  language: script
  pass_filenames: true

validate-includes:
  name: Validate include order
  entry: scripts/validate-includes.sh
  language: script
  pass_filenames: true

docs: CHANGELOG cross-reference — Gaussian fix landed in this change set
  CHANGELOG.md
Due: check-copyright

feat(tools): add mpmath oracle and doc skeleton for #46 accuracy sweep
  docs/ACCURACY_CHARACTERIZATION.md
  tools/accuracy_vs_mpmath.py
Due: check-copyright

feat(#46): deterministic bit-exact accuracy_sweep tool
  tools/CMakeLists.txt
  tools/accuracy_sweep.cpp
Due: check-copyright, no-debug-code, validate-includes

feat(#46): oracle large-parameter hardening + first characterization results
  CHANGELOG.md
  PLAN.md
  docs/ACCURACY_CHARACTERIZATION.md
  tools/accuracy_vs_mpmath.py
Due: check-copyright

fix(#46): replace defensive sort with ascending assert in p-grid builder
  tools/accuracy_sweep.cpp
Due: check-copyright, no-debug-code, validate-includes

Accuracy characterization vs mpmath (#46) (#101)
  CHANGELOG.md
  PLAN.md
  docs/ACCURACY_CHARACTERIZATION.md
  tools/CMakeLists.txt
  tools/accuracy_sweep.cpp
  tools/accuracy_vs_mpmath.py
Due: check-copyright, no-debug-code, validate-includes

docs(plan): v2.3.0 complete — #46 merged; follow-ups #102/#103/#104 filed
  PLAN.md
Due: check-copyright

chore(release): v2.3.0
  AGENTS.md
  CHANGELOG.md
  CMakeLists.txt
  PLAN.md
  docs/VALIDATION_HISTORY.md
Due: check-copyright

docs(readme): v2.3.0 release banner, badge, and Current State
  README.md
Due: check-copyright

docs(plan): stage corvus adoption as v2.5.0; Extended renumbered v2.6.0
  PLAN.md
Due: check-copyright

review: defensive review 2026-08-21 — gate/tooling fixes, contract docs, two guards, issues #105–#118
  .gitignore
  AGENTS.md
  CHANGELOG.md
  CMakeLists.txt
  PLAN.md
  docs/PARALLEL_BATCH_PROCESSING_GUIDE.md
  include/libstats/core/dispatch_thresholds.h
  include/libstats/core/distribution_meta.h
  include/libstats/core/error_handling.h
  include/libstats/distributions/cauchy.h
  include/libstats/distributions/von_mises.h
  include/libstats/platform/cpu_detection.h
  scripts/gen_cos_ulp_vectors.py
  scripts/gen_gaussian_cdf_vectors.py
  scripts/gen_lognormal_cdf_vectors.py
  scripts/gen_trig_ulp_vectors.py
  src/gaussian.cpp
  src/lognormal.cpp
  src/simd_sse2.cpp
  src/trig_cleanroom_data.inc
  src/von_mises.cpp
  tests/CMakeLists.txt
  tests/cos_ulp_vectors.inc
  tests/gaussian_cdf_vectors.inc
  tests/lognormal_cdf_vectors.inc
  tests/test_gaussian_cdf_accuracy.cpp
  tests/test_simd_neon_cos_accuracy.cpp
  tests/test_trig_ulp_gates.cpp
  tools/accuracy_sweep.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs(plan): milestone map for the review issues — v2.3.1, v2.3.2, v3.0.0
  PLAN.md
Due: check-copyright

docs: reconcile PLAN/AGENTS with v2.3.0 — close spike record, fix milestone attributions, add config-header rule
  .warp/workflows/warning_audit.yaml
  AGENTS.md
  PLAN.md
Due: check-copyright

docs(plan): pylibstats pin bump done 2026-08-22
  PLAN.md
Due: check-copyright

docs(benchmarks): the 2017 MBP runs Ventura, not Tahoe (Tahoe is the M1 Mini)
  docs/SIMD_BENCHMARK_RESULTS.md
Due: check-copyright

docs: Kaby Lake native validation leg for v2.3.0 — 53/53 correctness, 22/22 timing
  AGENTS.md
  PLAN.md
Due: check-copyright

docs(accuracy): Kaby Lake AVX2 sweep — von Mises Tier 2 gap, #102 re-scoped to 11 distributions on AVX2
  AGENTS.md
  PLAN.md
  docs/ACCURACY_CHARACTERIZATION.md
Due: check-copyright

accuracy: one generated block per ISA in ACCURACY_CHARACTERIZATION.md; add the Kaby Lake AVX2 block
  docs/ACCURACY_CHARACTERIZATION.md
  tools/accuracy_vs_mpmath.py
Due: check-copyright

docs(plan): move #117 to v2.3.1 — runtime-dispatched wheels make the missing DQ/XCR0 gate a fault, not hygiene
  PLAN.md
Due: check-copyright

docs(plan): move #118 to v2.3.1 — dropped chunk exceptions return partial output as success
  PLAN.md
Due: check-copyright

docs(plan): reconcile 2026-08-23 session close
  PLAN.md
Due: check-copyright

build: make libstats.pc relocatable
  CHANGELOG.md
  CMakeLists.txt
  cmake/libstats.pc.in
Due: check-copyright

docs: M1 native validation row — 55/55 on the v2.3.0 tag; NEON accuracy sweep recorded
  AGENTS.md
  PLAN.md
Due: check-copyright

docs(agents): current-status line — all three fleet machines validated natively
  AGENTS.md
Due: check-copyright

accuracy: regenerate the isa=NEON block; characterization now covers all three ISAs
  AGENTS.md
  PLAN.md
  docs/ACCURACY_CHARACTERIZATION.md
Due: check-copyright

docs: resolve the 53-vs-55 correctness count — it was the exclusion regex
  AGENTS.md
  PLAN.md
Due: check-copyright

fix(simd): propagate NaN inputs through vector_log and every batch path
  include/libstats/platform/simd.h
  src/binomial.cpp
  src/discrete.cpp
  src/gamma.cpp
  src/laplace.cpp
  src/negative_binomial.cpp
  src/poisson.cpp
  src/simd_avx.cpp
  src/simd_avx2.cpp
  src/simd_avx512.cpp
  src/simd_sse2.cpp
  src/uniform.cpp
  src/von_mises.cpp
  tests/CMakeLists.txt
  tests/test_batch_nan_gates.cpp
  tests/test_log_special_gates.cpp
  tools/accuracy_sweep.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix(von-mises, negative-binomial): fallback wrap seam and quantile bound
  scripts/gen_vonmises_cdf_vectors.py
  src/negative_binomial.cpp
  src/von_mises.cpp
  tests/CMakeLists.txt
  tests/test_discrete_quantile_bounds.cpp
  tests/test_vonmises_cdf_accuracy.cpp
  tests/vonmises_cdf_vectors.inc
Due: check-copyright, no-debug-code, validate-includes

fix(io): getline-based operator>> for Discrete, Uniform and Beta
  src/beta.cpp
  src/discrete.cpp
  src/uniform.cpp
  tests/test_beta_basic.cpp
  tests/test_discrete_basic.cpp
  tests/test_uniform_basic.cpp
Due: check-copyright, no-debug-code, validate-includes

quality(platform): gate AVX-512 on DQ and XCR0 opmask/ZMM state, AVX2 on FMA
  cmake/SIMDDetection.cmake
  src/cpu_detection.cpp
  src/simd_dispatch.cpp
  src/simd_policy.cpp
  tests/CMakeLists.txt
  tests/test_simd_dispatch_gates.cpp
Due: check-copyright, no-debug-code, validate-includes

fix(contracts): batch aliasing assert and parallelFor exception propagation
  AGENTS.md
  docs/PARALLEL_BATCH_PROCESSING_GUIDE.md
  include/libstats/core/dispatch_utils.h
  include/libstats/core/distribution_interface.h
  include/libstats/core/safety.h
  include/libstats/distributions/beta.h
  include/libstats/distributions/binomial.h
  include/libstats/distributions/cauchy.h
  include/libstats/distributions/chi_squared.h
  include/libstats/distributions/discrete.h
  include/libstats/distributions/exponential.h
  include/libstats/distributions/gamma.h
  include/libstats/distributions/gaussian.h
  include/libstats/distributions/geometric.h
  include/libstats/distributions/laplace.h
  include/libstats/distributions/lognormal.h
  include/libstats/distributions/negative_binomial.h
  include/libstats/distributions/pareto.h
  include/libstats/distributions/poisson.h
  include/libstats/distributions/rayleigh.h
  include/libstats/distributions/student_t.h
  include/libstats/distributions/uniform.h
  include/libstats/distributions/von_mises.h
  include/libstats/distributions/weibull.h
  include/libstats/platform/thread_pool.h
  include/libstats/platform/work_stealing_pool.h
  tests/CMakeLists.txt
  tests/test_parallel_exception_propagation.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix(simd): NaN propagation through vector_log and every batch path (#105, #102) (#120)
  include/libstats/platform/simd.h
  src/binomial.cpp
  src/discrete.cpp
  src/gamma.cpp
  src/laplace.cpp
  src/negative_binomial.cpp
  src/poisson.cpp
  src/simd_avx.cpp
  src/simd_avx2.cpp
  src/simd_avx512.cpp
  src/simd_sse2.cpp
  src/uniform.cpp
  src/von_mises.cpp
  tests/CMakeLists.txt
  tests/test_batch_nan_gates.cpp
  tests/test_log_special_gates.cpp
  tools/accuracy_sweep.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix(von-mises, negative-binomial): CDF fallback wrap seam and quantile search bound (#106, #116) (#121)
  scripts/gen_vonmises_cdf_vectors.py
  src/negative_binomial.cpp
  src/von_mises.cpp
  tests/CMakeLists.txt
  tests/test_discrete_quantile_bounds.cpp
  tests/test_vonmises_cdf_accuracy.cpp
  tests/vonmises_cdf_vectors.inc
Due: check-copyright, no-debug-code, validate-includes

fix(io): getline-based operator>> for Discrete, Uniform and Beta (#115) (#122)
  src/beta.cpp
  src/discrete.cpp
  src/uniform.cpp
  tests/test_beta_basic.cpp
  tests/test_discrete_basic.cpp
  tests/test_uniform_basic.cpp
Due: check-copyright, no-debug-code, validate-includes

quality(platform): CPUID gates -- AVX-512 requires DQ + XCR0 opmask/ZMM, AVX2 requires FMA (#117) (#123)
  cmake/SIMDDetection.cmake
  src/cpu_detection.cpp
  src/simd_dispatch.cpp
  src/simd_policy.cpp
  tests/CMakeLists.txt
  tests/test_simd_dispatch_gates.cpp
Due: check-copyright, no-debug-code, validate-includes

fix(contracts): batch aliasing assert and parallelFor exception propagation (#112, #118) (#124)
  AGENTS.md
  docs/PARALLEL_BATCH_PROCESSING_GUIDE.md
  include/libstats/core/dispatch_utils.h
  include/libstats/core/distribution_interface.h
  include/libstats/core/safety.h
  include/libstats/distributions/beta.h
  include/libstats/distributions/binomial.h
  include/libstats/distributions/cauchy.h
  include/libstats/distributions/chi_squared.h
  include/libstats/distributions/discrete.h
  include/libstats/distributions/exponential.h
  include/libstats/distributions/gamma.h
  include/libstats/distributions/gaussian.h
  include/libstats/distributions/geometric.h
  include/libstats/distributions/laplace.h
  include/libstats/distributions/lognormal.h
  include/libstats/distributions/negative_binomial.h
  include/libstats/distributions/pareto.h
  include/libstats/distributions/poisson.h
  include/libstats/distributions/rayleigh.h
  include/libstats/distributions/student_t.h
  include/libstats/distributions/uniform.h
  include/libstats/distributions/von_mises.h
  include/libstats/distributions/weibull.h
  include/libstats/platform/thread_pool.h
  include/libstats/platform/work_stealing_pool.h
  tests/CMakeLists.txt
  tests/test_parallel_exception_propagation.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

chore(release): v2.3.1 version bump and doc set
  AGENTS.md
  CHANGELOG.md
  CMakeLists.txt
  PLAN.md
  README.md
  docs/ACCURACY_CHARACTERIZATION.md
  docs/VALIDATION_HISTORY.md
Due: check-copyright

docs(plan): v2.3.1 follow-ups filed — #125–#129 milestoned, #103 scope comment
  PLAN.md
Due: check-copyright

docs(plan): v2.3.1 shipped — tag, release, milestone, pylibstats pin
  PLAN.md
Due: check-copyright

docs: Kaby Lake v2.3.1 native validation — 58/58, 22/22, isa=AVX2 block regenerated
  AGENTS.md
  PLAN.md
  docs/ACCURACY_CHARACTERIZATION.md
Due: check-copyright

Path conditions:
  check-pragma-once: any of: \.(h|hpp|hxx)$, but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

  check-copyright: any of: not (^(\.git/|build/|third_party/|docs/archive/)), but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

  no-debug-code: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

  validate-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

