Repository OldCrow/libstats: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pragma-once, check-copyright, no-debug-code, validate-includes

.pre-commit-config.yaml:

# Pre-commit hooks configuration for libstats
# Run: pre-commit install to set up the git hook scripts
# Then pre-commit will run automatically on git commit

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_language_version:
  python: python3

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: Fix trailing whitespace
      - id: end-of-file-fixer
        name: Fix missing newline at end of file
      - id: check-yaml
        name: Check YAML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: check-case-conflict
        name: Check for case conflicts
      - id: mixed-line-ending
        name: Check line endings
        args: ['--fix=lf']
      - id: check-symlinks
        name: Check for broken symlinks
      - id: check-executables-have-shebangs
        name: Check executables have shebangs
      - id: check-shebang-scripts-are-executable
        name: Check scripts with shebangs are executable

  # C++ formatting with clang-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.8
    hooks:
      - id: clang-format
        name: Format C++ code with clang-format
        types_or: [c++, c]
        args: ['-i', '--style=file']
        files: \.(cpp|cc|cxx|hpp|h|hxx)$

  # CMake formatting and linting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        name: Format CMake files
        args: ['--config=.cmake-format.yaml', '--in-place']
        additional_dependencies: ["pyyaml"]

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        name: Check shell scripts
        args: ['--severity=warning']

  # Markdown formatting (Ruby-based for better compatibility)
#  - repo: https://github.com/markdownlint/markdownlint
#    rev: v0.13.0
#    hooks:
#      - id: markdownlint
#        name: Lint markdown files
#        args: ["-s", ".markdownlint-style.rb"]

  # Check for secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: Detect secrets
        args: ['--baseline', '.secrets.baseline']
        additional_dependencies: ['detect-secrets']

  # Custom local hooks for libstats-specific checks
  - repo: local
    hooks:
      - id: check-pragma-once
        name: Check for #pragma once in headers
        entry: scripts/check-pragma-once.sh
        language: script
        files: \.(h|hpp|hxx)$
        pass_filenames: true

      - id: check-copyright
        name: Check copyright headers
        entry: scripts/check-copyright.sh
        language: script
        types: [text]
        exclude: ^(\.git/|build/|third_party/|docs/archive/)

      - id: no-debug-code
        name: Check for debug code
        entry: scripts/check-no-debug.sh
        language: script
        types_or: [c++, c]
        pass_filenames: true

      - id: validate-includes
        name: Validate include order
        entry: scripts/validate-includes.sh
        language: script
        types_or: [c++, c]
        pass_filenames: true

# Configuration for specific hooks
exclude: |
  (?x)^(
    build/.*|
    third_party/.*|
    docs/archive/.*|
    .*\.min\.js|
    .*\.min\.css
  )$

docs: M1 v2.3.1 native validation — 58/58, 22/22, isa=NEON block regenerated
  AGENTS.md
  PLAN.md
  docs/ACCURACY_CHARACTERIZATION.md
Due: check-copyright

docs(plan): milestone regroup — post-adoption patch renamed, four issues to v2.5.0
  PLAN.md
Due: check-copyright

docs(plan): corvus v1.0.0 tagged — v2.5.0 prerequisite (b) satisfied
  PLAN.md
Due: check-copyright

docs(plan): #103/#104 contracts settled — v2.5.0 prerequisite (c) satisfied
  PLAN.md
Due: check-copyright

docs(plan): v2.4.0 execution plan decided — branch topology, workstream order, subagent alignment
  PLAN.md
Due: check-copyright

docs(plan): v2.4.0 kickoff comments posted on #54/#55/#56
  PLAN.md
Due: check-copyright

feat(scaffold): register 8 v2.4.0 distribution slots (#54-#57)
  AGENTS.md
  include/libstats/core/dispatch_thresholds.h
  include/libstats/core/distribution_meta.h
  include/libstats/core/distribution_type.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

feat(bernoulli): add BernoulliDistribution as a delegation wrapper over Binomial(n=1)
  include/libstats/distributions/bernoulli.h
  src/bernoulli.cpp
  tests/test_bernoulli_basic.cpp
  tests/test_bernoulli_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

feat(erlang): add ErlangDistribution as a delegation wrapper over Gamma(k, lambda)
  include/libstats/distributions/erlang.h
  src/erlang.cpp
  tests/test_erlang_basic.cpp
  tests/test_erlang_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

build(v2.4.0): register Bernoulli and Erlang in the build and public API
  CMakeLists.txt
  include/libstats/core/error_handling.h
  include/libstats/libstats.h
  tests/CMakeLists.txt
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix(gamma): guard PDF/LogPDF against non-finite x per the #103 contract
  src/gamma.cpp
  tests/test_chi_squared_enhanced.cpp
  tests/test_gamma_enhanced.cpp
Due: check-copyright, no-debug-code, validate-includes

docs(agents): Defender exclusion joins the Windows one-time setup requirements
  AGENTS.md
Due: check-copyright

fix(erlang): guard operator>> against out-of-range and non-integral k
  src/erlang.cpp
Due: check-copyright, no-debug-code, validate-includes

docs(agents): name the Defender false-positive detection (Wacatac.B!ml)
  AGENTS.md
Due: check-copyright

fix(gamma): non-finite input guards for PDF/LogPDF (#103 contract) (#130)
  AGENTS.md
  src/gamma.cpp
  tests/test_chi_squared_enhanced.cpp
  tests/test_gamma_enhanced.cpp
Due: check-copyright, no-debug-code, validate-includes

feat: BernoulliDistribution + ErlangDistribution delegation wrappers (#55) (#131)
  CMakeLists.txt
  include/libstats/core/error_handling.h
  include/libstats/distributions/bernoulli.h
  include/libstats/distributions/erlang.h
  include/libstats/libstats.h
  src/bernoulli.cpp
  src/erlang.cpp
  tests/CMakeLists.txt
  tests/test_bernoulli_basic.cpp
  tests/test_bernoulli_enhanced.cpp
  tests/test_erlang_basic.cpp
  tests/test_erlang_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs(plan): v2.4.0 mid-flight state — #55 and gamma #103 guards merged, 60/60 integrated
  PLAN.md
Due: check-copyright

feat(half-normal): add HalfNormalDistribution — erf CDF pipeline (#57)
  CMakeLists.txt
  include/libstats/core/error_handling.h
  include/libstats/distributions/half_normal.h
  include/libstats/libstats.h
  src/half_normal.cpp
  tests/CMakeLists.txt
  tests/test_half_normal_basic.cpp
  tests/test_half_normal_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

feat: FDistribution (Fisher-Snedecor) with steered incomplete-beta tails (#56)
  CMakeLists.txt
  include/libstats/core/error_handling.h
  include/libstats/distributions/fisher_f.h
  include/libstats/libstats.h
  src/fisher_f.cpp
  tests/CMakeLists.txt
  tests/test_fisher_f_basic.cpp
  tests/test_fisher_f_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

feat(logistic): add LogisticDistribution with overflow-free SIMD pipeline (#54)
  CMakeLists.txt
  include/libstats/core/error_handling.h
  include/libstats/distributions/logistic.h
  include/libstats/libstats.h
  src/logistic.cpp
  tests/CMakeLists.txt
  tests/test_logistic_basic.cpp
  tests/test_logistic_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

feat(gumbel): add GumbelDistribution (max-stable, gumbel_r) with double-exp CDF (#54)
  CMakeLists.txt
  include/libstats/core/error_handling.h
  include/libstats/distributions/gumbel.h
  include/libstats/libstats.h
  src/gumbel.cpp
  tests/CMakeLists.txt
  tests/test_gumbel_basic.cpp
  tests/test_gumbel_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

feat(truncated-normal): add TruncatedNormalDistribution — regime-split erf/erfc normalization (#57)
  CMakeLists.txt
  include/libstats/distributions/truncated_normal.h
  include/libstats/libstats.h
  src/truncated_normal.cpp
  tests/CMakeLists.txt
  tests/test_truncated_normal_basic.cpp
  tests/test_truncated_normal_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

feat: LogisticDistribution + GumbelDistribution vector_exp pipelines (#54) (#132)
  CMakeLists.txt
  include/libstats/core/error_handling.h
  include/libstats/distributions/gumbel.h
  include/libstats/distributions/logistic.h
  include/libstats/libstats.h
  src/gumbel.cpp
  src/logistic.cpp
  tests/CMakeLists.txt
  tests/test_gumbel_basic.cpp
  tests/test_gumbel_enhanced.cpp
  tests/test_logistic_basic.cpp
  tests/test_logistic_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

feat: InverseGammaDistribution via reciprocal transform over Gamma (#56)
  CMakeLists.txt
  include/libstats/distributions/fisher_f.h
  include/libstats/distributions/inverse_gamma.h
  include/libstats/libstats.h
  src/inverse_gamma.cpp
  tests/CMakeLists.txt
  tests/test_inverse_gamma_basic.cpp
  tests/test_inverse_gamma_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

feat: HalfNormalDistribution + TruncatedNormalDistribution erf/erfc family (#57) (#133)
  CMakeLists.txt
  include/libstats/core/error_handling.h
  include/libstats/distributions/half_normal.h
  include/libstats/distributions/truncated_normal.h
  include/libstats/libstats.h
  src/half_normal.cpp
  src/truncated_normal.cpp
  tests/CMakeLists.txt
  tests/test_half_normal_basic.cpp
  tests/test_half_normal_enhanced.cpp
  tests/test_truncated_normal_basic.cpp
  tests/test_truncated_normal_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

feat: FDistribution + InverseGammaDistribution steered-tail wrappers (#56) (#134)
  CMakeLists.txt
  include/libstats/core/error_handling.h
  include/libstats/distributions/fisher_f.h
  include/libstats/distributions/inverse_gamma.h
  include/libstats/libstats.h
  src/fisher_f.cpp
  src/inverse_gamma.cpp
  tests/CMakeLists.txt
  tests/test_fisher_f_basic.cpp
  tests/test_fisher_f_enhanced.cpp
  tests/test_inverse_gamma_basic.cpp
  tests/test_inverse_gamma_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

test(labels): v2.4.0 enhanced binaries carry no timing label
  tests/CMakeLists.txt
Due: check-copyright

test(labels): v2.4.0 enhanced binaries carry no timing label (#135)
  tests/CMakeLists.txt
Due: check-copyright

docs(plan): v2.4.0 distributions complete on dev — all four workstreams merged, 74/74
  PLAN.md
Due: check-copyright

refactor(hygiene): v2.4.0 in-version cleanup — dead F stubs, Erlang pure delegation, integration coverage 19 -> 27
  include/libstats/core/math_utils.h
  include/libstats/distributions/erlang.h
  include/libstats/distributions/fisher_f.h
  src/erlang.cpp
  src/math_utils.cpp
  tests/CMakeLists.txt
  tests/compare_math_utils_with_scipy.py
  tests/test_integration_workflow.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

refactor(hygiene): dead F stubs deleted, Erlang pure delegation, integration coverage 27 (#139)
  include/libstats/core/math_utils.h
  include/libstats/distributions/erlang.h
  include/libstats/distributions/fisher_f.h
  src/erlang.cpp
  src/math_utils.cpp
  tests/CMakeLists.txt
  tests/compare_math_utils_with_scipy.py
  tests/test_integration_workflow.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs(plan): 2026-09-03 close-out — hygiene PR #139, issues #136-#138 + libhmm#103 filed, sweep extension staged
  PLAN.md
Due: check-copyright

feat(sweep): accuracy_sweep covers the v2.4.0 eight (6063 -> 9030 rows)
  tools/CMakeLists.txt
  tools/accuracy_sweep.cpp
Due: check-copyright, no-debug-code, validate-includes

feat(oracle): mpmath references for the v2.4.0 eight (42 -> 68 self-checks)
  tools/accuracy_vs_mpmath.py
Due: check-copyright

docs(accuracy): regenerate the Zen 4 AVX-512 block on the 9030-row grid
  docs/ACCURACY_CHARACTERIZATION.md
Due: check-copyright

feat(accuracy): extend sweep/oracle to the v2.4.0 eight (6063 -> 9030 rows) (#140)
  docs/ACCURACY_CHARACTERIZATION.md
  tools/CMakeLists.txt
  tools/accuracy_sweep.cpp
  tools/accuracy_vs_mpmath.py
Due: check-copyright, no-debug-code, validate-includes

fix(gamma): finite deep-tail quantiles and batch CDF(+inf) (#104, #103)
  src/gamma.cpp
  tests/test_erlang_enhanced.cpp
  tests/test_gamma_enhanced.cpp
Due: check-copyright, no-debug-code, validate-includes

fix(fisher_f): keep CDF/SF beta argument alive through the denormal band
  src/fisher_f.cpp
  tests/test_fisher_f_enhanced.cpp
Due: check-copyright, no-debug-code, validate-includes

fix(truncated_normal): series CDF in the near-lower-bound band
  src/truncated_normal.cpp
  tests/test_truncated_normal_enhanced.cpp
Due: check-copyright, no-debug-code, validate-includes

fix(oracle): score correctly-overflowed +-inf as correct beyond double range
  tools/accuracy_vs_mpmath.py
Due: check-copyright
