Repository OldCrow/libstats: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pragma-once, check-copyright, no-debug-code, validate-includes

.pre-commit-config.yaml:

# Pre-commit hooks configuration for libstats
# Run: pre-commit install to set up the git hook scripts
# Then pre-commit will run automatically on git commit

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_language_version:
  python: python3

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: Fix trailing whitespace
      - id: end-of-file-fixer
        name: Fix missing newline at end of file
      - id: check-yaml
        name: Check YAML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: check-case-conflict
        name: Check for case conflicts
      - id: mixed-line-ending
        name: Check line endings
        args: ['--fix=lf']
      - id: check-symlinks
        name: Check for broken symlinks
      - id: check-executables-have-shebangs
        name: Check executables have shebangs
      - id: check-shebang-scripts-are-executable
        name: Check scripts with shebangs are executable

  # C++ formatting with clang-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.8
    hooks:
      - id: clang-format
        name: Format C++ code with clang-format
        types_or: [c++, c]
        args: ['-i', '--style=file']
        files: \.(cpp|cc|cxx|hpp|h|hxx)$

  # CMake formatting and linting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        name: Format CMake files
        args: ['--config=.cmake-format.yaml', '--in-place']
        additional_dependencies: ["pyyaml"]

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        name: Check shell scripts
        args: ['--severity=warning']

  # Markdown formatting (Ruby-based for better compatibility)
#  - repo: https://github.com/markdownlint/markdownlint
#    rev: v0.13.0
#    hooks:
#      - id: markdownlint
#        name: Lint markdown files
#        args: ["-s", ".markdownlint-style.rb"]

  # Check for secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: Detect secrets
        args: ['--baseline', '.secrets.baseline']
        additional_dependencies: ['detect-secrets']

  # Custom local hooks for libstats-specific checks
  - repo: local
    hooks:
      - id: check-pragma-once
        name: Check for #pragma once in headers
        entry: scripts/check-pragma-once.sh
        language: script
        files: \.(h|hpp|hxx)$
        pass_filenames: true

      - id: check-copyright
        name: Check copyright headers
        entry: scripts/check-copyright.sh
        language: script
        types: [text]
        exclude: ^(\.git/|build/|third_party/|docs/archive/)

      - id: no-debug-code
        name: Check for debug code
        entry: scripts/check-no-debug.sh
        language: script
        types_or: [c++, c]
        pass_filenames: true

      - id: validate-includes
        name: Validate include order
        entry: scripts/validate-includes.sh
        language: script
        types_or: [c++, c]
        pass_filenames: true

# Configuration for specific hooks
exclude: |
  (?x)^(
    build/.*|
    third_party/.*|
    docs/archive/.*|
    .*\.min\.js|
    .*\.min\.css
  )$

docs(agents): fold the path-scoped rules back in; keep the routing split
  .claude/rules/cmake.md
  .claude/rules/cpp-conventions.md
  .claude/rules/simd-kernels.md
  AGENTS.md
Due: check-copyright

docs(agents): correct the note on why path-scoped rules were dropped
  AGENTS.md
Due: check-copyright

docs(agents): reference DOC-CONVENTIONS.md in the reading map
  AGENTS.md
Due: check-copyright

docs(validation): move the Zen 4 frequency-scaling note out of AGENTS.md
  AGENTS.md
  docs/VALIDATION_HISTORY.md
Due: check-copyright

docs(plan): record the un-actioned findings from the 2026-09-07 context audit
  PLAN.md
Due: check-copyright

docs: move build navigation detail and the #97 incident out of AGENTS.md
  AGENTS.md
  PLAN.md
  docs/BUILD_SYSTEM_GUIDE.md
Due: check-copyright

docs(plan): record the stale-branch reconciliation owed on the M1
  PLAN.md
Due: check-copyright

docs(plan): scope the clean_gone block to the M1; carry corvus #37 into v2.5.0 prep
  PLAN.md
Due: check-copyright

docs(plan): 3(a) done — the x86-vs-NEON erf premise does not hold
  PLAN.md
Due: check-copyright

docs(plan): v2.5.0 adoption scoping done — full-swap width, five issues re-homed
  PLAN.md
Due: check-copyright

docs(plan): price the corvus dependency for pylibstats wheels
  PLAN.md
Due: check-copyright

docs(uml): regenerate the four architecture diagrams for the v2.4.0 surface
  PLAN.md
  docs/UML/STYLE.md
  docs/UML/class-hierarchy.svg
  docs/UML/dispatch-pipeline.svg
  docs/UML/gen_class_hierarchy.py
  docs/UML/gen_dispatch.py
  docs/UML/index.html
  docs/UML/result-factory-flow.svg
  docs/UML/thread-safety-cache.svg
Due: check-copyright

fix(parallel): parallelReduce and parallelStatOperation wait for all chunks before rethrowing (#127)
  AGENTS.md
  docs/PARALLEL_BATCH_PROCESSING_GUIDE.md
  include/libstats/platform/thread_pool.h
  tests/test_parallel_exception_propagation.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix(discrete): NegBin/Geometric carry the count in double — no int narrowing past INT_MAX (#125)
  src/negative_binomial.cpp
  tests/test_discrete_quantile_bounds.cpp
Due: check-copyright, no-debug-code, validate-includes

docs(plan): exercise the #125/#127 contingency as a v2.4.1 patch slice
  PLAN.md
Due: check-copyright

test(discrete): derive the past-INT_MAX CDF tolerance from beta_i's lgamma floor (#125)
  tests/test_discrete_quantile_bounds.cpp
Due: check-copyright, no-debug-code, validate-includes

chore(release): v2.4.1 version bump and doc set
  AGENTS.md
  CHANGELOG.md
  CMakeLists.txt
  PLAN.md
  PROJECT_CONCEPT.md
  README.md
Due: check-copyright

docs(plan): pin corvus v1.0.1 at adoption; v2.4.1 items re-homed to milestone #9
  PLAN.md
Due: check-copyright

docs(plan): file #152 coverage measurement; record fleet coverage scope
  PLAN.md
Due: check-copyright

docs(plan): return from travel — catch-up legs, pre-swap baseline, workplan link
  PLAN.md
Due: check-copyright

docs: P5 Zen 4 catch-up done; fix Windows artifact paths
  AGENTS.md
  PLAN.md
Due: check-copyright

docs(accuracy): regenerate AVX-512 block at v2.4.1 — 34 → 32
  PLAN.md
  docs/ACCURACY_CHARACTERIZATION.md
Due: check-copyright

docs(accuracy): regenerate AVX2 block at v2.4.1 — 34 → 32
  PLAN.md
  docs/ACCURACY_CHARACTERIZATION.md
Due: check-copyright

docs(accuracy): regenerate NEON block at v2.4.1 on macOS 27 — 32 → 32
  AGENTS.md
  PLAN.md
  docs/ACCURACY_CHARACTERIZATION.md
Due: check-copyright

docs(plan): M1 pre-upgrade build dirs wiped
  PLAN.md
Due: check-copyright

chore(agents): expose .claude/skills at .agents/skills via symlink
  .agents/skills
Due: check-copyright

docs(plan): record the .agents/skills symlink decision
  PLAN.md
Due: check-copyright

docs(plan): decide constant-argument corvus calls — block-filled spans in the vector_* adapters
  PLAN.md
Due: check-copyright

docs(plan): milestone #8 bucketing pass — A/B/C by whether adoption changes the answer
  PLAN.md
Due: check-copyright

fix(tests): measure speedup gates in steady state, with the paths interleaved (#129, #168)
  PLAN.md
  tests/include/validators.h
  tests/test_cauchy_enhanced.cpp
  tests/test_discrete_enhanced.cpp
  tests/test_exponential_enhanced.cpp
  tests/test_gamma_enhanced.cpp
  tests/test_gaussian_enhanced.cpp
  tests/test_laplace_enhanced.cpp
  tests/test_lognormal_enhanced.cpp
  tests/test_math_comprehensive.cpp
  tests/test_pareto_enhanced.cpp
  tests/test_poisson_enhanced.cpp
  tests/test_rayleigh_enhanced.cpp
  tests/test_uniform_enhanced.cpp
  tests/test_weibull_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

feat(corvus): corvus is the special-function engine — find-or-fetch, adapters, cores retired
  CMakeLists.txt
  cmake/FindOrFetchCorvus.cmake
  cmake/libstats-config.cmake.in
  include/libstats/core/math_utils.h
  src/math_utils.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

feat(corvus): inverses, hot CDF loops, Bessel — increments 2 and 3 of the v2.5.0 swap
  CMakeLists.txt
  PLAN.md
  cmake/libstats_config.h.in
  include/libstats/core/bessel.h
  include/libstats/core/math_utils.h
  include/libstats/distributions/von_mises.h
  src/beta.cpp
  src/gamma.cpp
  src/gaussian.cpp
  src/half_normal.cpp
  src/math_utils.cpp
  src/poisson.cpp
  src/student_t.cpp
  src/truncated_normal.cpp
  tests/CMakeLists.txt
  tests/test_bessel.cpp
  tests/test_bessel_tier.cpp
  tools/accuracy_vs_mpmath.py
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

feat(corvus): the elementary family is corvus — exp/log/erf/cos/sin tier kernels retired
  CMakeLists.txt
  docs/NEON_ERF_DERIVATION.md
  docs/NEON_ERF_DIVERGENCE_AUDIT.md
  docs/NEON_LOG_DERIVATION.md
  docs/NEON_LOG_DIVERGENCE_AUDIT.md
  docs/NEON_TRIG_DERIVATION.md
  docs/NEON_TRIG_DIVERGENCE_AUDIT.md
  include/libstats/platform/simd.h
  scripts/README.md
  scripts/gen_avx512_exp_table.py
  scripts/gen_neon_erf_table.py
  scripts/gen_neon_exp_table.py
  scripts/gen_neon_log_cleanroom_table.py
  scripts/gen_neon_log_table.py
  scripts/gen_neon_trig_cleanroom_table.py
  scripts/gen_trig_cleanroom_table.py
  src/avx512_exp_data.inc
  src/neon_erf_data.inc
  src/neon_exp_data.inc
  src/neon_log_cleanroom_data.inc
  src/neon_log_data.inc
  src/neon_trig_cleanroom_data.inc
  src/simd_avx.cpp
  src/simd_avx2.cpp
  src/simd_avx512.cpp
  src/simd_dispatch.cpp
  src/simd_fallback.cpp
  src/simd_neon.cpp
  src/simd_sse2.cpp
  src/trig_cleanroom_data.inc
  tests/test_log_special_gates.cpp
  tests/test_simd_neon_cos_accuracy.cpp
  tests/test_simd_neon_exp_accuracy.cpp
  tests/test_simd_neon_log_accuracy.cpp
  tests/test_trig_ulp_gates.cpp
  tools/CMakeLists.txt
  tools/gather_throughput_probe.cpp
  tools/neon_table_transcendental_probe.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

perf: revert the PMF lgamma routing; record the v2.4.1 → v2.5.0 comparatives; park the branch on corvus throughput
  .github/workflows/ci.yml
  CHANGELOG.md
  PLAN.md
  docs/CI_CD_GUIDE.md
  docs/SIMD_OPTIMIZATION_REFERENCE.md
  src/binomial.cpp
  src/negative_binomial.cpp
  tools/bench/README.md
  tools/bench/corvus_scaling_bench.cpp
  tools/bench/distributions_bench.cpp
  tools/bench/elementary_bench.cpp
Due: check-copyright, no-debug-code, validate-includes

ci(sanitizers): 60-minute budget and SSE-only corvus targets — the leg now compiles corvus and Highway under ASan/UBSan
  .github/workflows/ci.yml
Due: check-copyright

feat(corvus): PMF lgamma loops, notices, CI install leg and pin canary, docs — increment 5
  .github/workflows/ci.yml
  AGENTS.md
  CHANGELOG.md
  PLAN.md
  README.md
  THIRD_PARTY_NOTICES.md
  docs/BUILD_SYSTEM_GUIDE.md
  docs/CI_CD_GUIDE.md
  docs/SIMD_OPTIMIZATION_REFERENCE.md
  src/binomial.cpp
  src/negative_binomial.cpp
Due: check-copyright, no-debug-code, validate-includes

docs(plan): session state 2026-09-30
  PLAN.md
Due: check-copyright

docs(plan): v2.4.2 milestone filed — #157–#162; audits recorded
  PLAN.md
Due: check-copyright

docs(plan): CI green on dev/v2.5.0-corvus at 01ade5c
  PLAN.md
Due: check-copyright

docs(plan): replay of v2.5.0 grid on v2.4.1 — #163–#167 filed
  PLAN.md
Due: check-copyright
