Repository OldCrow/libstats: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pragma-once, check-copyright, no-debug-code, validate-includes

.pre-commit-config.yaml:

# Pre-commit hooks configuration for libstats
# Run: pre-commit install to set up the git hook scripts
# Then pre-commit will run automatically on git commit

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_language_version:
  python: python3

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: Fix trailing whitespace
      - id: end-of-file-fixer
        name: Fix missing newline at end of file
      - id: check-yaml
        name: Check YAML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: check-case-conflict
        name: Check for case conflicts
      - id: mixed-line-ending
        name: Check line endings
        args: ['--fix=lf']
      - id: check-symlinks
        name: Check for broken symlinks
      - id: check-executables-have-shebangs
        name: Check executables have shebangs
      - id: check-shebang-scripts-are-executable
        name: Check scripts with shebangs are executable

  # C++ formatting with clang-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.8
    hooks:
      - id: clang-format
        name: Format C++ code with clang-format
        types_or: [c++, c]
        args: ['-i', '--style=file']
        files: \.(cpp|cc|cxx|hpp|h|hxx)$

  # CMake formatting and linting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        name: Format CMake files
        args: ['--config=.cmake-format.yaml', '--in-place']
        additional_dependencies: ["pyyaml"]

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        name: Check shell scripts
        args: ['--severity=warning']

  # Markdown formatting (Ruby-based for better compatibility)
#  - repo: https://github.com/markdownlint/markdownlint
#    rev: v0.13.0
#    hooks:
#      - id: markdownlint
#        name: Lint markdown files
#        args: ["-s", ".markdownlint-style.rb"]

  # Check for secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: Detect secrets
        args: ['--baseline', '.secrets.baseline']
        additional_dependencies: ['detect-secrets']

  # Custom local hooks for libstats-specific checks
  - repo: local
    hooks:
      - id: check-pragma-once
        name: Check for #pragma once in headers
        entry: scripts/check-pragma-once.sh
        language: script
        files: \.(h|hpp|hxx)$
        pass_filenames: true

      - id: check-copyright
        name: Check copyright headers
        entry: scripts/check-copyright.sh
        language: script
        types: [text]
        exclude: ^(\.git/|build/|third_party/|docs/archive/)

      - id: no-debug-code
        name: Check for debug code
        entry: scripts/check-no-debug.sh
        language: script
        types_or: [c++, c]
        pass_filenames: true

      - id: validate-includes
        name: Validate include order
        entry: scripts/validate-includes.sh
        language: script
        types_or: [c++, c]
        pass_filenames: true

# Configuration for specific hooks
exclude: |
  (?x)^(
    build/.*|
    third_party/.*|
    docs/archive/.*|
    .*\.min\.js|
    .*\.min\.css
  )$

fix(ci): update avx512-compilation.yml to gcc-13/clang-17
  .github/workflows/avx512-compilation.yml
Due: check-copyright

fix: v1.5.3 — bugfixes, deprecation sweep, VonMises pass, CI/docs hygiene (#39)
  .github/workflows/avx512-compilation.yml
  .github/workflows/ci.yml
  AGENTS.md
  CMakeLists.txt
  README.md
  cmake/libstats-config.cmake.in
  include/core/distribution_base.h
  include/core/distribution_memory.h
  include/core/performance_dispatcher.h
  include/distributions/beta.h
  include/distributions/binomial.h
  include/distributions/chi_squared.h
  include/distributions/discrete.h
  include/distributions/exponential.h
  include/distributions/gamma.h
  include/distributions/gaussian.h
  include/distributions/lognormal.h
  include/distributions/negative_binomial.h
  include/distributions/pareto.h
  include/distributions/poisson.h
  include/distributions/rayleigh.h
  include/distributions/student_t.h
  include/distributions/uniform.h
  include/distributions/von_mises.h
  include/distributions/weibull.h
  include/libstats.h
  src/uniform.cpp
  src/von_mises.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

refactor!: move validateParameter family to namespace stats::detail
  include/common/distribution_common.h
  src/beta.cpp
  src/binomial.cpp
  src/chi_squared.cpp
  src/discrete.cpp
  src/exponential.cpp
  src/gamma.cpp
  src/gaussian.cpp
  src/lognormal.cpp
  src/negative_binomial.cpp
  src/pareto.cpp
  src/poisson.cpp
  src/rayleigh.cpp
  src/student_t.cpp
  src/uniform.cpp
  src/von_mises.cpp
  src/weibull.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

build!: platform baseline + CI matrix — step 1 & 2 of v2.0.0
  .github/workflows/avx512-compilation.yml
  .github/workflows/ci.yml
  CMakeLists.txt
  include/common/distribution_common.h
  include/platform/internal/type_traits.h
  src/exponential.cpp
  src/gaussian.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

refactor!: replace DistributionTraits<> SFINAE with C++20 concepts — step 3
  include/core/dispatch_utils.h
  include/core/distribution_concepts.h
  include/distributions/beta.h
  include/distributions/binomial.h
  include/distributions/chi_squared.h
  include/distributions/discrete.h
  include/distributions/exponential.h
  include/distributions/gamma.h
  include/distributions/gaussian.h
  include/distributions/lognormal.h
  include/distributions/negative_binomial.h
  include/distributions/pareto.h
  include/distributions/poisson.h
  include/distributions/rayleigh.h
  include/distributions/student_t.h
  include/distributions/uniform.h
  include/distributions/von_mises.h
  include/distributions/weibull.h
  src/beta.cpp
  src/binomial.cpp
  src/discrete.cpp
  src/exponential.cpp
  src/gamma.cpp
  src/gaussian.cpp
  src/lognormal.cpp
  src/negative_binomial.cpp
  src/pareto.cpp
  src/poisson.cpp
  src/rayleigh.cpp
  src/student_t.cpp
  src/uniform.cpp
  src/von_mises.cpp
  src/weibull.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

refactor!: extract analysis utilities to stats::analysis namespace (Step 5)
  CMakeLists.txt
  examples/statistical_validation_demo.cpp
  include/core/statistical_utilities.h
  include/distributions/discrete.h
  include/distributions/exponential.h
  include/distributions/gamma.h
  include/distributions/gaussian.h
  include/distributions/poisson.h
  include/distributions/uniform.h
  include/stats/analysis/analysis.h
  include/stats/analysis/bootstrap.h
  include/stats/analysis/cross_validation.h
  include/stats/analysis/gaussian_analysis.h
  include/stats/analysis/goodness_of_fit.h
  include/stats/analysis/information_criteria.h
  src/discrete.cpp
  src/exponential.cpp
  src/gamma.cpp
  src/gaussian.cpp
  src/gaussian_analysis.cpp
  src/lognormal.cpp
  src/poisson.cpp
  src/uniform.cpp
  tests/test_discrete_enhanced.cpp
  tests/test_exponential_enhanced.cpp
  tests/test_gamma_enhanced.cpp
  tests/test_gaussian_enhanced.cpp
  tests/test_goodness_of_fit.cpp
  tests/test_poisson_enhanced.cpp
  tests/test_uniform_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

feat!: noexcept move ctors, WorkStealingPool per-call fence, full analysis test coverage (Step 6)
  CMakeLists.txt
  include/distributions/beta.h
  include/distributions/binomial.h
  include/distributions/chi_squared.h
  include/distributions/discrete.h
  include/distributions/exponential.h
  include/distributions/gamma.h
  include/distributions/gaussian.h
  include/distributions/lognormal.h
  include/distributions/negative_binomial.h
  include/distributions/pareto.h
  include/distributions/poisson.h
  include/distributions/rayleigh.h
  include/distributions/student_t.h
  include/distributions/uniform.h
  include/distributions/von_mises.h
  include/distributions/weibull.h
  include/platform/work_stealing_pool.h
  src/beta.cpp
  src/binomial.cpp
  src/chi_squared.cpp
  src/discrete.cpp
  src/exponential.cpp
  src/gamma.cpp
  src/gaussian.cpp
  src/lognormal.cpp
  src/negative_binomial.cpp
  src/pareto.cpp
  src/poisson.cpp
  src/rayleigh.cpp
  src/student_t.cpp
  src/uniform.cpp
  src/von_mises.cpp
  src/weibull.cpp
  tests/test_copy_move_stress.cpp
  tests/test_gaussian_analysis.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs: Result<T> trajectory decision + AGENTS.md v2.0.0 updates (Steps 7-8)
  AGENTS.md
  include/core/error_handling.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix: address LP-5 LP-6 LP-7 LP-8 LP-9 LP-11 LP-14 (audit LP items, source fixes)
  include/core/dispatch_utils.h
  include/core/distribution_base.h
  include/distributions/beta.h
  include/distributions/chi_squared.h
  include/distributions/gamma.h
  include/distributions/student_t.h
  include/libstats.h
  src/beta.cpp
  src/distribution_base.cpp
  src/gamma.cpp
  src/student_t.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

build: address LP-1 LP-2 LP-3 LP-4 LP-13 (audit LP items, CMake fixes)
  CMakeLists.txt
  cmake/SIMDDetection.cmake
Due: check-copyright

feat!: Phase 1 finalization — distribution analysis APIs + gaussian correctness fixes
  CMakeLists.txt
  include/distributions/exponential.h
  include/distributions/gamma.h
  include/distributions/poisson.h
  include/stats/analysis/binomial_analysis.h
  include/stats/analysis/exponential_analysis.h
  include/stats/analysis/gamma_analysis.h
  include/stats/analysis/poisson_analysis.h
  src/binomial_analysis.cpp
  src/exponential.cpp
  src/exponential_analysis.cpp
  src/gamma.cpp
  src/gamma_analysis.cpp
  src/gaussian_analysis.cpp
  src/poisson.cpp
  src/poisson_analysis.cpp
  tests/test_distribution_analysis.cpp
  tests/test_poisson_analysis.cpp
  tests/test_poisson_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

build: Phase 2 CMake cleanup — threading consolidation, libc++ migration, vestigial probe removal
  CMakeLists.txt
Due: check-copyright

docs: v2.0.0 documentation finalization sweep
  AGENTS.md
  README.md
  docs/ACADEMIC_REFERENCES.md
  docs/AVX512_TESTING_GUIDE.md
  docs/BUILD_SYSTEM_GUIDE.md
  docs/CI_CD_DEBUGGING_GUIDE.md
  docs/CI_CD_GUIDE.md
  docs/CI_CD_SETUP.md
  docs/HEADER_ARCHITECTURE_GUIDE.md
  docs/HEADER_TOOLS_GUIDE.md
  docs/PARALLEL_BATCH_PROCESSING_GUIDE.md
  docs/SIMD_BENCHMARK_RESULTS.md
  docs/SIMD_OPTIMIZATION_REFERENCE.md
  docs/distribution_mutability.md
  docs/macos_homebrew_llvm_cpp20_setup.md
  docs/test_architecture.md
Due: check-copyright

fix: remediate Batch 1 thread-safety and cache validity findings
  include/core/distribution_cache.h
  include/distributions/beta.h
  include/distributions/binomial.h
  include/distributions/discrete.h
  include/distributions/exponential.h
  include/distributions/gamma.h
  include/distributions/gaussian.h
  include/distributions/lognormal.h
  include/distributions/negative_binomial.h
  include/distributions/pareto.h
  include/distributions/poisson.h
  include/distributions/rayleigh.h
  include/distributions/student_t.h
  include/distributions/uniform.h
  include/distributions/von_mises.h
  include/distributions/weibull.h
  src/binomial.cpp
  src/exponential.cpp
  src/gamma.cpp
  src/lognormal.cpp
  src/poisson.cpp
  tests/test_atomic_parameters.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix: remediate Batch 2 mathematical correctness findings
  CMakeLists.txt
  src/binomial.cpp
  src/gamma.cpp
  src/gaussian.cpp
  src/poisson.cpp
  tests/test_batch_math_regressions.cpp
Due: check-copyright, no-debug-code, validate-includes

build: remediate Batch 3 packaging CI and cpu detection findings
  .github/workflows/avx512-compilation.yml
  .github/workflows/avx512-testing.yml
  .github/workflows/release.yml
  CMakeLists.txt
  consumer_example_fetchcontent/CMakeLists.txt
  src/cpu_detection.cpp
Due: check-copyright, no-debug-code, validate-includes

test: restore signal in v2.0.0 batch and concurrency tests
  tests/include/fixtures.h
  tests/test_copy_move_stress.cpp
  tests/test_gamma_enhanced.cpp
  tests/test_gaussian_enhanced.cpp
  tests/test_work_stealing_pool.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

v2.0.0 Batch 5A+5D: analysis API/math correctness and version bump
  include/distributions/gaussian.h
  include/libstats.h
  include/stats/analysis/goodness_of_fit.h
  src/binomial.cpp
  src/gaussian_analysis.cpp
  tests/test_discrete_enhanced.cpp
  tests/test_goodness_of_fit.cpp
  tests/test_poisson_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

build: replace include shim flat copy with symlink on macOS/Linux
  CMakeLists.txt
Due: check-copyright

docs: v2.0.0 release documentation and v1-to-v2 migration guide
  CHANGELOG.md
  CONTRIBUTING.md
  MIGRATION_GUIDE.md
  README.md
  docs/BUILD_SYSTEM_GUIDE.md
  include/distributions/beta.h
  include/distributions/binomial.h
  include/distributions/chi_squared.h
  include/distributions/discrete.h
  include/distributions/exponential.h
  include/distributions/gamma.h
  include/distributions/gaussian.h
  include/distributions/lognormal.h
  include/distributions/negative_binomial.h
  include/distributions/pareto.h
  include/distributions/poisson.h
  include/distributions/rayleigh.h
  include/distributions/student_t.h
  include/distributions/uniform.h
  include/distributions/von_mises.h
  include/distributions/weibull.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

refactor: API and structural cleanup Batches 5B-5G
  include/core/dispatch_thresholds.h
  include/core/dispatch_utils.h
  include/core/distribution_base.h
  include/core/distribution_concepts.h
  include/core/error_handling.h
  include/distributions/beta.h
  include/distributions/chi_squared.h
  include/distributions/student_t.h
  include/platform/cpu_vendor_constants.h
  include/platform/platform_constants.h
  include/platform/simd.h
  include/stats/analysis/bootstrap.h
  include/stats/analysis/cross_validation.h
  include/stats/analysis/goodness_of_fit.h
  src/beta.cpp
  src/binomial.cpp
  src/chi_squared.cpp
  src/discrete.cpp
  src/distribution_base.cpp
  src/exponential.cpp
  src/gamma.cpp
  src/gaussian.cpp
  src/lognormal.cpp
  src/negative_binomial.cpp
  src/pareto.cpp
  src/poisson.cpp
  src/rayleigh.cpp
  src/student_t.cpp
  src/uniform.cpp
  src/von_mises.cpp
  src/weibull.cpp
  tests/test_thread_pool.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

refactor: remaining plan items MC-14/15 AR-2/3 AQ-1/2 SA-5
  CMakeLists.txt
  include/core/distribution_concepts.h
  include/core/distribution_type.h
  include/core/performance_dispatcher.h
  include/core/validation.h
  include/platform/simd_policy.h
  include/stats/analysis/cross_validation.h
  src/binomial.cpp
  src/poisson.cpp
  src/validation.cpp
  tests/test_validation_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

refactor: remaining plan items MC-14/15 AR-2/3 AQ-1/2/4 SA-5
  include/platform/platform_constants.h
  tests/test_constants.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

chore: housekeeping Batch 7A
  AGENTS.md
  include/distributions/beta.h
  include/distributions/binomial.h
  include/distributions/chi_squared.h
  include/distributions/discrete.h
  include/distributions/exponential.h
  include/distributions/gamma.h
  include/distributions/gaussian.h
  include/distributions/lognormal.h
  include/distributions/negative_binomial.h
  include/distributions/pareto.h
  include/distributions/poisson.h
  include/distributions/rayleigh.h
  include/distributions/student_t.h
  include/distributions/uniform.h
  include/distributions/von_mises.h
  include/distributions/weibull.h
  include/stats/analysis/bootstrap.h
  include/stats/analysis/cross_validation.h
  include/stats/analysis/goodness_of_fit.h
  include/stats/analysis/information_criteria.h
  src/work_stealing_pool.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

feat/refactor: Batch 7B — survival/hazard, CV simplification, CCN reduction
  examples/statistical_validation_demo.cpp
  include/core/distribution_base.h
  include/core/distribution_concepts.h
  include/stats/analysis/cross_validation.h
  src/gaussian_analysis.cpp
  tests/test_discrete_enhanced.cpp
  tests/test_exponential_enhanced.cpp
  tests/test_gamma_enhanced.cpp
  tests/test_gaussian_enhanced.cpp
  tests/test_goodness_of_fit.cpp
  tests/test_poisson_enhanced.cpp
  tests/test_uniform_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix: remove dead strategyToHint functions; suppress EXPECT_THROW nodiscard warnings
  src/beta.cpp
  src/student_t.cpp
  tests/include/fixtures.h
  tests/test_distribution_analysis.cpp
  tests/test_gaussian_analysis.cpp
  tests/test_poisson_analysis.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix: remediate code review #2 findings (24 items)
  CMakeLists.txt
  CONTRIBUTING.md
  MIGRATION_GUIDE.md
  include/core/parallel_batch_fit.h
  include/distributions/beta.h
  include/distributions/binomial.h
  include/distributions/chi_squared.h
  include/distributions/gaussian.h
  include/distributions/student_t.h
  include/libstats.h
  include/stats/analysis/gaussian_analysis.h
  include/stats/analysis/goodness_of_fit.h
  src/exponential.cpp
  src/gaussian.cpp
  src/gaussian_analysis.cpp
  src/lognormal.cpp
  src/poisson.cpp
  src/uniform.cpp
  tests/test_gamma_enhanced.cpp
  tests/test_gaussian_analysis.cpp
  tests/test_goodness_of_fit.cpp
  tools/simd_verification.cpp
  tools/strategy_profile.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix: complete v2.0.x cleanup items (14 items)
  .github/workflows/ci.yml
  AGENTS.md
  CMakeLists.txt
  README.md
  include/platform/cpu_detection.h
  include/platform/platform_constants.h
  include/stats/analysis/analysis.h
  src/cpu_detection.cpp
  tests/include/fixtures.h
  tests/include/validators.h
  tests/test_atomic_parameters.cpp
  tests/test_copy_move_stress.cpp
  tests/test_goodness_of_fit.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs: record Mac Mini M1 v2.0.0 validation (42/42 NEON)
  AGENTS.md
Due: check-copyright

fix: add missing cmake/libstats_version.h.in to version control
  cmake/libstats_version.h.in
Due: check-copyright

fix: add missing discrete_analysis.h and discrete_analysis.cpp
  include/stats/analysis/discrete_analysis.h
  src/discrete_analysis.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix: Batch 9A critical concurrency and UB (Reviews 3 and 4)
  include/core/debug_flags.h
  include/platform/work_stealing_pool.h
  src/lognormal.cpp
  src/poisson.cpp
  src/von_mises.cpp
  src/weibull.cpp
  src/work_stealing_pool.cpp
  tests/test_work_stealing_pool.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix: Batch 9B distribution math and fit correctness (Reviews 3 and 4)
  src/beta.cpp
  src/binomial.cpp
  src/gamma.cpp
  src/negative_binomial.cpp
  src/von_mises.cpp
Due: check-copyright, no-debug-code, validate-includes

fix: Batch 9C analysis and API correctness (Reviews 3 and 4)
  include/distributions/beta.h
  include/distributions/binomial.h
  include/distributions/chi_squared.h
  include/distributions/discrete.h
  include/distributions/exponential.h
  include/distributions/gamma.h
  include/distributions/gaussian.h
  include/distributions/lognormal.h
  include/distributions/negative_binomial.h
  include/distributions/pareto.h
  include/distributions/poisson.h
  include/distributions/rayleigh.h
  include/distributions/student_t.h
  include/distributions/uniform.h
  include/distributions/von_mises.h
  include/distributions/weibull.h
  include/stats/analysis/bootstrap.h
  include/stats/analysis/cross_validation.h
  include/stats/analysis/goodness_of_fit.h
  tests/test_goodness_of_fit.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix: Batch 9D test signal and formatting (Reviews 3 and 4)
  src/pareto.cpp
  src/simd_dispatch.cpp
  tests/test_batch_math_regressions.cpp
  tests/test_gamma_enhanced.cpp
  tests/test_lognormal_enhanced.cpp
  tests/test_pareto_enhanced.cpp
  tests/test_rayleigh_enhanced.cpp
  tests/test_von_mises_enhanced.cpp
  tests/test_weibull_enhanced.cpp
Due: check-copyright, no-debug-code, validate-includes

fix: Batch 9E tools examples and archival cleanup (Reviews 3 and 4)
  examples/performance_learning_demo.cpp
  scripts/README.md
  scripts/check_collisions.py
  scripts/find_magic_numbers.sh
  scripts/run-iwyu.sh
  tools/README.md
  tools/analyze_magic_numbers.py
  tools/compilation_benchmark.py
  tools/demo_phase1_optimization.py
  tools/demo_phase2_optimization.py
  tools/find_unsafe_constructor_usage.py
  tools/header_dashboard.py
  tools/header_insights.py
  tools/math_cache_benchmark.py
  tools/replace_domain_constants.py
  tools/replace_magic_numbers.py
  tools/simd_verification.cpp
  tools/static_analysis.py
  tools/strategy_profile.cpp
  tools/test_include_analysis.cpp
Due: check-copyright, no-debug-code, validate-includes

fix: performance_learning_demo dynamic OBSERVATION replaces hardcoded NOTE
  examples/performance_learning_demo.cpp
Due: check-copyright, no-debug-code, validate-includes

fix: proactive audit sweep — thread-safety, UB, and CDF correctness
  src/beta.cpp
  src/binomial.cpp
  src/chi_squared.cpp
  src/discrete.cpp
  src/gamma.cpp
  src/negative_binomial.cpp
  src/pareto.cpp
  src/rayleigh.cpp
  src/student_t.cpp
  src/uniform.cpp
  src/von_mises.cpp
Due: check-copyright, no-debug-code, validate-includes
