Repository OldCrow/libstats: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pragma-once, check-copyright, no-debug-code, validate-includes

check-pragma-once:
  name: Check for
  entry: scripts/check-pragma-once.sh
  language: script
  pass_filenames: true

check-copyright:
  name: Check copyright headers
  entry: scripts/check-copyright.sh
  language: script

no-debug-code:
  name: Check for debug code
  entry: scripts/check-no-debug.sh
  language: script
  pass_filenames: true

validate-includes:
  name: Validate include order
  entry: scripts/validate-includes.sh
  language: script
  pass_filenames: true

fix(ci): specify x64 architecture for Windows MSVC builds
  .github/workflows/ci.yml
Due: check-copyright

fix(ci): add explicit x64 arch to MSVC dev environment setup
  .github/workflows/ci.yml
Due: check-copyright

fix: add clang-format directives to preserve Windows header order
  src/cpu_detection.cpp
Due: check-copyright, no-debug-code, validate-includes

chore(release): 0.10.0 [skip ci]
  CHANGELOG.md
Due: check-copyright

Notes added by 'git notes add'
  75bc972de701111b791ebdce1b6a81bf922b701e
Due: check-copyright

docs: update roadmap to reflect semantic versioning
  docs/v1.0.0_release_roadmap_final.md
Due: check-copyright

feat: create v0.11.0 header optimization plan with IWYU integration
  docs/v0.11.0_header_optimization_plan.md
  iwyu_report.txt
Due: check-copyright

refactor: Complete magic number elimination across statistical distributions
  docs/loop_modernization_plan.md
  docs/magic_number_elimination_plan.md
  docs/magic_numbers_action_plan.md
  docs/refactoring_sequence_decision.md
  docs/v0.11.0_header_optimization_plan_updated.md
  include/core/algorithm_constants.h
  include/core/benchmark_display_constants.h
  include/core/log_space_ops.h
  include/core/mathematical_constants.h
  include/core/numerical_methods_constants.h
  include/core/statistical_methods_constants.h
  include/core/threshold_constants.h
  include/platform/cpu_detection_constants.h
  include/platform/parallel_execution_constants.h
  include/platform/platform_constants.h
  iwyu_report.txt
  magic_numbers.csv
  magic_numbers_report.txt
  scripts/find_magic_numbers.sh
  scripts/fix-constant-includes.sh
  scripts/replace_magic_numbers.py
  src/benchmark.cpp
  src/cpu_detection.cpp
  src/discrete.cpp
  src/distribution_base.cpp
  src/exponential.cpp
  src/gamma.cpp
  src/gaussian.cpp
  src/log_space_ops.cpp
  src/math_utils.cpp
  src/parallel_thresholds.cpp
  src/poisson.cpp
  src/safety.cpp
  src/simd_policy.cpp
  src/uniform.cpp
  src/validation.cpp
  src/work_stealing_pool.cpp
  tests/test_magic_numbers.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

chore: apply pre-commit hooks and fix formatting
  docs/NAMESPACE_REFACTORING_PLAN.md
  examples/basic_usage.cpp
  examples/exponential_performance_benchmark.cpp
  examples/parallel_execution_demo.cpp
  examples/poisson_usage_demo.cpp
  examples/uniform_usage_demo.cpp
  include/distributions/exponential.h
  scripts/detect_namespace_collisions.sh
  scripts/refactor_namespaces.sh
  scripts/setup_env.sh
  src/poisson.cpp
  tests/test_constants.cpp
  tests/test_cpu_detection.cpp
  tests/test_discrete_enhanced.cpp
  tests/test_exponential_enhanced.cpp
  tests/test_gamma_enhanced.cpp
  tests/test_gaussian_enhanced.cpp
  tests/test_math_utils.cpp
  tests/test_parallel_execution_comprehensive.cpp
  tests/test_parallel_execution_integration.cpp
  tests/test_poisson_enhanced.cpp
  tests/test_simd_integration.cpp
  tests/test_uniform_enhanced.cpp
  tools/learning_analyzer.cpp
  tools/parallel_threshold_benchmark.cpp
  tools/system_inspector.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix: Cross-platform namespace issues for Linux/Windows builds
  include/platform/parallel_execution.h
  src/cpu_detection.cpp
  src/platform_constants_impl.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix: Remove incorrect cpu:: namespace prefix in simd_policy.cpp
  src/simd_policy.cpp
Due: check-copyright, no-debug-code, validate-includes

fix: Complete namespace fixes for all SIMD implementation files
  scripts/fix_simd_namespaces.sh
  src/simd_avx.cpp
  src/simd_avx2.cpp
  src/simd_avx512.cpp
  src/simd_dispatch.cpp
  src/simd_sse2.cpp
Due: check-copyright, no-debug-code, validate-includes

Fix get_optimal_grain_size() noexcept specification mismatch
  include/common/platform_constants_fwd.h
  src/platform_constants_impl.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

Fix Windows MSVC multiple definition error for get_optimal_grain_size()
  include/platform/parallel_execution.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

feat: Complete PIMPL refactoring and namespace modernization
  CMakeLists.txt
  docs/namespace_progress_summary.md
  docs/phase3_progress_report.md
  docs/phase3b_simd_reorganization_plan.md
  docs/remaining_phases_plan.md
  include/common/constants_bridge.h
  include/common/platform_constants_fwd.h
  include/core/dispatch_utils.h
  include/platform/cpu_vendor_constants.h
  include/platform/parallel_execution.h
  include/platform/platform_constants.h
  include/platform/simd.h
  include/platform/thread_pool.h
  include/platform/work_stealing_pool.h
  scripts/update_simd_namespaces.sh
  src/cpu_vendor_detection.cpp
  src/platform_constants_impl.cpp
  src/simd_avx.cpp
  src/simd_avx2.cpp
  src/simd_avx512.cpp
  src/simd_dispatch.cpp
  src/simd_fallback.cpp
  src/simd_neon.cpp
  src/simd_policy.cpp
  src/simd_sse2.cpp
  test_alignment_demo.cpp
  test_header_fix.cpp
  tests/test_constants.cpp
  tests/test_cpu_detection.cpp
  tests/test_new_constants.cpp
  tests/test_parallel_execution_comprehensive.cpp
  tests/test_simd_integration.cpp
  tests/test_thread_pool.cpp
  tests/test_work_stealing_pool.cpp
  tools/system_inspector.cpp
  tools/tool_utils.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix: Resolve CPU feature detection namespace issues and MSVC std::max type errors
  src/platform_constants_impl.cpp
  src/simd_avx.cpp
  src/simd_avx2.cpp
  src/simd_avx512.cpp
  src/simd_dispatch.cpp
  src/simd_neon.cpp
  src/simd_policy.cpp
  src/simd_sse2.cpp
  src/system_capabilities.cpp
Due: check-copyright, no-debug-code, validate-includes

feat: Add comprehensive AVX-512 testing infrastructure
  .github/workflows/avx512-compilation.yml
  .github/workflows/avx512-testing.yml
  cmake/DetectAVX512.cmake
  docs/AVX512_TESTING_GUIDE.md
Due: check-copyright

fix: Resolve compilation warnings and AVX-512 function naming consistency
  src/cpu_detection.cpp
  src/simd_avx512.cpp
  src/simd_dispatch.cpp
  src/simd_policy.cpp
Due: check-copyright, no-debug-code, validate-includes

fix: Correct AVX-512 constant namespace in simd_dispatch.cpp
  src/simd_dispatch.cpp
Due: check-copyright, no-debug-code, validate-includes

fix: Redesign AVX-512 workflow for compilation-only testing
  .github/workflows/avx512-compilation.yml
  docs/AVX512_TESTING_GUIDE.md
Due: check-copyright

Complete namespace consolidation and test infrastructure modernization
  CMakeLists.txt
  PERFORMANCE_REVIEW_NOTES.md
  docs/namespace_reorganization_completion.md
  docs/namespace_reorganization_final_report.md
  docs/post-v1.0.0_roadmap.md
  docs/test_architecture.md
  include/tests/benchmarks.h
  include/tests/constants.h
  include/tests/fixtures.h
  include/tests/tests.h
  include/tests/validators.h
  src/platform_constants_impl.cpp
  test_alignment_demo.cpp
  test_header_fix.cpp
  tests/basic_test_template.h
  tests/enhanced_test_template.h
  tests/test_benchmark.cpp
  tests/test_constants.cpp
  tests/test_cpu_detection.cpp
  tests/test_discrete_basic.cpp
  tests/test_discrete_enhanced.cpp
  tests/test_exponential_basic.cpp
  tests/test_exponential_enhanced.cpp
  tests/test_gamma_basic.cpp
  tests/test_gamma_enhanced.cpp
  tests/test_gaussian_basic.cpp
  tests/test_gaussian_enhanced.cpp
  tests/test_platform_optimizations.cpp
  tests/test_poisson_basic.cpp
  tests/test_poisson_enhanced.cpp
  tests/test_simd_comprehensive.cpp
  tests/test_simd_integration.cpp
  tests/test_simd_integration_simple.cpp
  tests/test_simd_operations.cpp
  tests/test_simd_policy.cpp
  tests/test_uniform_basic.cpp
  tests/test_uniform_enhanced.cpp
  tests/test_validation_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

Fix VectorOps::float_vector_width() call in test_platform_optimizations.cpp
  tests/test_platform_optimizations.cpp
Due: check-copyright, no-debug-code, validate-includes

Fix debug build test failures in CI environments
  src/simd_dispatch.cpp
  tests/test_simd_policy.cpp
Due: check-copyright, no-debug-code, validate-includes

Fix SIMD threshold alignment constraint in test_adaptive_optimization
  src/simd_fallback.cpp
Due: check-copyright, no-debug-code, validate-includes

Potential fix for code scanning alert no. 5: Workflow does not contain permissions
  .github/workflows/avx512-compilation.yml
Due: check-copyright

Potential fix for code scanning alert no. 4: Workflow does not contain permissions
  .github/workflows/avx512-testing.yml
Due: check-copyright

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: check-copyright

chore(release): 0.11.0 [skip ci]
  CHANGELOG.md
Due: check-copyright

Notes added by 'git notes add'
  470db2298f064bb688b52892b48aa168849139d5
Due: check-copyright

Fix SIMD vector width constants and parallel processing assertions
  include/platform/cpu_vendor_constants.h
  src/cpu_detection.cpp
  tests/test_parallel_execution_comprehensive.cpp
  tests/test_platform_optimizations.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

feat: complete Phase 1 preparation for magic number elimination
  PERFORMANCE_REVIEW_NOTES.md
  docs/NAMESPACE_PHASE2_PLAN.md
  docs/NAMESPACE_REFACTORING_PLAN.md
  docs/NAMESPACE_REFACTORING_SUMMARY.md
  docs/header_optimization_plan.md
  docs/magic_number_elimination_plan.md
  docs/magic_number_script_improvements.md
  docs/magic_numbers_action_plan.md
  docs/namespace_architecture_proposal.md
  docs/namespace_consolidation_phase3_report.md
  docs/namespace_flattening_report.md
  docs/namespace_progress_summary.md
  docs/namespace_reorganization_completion.md
  docs/namespace_reorganization_final_report.md
  docs/phase1_execution_plan.md
  docs/phase1_summary.md
  docs/phase3_progress_report.md
  docs/phase3b_simd_reorganization_plan.md
  docs/refactoring_sequence_decision.md
  docs/remaining_phases_plan.md
  include/core/mathematical_constants.h
  magic_numbers.csv
  magic_numbers_report.txt
  scripts/analyze_namespaces_old.py
  scripts/check_collisions.py
  scripts/execute_phase1.sh
  scripts/find_magic_numbers.sh
  scripts/fix-constant-includes.sh
  src/exponential.cpp
  tools/analyze_magic_numbers.py
  tools/replace_magic_numbers.py
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

Replace magic numbers with named constants across codebase
  backups/phase1_20250829_233815/src/discrete.cpp
  backups/phase1_20250829_233815/src/gamma.cpp
  backups/phase1_20250829_233815/src/math_utils.cpp
  backups/phase1_20250829_233815/src/poisson.cpp
  backups/phase1_20250829_233815/src/uniform.cpp
  backups/phase1_20250829_233815/src/validation.cpp
  backups/phase1_20250830_142545/src/discrete.cpp
  backups/phase1_20250830_142545/src/gamma.cpp
  backups/phase1_20250830_142545/src/math_utils.cpp
  backups/phase1_20250830_142545/src/poisson.cpp
  backups/phase1_20250830_142545/src/uniform.cpp
  backups/phase1_20250830_142545/src/validation.cpp
  docs/v1.0.0_release_roadmap_final.md
  include/core/mathematical_constants.h
  include/core/precision_constants.h
  magic_numbers.csv
  magic_numbers_report.txt
  scripts/find_magic_numbers.sh
  src/benchmark.cpp
  src/cpu_detection.cpp
  src/distribution_base.cpp
  src/exponential.cpp
  src/gaussian.cpp
  src/log_space_ops.cpp
  src/parallel_thresholds.cpp
  src/performance_dispatcher.cpp
  src/performance_history.cpp
  src/platform_constants_impl.cpp
  src/safety.cpp
  src/simd_fallback.cpp
  src/simd_neon.cpp
  src/system_capabilities.cpp
  src/work_stealing_pool.cpp
  tools/replace_domain_constants.py
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

refactor: Apply IWYU optimizations to Levels 2a-2c
  include/core/log_space_ops.h
  include/core/math_utils.h
  include/core/safety.h
  include/core/threshold_constants.h
  include/core/validation.h
  include/platform/cpu_detection.h
  include/platform/parallel_thresholds.h
  include/platform/thread_pool.h
  include/platform/work_stealing_pool.h
  iwyu_recommendations.md
  src/cpu_detection.cpp
  src/cpu_vendor_detection.cpp
  src/log_space_ops.cpp
  src/math_utils.cpp
  src/parallel_thresholds.cpp
  src/platform_constants_impl.cpp
  src/safety.cpp
  src/simd_avx.cpp
  src/simd_dispatch.cpp
  src/simd_fallback.cpp
  src/simd_policy.cpp
  src/simd_sse2.cpp
  src/thread_pool.cpp
  src/validation.cpp
  src/work_stealing_pool.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

refactor: Apply IWYU optimizations to Levels 3-4 (Infrastructure + Framework)
  include/platform/benchmark.h
  src/benchmark.cpp
  src/distribution_base.cpp
  src/libstats_init.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

Path conditions:
  check-pragma-once: any of: \.(h|hpp|hxx)$, but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

  check-copyright: any of: not (^(\.git/|build/|third_party/|docs/archive/)), but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

  no-debug-code: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

  validate-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

