Repository OldCrow/libstats: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pragma-once, check-copyright, no-debug-code, validate-includes

check-pragma-once:
  name: Check for
  entry: scripts/check-pragma-once.sh
  language: script
  pass_filenames: true

check-copyright:
  name: Check copyright headers
  entry: scripts/check-copyright.sh
  language: script

no-debug-code:
  name: Check for debug code
  entry: scripts/check-no-debug.sh
  language: script
  pass_filenames: true

validate-includes:
  name: Validate include order
  entry: scripts/validate-includes.sh
  language: script
  pass_filenames: true

fix(neon): productionize clean-room vector_cos_neon (correctness fix)
  CMakeLists.txt
  PLAN.md
  docs/NEON_TRIG_DERIVATION.md
  docs/NEON_TRIG_DIVERGENCE_AUDIT.md
  scripts/gen_cos_ulp_vectors.py
  scripts/gen_neon_trig_cleanroom_table.py
  src/cos_ulp_vectors.inc
  src/neon_trig_cleanroom_data.inc
  src/simd_neon.cpp
  tests/test_simd_neon_cos_accuracy.cpp
Due: check-copyright, no-debug-code, validate-includes

fix(neon): productionize clean-room vector_cos_neon (correctness fix) (#73)
  CMakeLists.txt
  PLAN.md
  docs/NEON_TRIG_DERIVATION.md
  docs/NEON_TRIG_DIVERGENCE_AUDIT.md
  scripts/gen_cos_ulp_vectors.py
  scripts/gen_neon_trig_cleanroom_table.py
  src/cos_ulp_vectors.inc
  src/neon_trig_cleanroom_data.inc
  src/simd_neon.cpp
  tests/test_simd_neon_cos_accuracy.cpp
Due: check-copyright, no-debug-code, validate-includes

fix(simd): x86 exp non-finite edge cases + vector_log_sse2 subnormals (#74)
  CMakeLists.txt
  PLAN.md
  cmake/SIMDDetection.cmake
  src/simd_avx.cpp
  src/simd_avx2.cpp
  src/simd_avx512.cpp
  src/simd_sse2.cpp
  tests/test_batch_math_regressions.cpp
Due: check-copyright, no-debug-code, validate-includes

fix: remove stale vector_erfc stub; document why it is not needed
  include/core/math_utils.h
  src/math_utils.cpp
  tests/test_math_comprehensive.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs(plan): record branch housekeeping - erfc-stub rebased, gather-bench deleted
  PLAN.md
Due: check-copyright

fix(simd): x86 exp non-finite edge cases + vector_log_sse2 subnormals (#74) (#75)
  CMakeLists.txt
  PLAN.md
  cmake/SIMDDetection.cmake
  src/simd_avx.cpp
  src/simd_avx2.cpp
  src/simd_avx512.cpp
  src/simd_sse2.cpp
  tests/test_batch_math_regressions.cpp
Due: check-copyright, no-debug-code, validate-includes

fix: remove stale vector_erfc stub; document why it is not needed (#76)
  include/core/math_utils.h
  src/math_utils.cpp
  tests/test_math_comprehensive.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs(plan): record branch housekeeping - erfc-stub rebased, gather-bench deleted (#77)
  PLAN.md
Due: check-copyright

docs(agents): add context-discipline and subagent-reporting rules
  AGENTS.md
Due: check-copyright

fix(simd): native AVX-512 validation on Zen 4 + Windows tier-cap link bug
  CMakeLists.txt
  PLAN.md
  src/simd_avx512.cpp
Due: check-copyright, no-debug-code, validate-includes

chore: bump version to v2.1.0
  AGENTS.md
  CHANGELOG.md
  CMakeLists.txt
  README.md
Due: check-copyright

docs(plan): sync milestone renumbering (v2.1.0->v2.2.0, v2.2.0->v2.3.0, v2.3.0->v2.4.0); record v2.1.0 ship
  PLAN.md
Due: check-copyright

docs(plan): clarify private-repo Actions billing failures and record Pages fix
  PLAN.md
Due: check-copyright

ci: replace Debug/Release matrix bloat with a Strict -Werror gate
  .github/dependabot.yml
  .github/workflows/lint-workflows.yml
  .github/workflows/release.yml
  .releaserc.json
Due: check-copyright

ci: workflow updates + Strict-mode source fixes (continuation of 7287d8a)
  .github/workflows/avx512-compilation.yml
  .github/workflows/avx512-testing.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  examples/parallel_execution_demo.cpp
  examples/performance_dispatch_demo.cpp
  src/gaussian_analysis.cpp
  src/von_mises.cpp
  tests/test_discrete_analysis.cpp
  tests/test_gaussian_analysis.cpp
  tools/parameter_recovery_benchmark.cpp
Due: check-copyright, no-debug-code, validate-includes

fix(ci): fix shellcheck SC2129 finding blocking the new lint-workflows job
  .github/workflows/ci.yml
Due: check-copyright

fix(ci): gate zizmor on medium+ severity, not any finding
  .github/workflows/lint-workflows.yml
Due: check-copyright

fix(ci): clear latent shellcheck findings in workflow scripts
  .github/workflows/avx512-compilation.yml
  .github/workflows/avx512-testing.yml
  .github/workflows/ci.yml
Due: check-copyright

fix(ci): unblock Strict (-Werror) and Sanitizers jobs on Linux
  .github/workflows/ci.yml
  CMakeLists.txt
Due: check-copyright

fix(simd): silence -Wcast-align=strict on aligned SIMD store buffers
  src/simd_avx.cpp
  src/simd_avx2.cpp
Due: check-copyright, no-debug-code, validate-includes

fix(ci): bound Strict/Sanitizers build parallelism to avoid OOM
  .github/workflows/ci.yml
Due: check-copyright

fix(test): explicit size_t->double cast in benchmark_simd_all
  tests/benchmark_simd_all.cpp
Due: check-copyright, no-debug-code, validate-includes

fix(test): brace gtest EXPECT in unbraced if (dangling-else)
  tests/test_batch_math_regressions.cpp
Due: check-copyright, no-debug-code, validate-includes

refactor(cmake): remove duplicated TBB linking block
  CMakeLists.txt
Due: check-copyright

fix(ci): bound AVX-512 test-build parallelism to runner memory
  .github/workflows/avx512-testing.yml
Due: check-copyright

feat(cmake): GNUInstallDirs install paths + installed-package CI smoke test
  .github/workflows/ci.yml
  CMakeLists.txt
  cmake/libstats.pc.in
  consumer_example/main.cpp
  consumer_example_fetchcontent/main.cpp
Due: check-copyright, no-debug-code, validate-includes

build(cmake): add CMakePresets.json, bump CMake minimum to 3.25
  .gitignore
  AGENTS.md
  CMakeLists.txt
  CMakePresets.json
  CONTRIBUTING.md
  README.md
Due: check-copyright

refactor(cmake): extract threading detection and compiler flags into cmake/ modules
  CMakeLists.txt
  cmake/CompilerFlags.cmake
  cmake/Threading.cmake
Due: check-copyright

refactor(cmake): move test and tool registration into subdirectory CMakeLists
  CMakeLists.txt
  tests/CMakeLists.txt
  tools/CMakeLists.txt
Due: check-copyright

refactor(cmake): per-config flags for custom build types; warnings applied per-target
  CMakeLists.txt
  cmake/CompilerFlags.cmake
  examples/CMakeLists.txt
  tests/CMakeLists.txt
  tools/CMakeLists.txt
Due: check-copyright

chore(cmake,docs): Phase 4 cleanup — dead flag variables, stale doc pointers
  AGENTS.md
  PLAN.md
  cmake/CompilerFlags.cmake
Due: check-copyright

build(cmake): drop inter-tier add_dependencies between object libraries
  CMakeLists.txt
Due: check-copyright

style(cmake): cmake-format SIMDDetection.cmake
  cmake/SIMDDetection.cmake
Due: check-copyright

refactor(cmake): split SIMD flag application out of SIMDDetection.cmake
  CMakeLists.txt
  cmake/SIMDApplication.cmake
  cmake/SIMDDetection.cmake
Due: check-copyright

ci(lint): bump zizmor 1.27.0 -> 1.28.0 (yanked, GHSA-f42p-wjw5-97qh)
  .github/workflows/lint-workflows.yml
Due: check-copyright

docs(plan): reconcile with current state, trim shipped narrative
  PLAN.md
Due: check-copyright

docs: point standards references at the fleet standards repo
  AGENTS.md
  PLAN.md
Due: check-copyright

docs(changelog): add Unreleased section covering post-v2.1.0 work
  CHANGELOG.md
  cliff.toml
Due: check-copyright

docs(plan): point the Threading.cmake known gap at issue #90
  PLAN.md
Due: check-copyright

Path conditions:
  check-pragma-once: any of: \.(h|hpp|hxx)$, but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

  check-copyright: any of: not (^(\.git/|build/|third_party/|docs/archive/)), but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

  no-debug-code: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

  validate-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

