Repository OldCrow/libstats: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pragma-once, check-copyright, no-debug-code, validate-includes

check-pragma-once:
  name: Check for
  entry: scripts/check-pragma-once.sh
  language: script
  pass_filenames: true

check-copyright:
  name: Check copyright headers
  entry: scripts/check-copyright.sh
  language: script

no-debug-code:
  name: Check for debug code
  entry: scripts/check-no-debug.sh
  language: script
  pass_filenames: true

validate-includes:
  name: Validate include order
  entry: scripts/validate-includes.sh
  language: script
  pass_filenames: true

fix(tests): AppleClang build — SDK `label` collision and sign-compare
  tests/test_discrete_enhanced.cpp
  tests/test_exponential_enhanced.cpp
  tests/test_gamma_enhanced.cpp
  tests/test_gamma_quantile_accuracy.cpp
  tests/test_gaussian_enhanced.cpp
  tests/test_performance_dispatcher.cpp
  tests/test_poisson_enhanced.cpp
  tests/test_student_t_tails.cpp
  tests/test_system_capabilities.cpp
  tests/test_uniform_enhanced.cpp
  tests/test_von_mises_tails.cpp
Due: check-copyright, no-debug-code, validate-includes

docs(accuracy): regenerate AVX2 block at a0a913e — 32 → 0
  docs/ACCURACY_CHARACTERIZATION.md
Due: check-copyright

fix(build): idempotent ad-hoc codesign on macOS (#162)
  CMakeLists.txt
  docs/CI_CD_GUIDE.md
Due: check-copyright

docs(plan): K — R1, R2, R4 done; R3 next
  PLAN.md
Due: check-copyright

docs(bench): Kaby Lake v2.4.2 cost evidence; K — R3 done
  PLAN.md
  docs/bench-evidence/2026-10-03-kabylake-v242-cost/compare.txt
  docs/bench-evidence/2026-10-03-kabylake-v242-cost/run_r3.txt
  docs/bench-evidence/2026-10-03-kabylake-v242-cost/timing.txt
  docs/bench-evidence/2026-10-03-kabylake-v242-cost/v241.csv
  docs/bench-evidence/2026-10-03-kabylake-v242-cost/v242.csv
Due: check-copyright

data(profiles): Kaby Lake AVX2, AVX and SSE2 captures at d9384f8; R8 for Z and M
  PLAN.md
  data/profiles/dispatcher/2026-10-04T02-07-22Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/analyze_crossovers.py
  data/profiles/dispatcher/2026-10-04T02-07-22Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/cross_tier_assessment.py
  data/profiles/dispatcher/2026-10-04T02-07-22Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/cross_tier_assessment.txt
  data/profiles/dispatcher/2026-10-04T02-07-22Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/logs/run.txt
  data/profiles/dispatcher/2026-10-04T02-07-22Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/logs/system_inspector.txt
  data/profiles/dispatcher/2026-10-04T02-07-22Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/logs/tier.txt
  data/profiles/dispatcher/2026-10-04T02-07-22Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/manifest.txt
  data/profiles/dispatcher/2026-10-04T02-07-22Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/metadata.json
  data/profiles/dispatcher/2026-10-04T02-07-22Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/strategy_profile_run1.csv
  data/profiles/dispatcher/2026-10-04T02-07-22Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/strategy_profile_run2.csv
  data/profiles/dispatcher/2026-10-04T02-07-22Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/strategy_profile_run3.csv
  data/profiles/dispatcher/2026-10-04T02-07-22Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/sustained_crossovers.txt
  data/profiles/dispatcher/2026-10-04T03-51-16Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/analyze_crossovers.py
  data/profiles/dispatcher/2026-10-04T03-51-16Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/logs/configure.txt
  data/profiles/dispatcher/2026-10-04T03-51-16Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/logs/run.txt
  data/profiles/dispatcher/2026-10-04T03-51-16Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/logs/system_inspector.txt
  data/profiles/dispatcher/2026-10-04T03-51-16Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/logs/tier.txt
  data/profiles/dispatcher/2026-10-04T03-51-16Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/manifest.txt
  data/profiles/dispatcher/2026-10-04T03-51-16Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/metadata.json
  data/profiles/dispatcher/2026-10-04T03-51-16Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/strategy_profile_run1.csv
  data/profiles/dispatcher/2026-10-04T03-51-16Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/strategy_profile_run2.csv
  data/profiles/dispatcher/2026-10-04T03-51-16Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/strategy_profile_run3.csv
  data/profiles/dispatcher/2026-10-04T03-51-16Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/sustained_crossovers.txt
  data/profiles/dispatcher/2026-10-04T05-16-48Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/analyze_crossovers.py
  data/profiles/dispatcher/2026-10-04T05-16-48Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/logs/configure.txt
  data/profiles/dispatcher/2026-10-04T05-16-48Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/logs/run.txt
  data/profiles/dispatcher/2026-10-04T05-16-48Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/logs/system_inspector.txt
  data/profiles/dispatcher/2026-10-04T05-16-48Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/logs/tier.txt
  data/profiles/dispatcher/2026-10-04T05-16-48Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/manifest.txt
  data/profiles/dispatcher/2026-10-04T05-16-48Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/metadata.json
  data/profiles/dispatcher/2026-10-04T05-16-48Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/strategy_profile_run1.csv
  data/profiles/dispatcher/2026-10-04T05-16-48Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/strategy_profile_run2.csv
  data/profiles/dispatcher/2026-10-04T05-16-48Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/strategy_profile_run3.csv
  data/profiles/dispatcher/2026-10-04T05-16-48Z_darwin-x86_64_dev-v2.4.2_sha-d9384f8/sustained_crossovers.txt
  data/profiles/dispatcher/README.md
Due: check-copyright

docs(plan): release numbering, speed budget, #8 review, vector_log1p
  PLAN.md
Due: check-copyright

docs(plan): release renumbering — this branch ships as v3.0.0
  PLAN.md
Due: check-copyright

docs(plan): GitHub milestones retitled for the renumbering
  PLAN.md
Due: check-copyright

perf(math): log1pmx in atanh form; hoist the shape-only prefactor constants
  include/libstats/core/math_utils.h
  include/libstats/distributions/fisher_f.h
  src/beta.cpp
  src/fisher_f.cpp
  src/gamma.cpp
  src/math_utils.cpp
  src/student_t.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

perf(von-mises): quantile solves on the series in the bulk and by Halley in the tail
  src/von_mises.cpp
Due: check-copyright, no-debug-code, validate-includes

perf(gamma): vectorized Stirling-form batch density from alpha = 20; VectorOps::vector_log1p
  include/libstats/core/math_utils.h
  include/libstats/platform/simd.h
  src/gamma.cpp
  src/math_utils.cpp
  src/simd_dispatch.cpp
  tests/CMakeLists.txt
  tests/test_gamma_density_accuracy.cpp
  tests/test_vector_log1p.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix(constants): SQRT_PI correctly rounded
  include/libstats/core/math_constants.h
  tests/test_constants.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

perf(simd): vector_expm1; vector_log1p branch-free and used by Student-t and Beta
  include/libstats/platform/simd.h
  src/beta.cpp
  src/exponential.cpp
  src/pareto.cpp
  src/rayleigh.cpp
  src/simd_dispatch.cpp
  src/student_t.cpp
  src/weibull.cpp
  tests/CMakeLists.txt
  tests/test_log1p_density_batches.cpp
  tests/test_vector_expm1.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

perf(von-mises): CDF and quantile by fixed-cost quadrature in w = kappa(1 - cos theta)
  include/libstats/distributions/von_mises.h
  src/von_mises.cpp
  tests/test_von_mises_tails.cpp
  tools/gen_gauss_legendre_tables.py
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs(plan): speed work landed; R1-R3 and R8 rerun at the final head; corvus #44, #45
  PLAN.md
Due: check-copyright

docs(plan): corvus merge note for von_mises.{h,cpp} and the new primitives
  PLAN.md
Due: check-copyright

docs(plan): note from dev/v2.4.2 — von Mises Bessel swap superseded; more conflicts; corvus #44, #45
  PLAN.md
Due: check-copyright

docs(plan): numerical kernel promotion rule adopted in standards (bf493ff)
  PLAN.md
Due: check-copyright

perf(simd): keep vector_log1p and vector_expm1 only where they win
  src/exponential.cpp
  src/rayleigh.cpp
  src/student_t.cpp
Due: check-copyright, no-debug-code, validate-includes

fix(beta, gamma): Stirling-form Beta density at large shapes; log1p from the ratio far from the mode
  include/libstats/core/math_utils.h
  src/beta.cpp
  src/gamma.cpp
  src/math_utils.cpp
  tests/test_gamma_density_accuracy.cpp
  tests/test_log1p_density_batches.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

tools(dispatch): canonical sustained-crossover tool, scripts/analyze_crossovers.py (#146)
  AGENTS.md
  data/profiles/dispatcher/README.md
  scripts/analyze_crossovers.py
Due: check-copyright

perf(gamma, beta): gather the far-region lanes before their logs
  src/beta.cpp
  src/gamma.cpp
Due: check-copyright, no-debug-code, validate-includes

docs(plan): code freeze for v2.5.0 at 5367999
  PLAN.md
Due: check-copyright

docs(accuracy): regenerate AVX2 block at the freeze head 4ceafae — 0 → 0
  docs/ACCURACY_CHARACTERIZATION.md
Due: check-copyright

docs(plan): K R1 and R2 done at the freeze head
  PLAN.md
Due: check-copyright

fix(build): rename a Gamma and Beta batch local that windows.h defines away
  src/beta.cpp
  src/gamma.cpp
Due: check-copyright, no-debug-code, validate-includes

fix(tests): clang-cl takes the clang pragma for EXPECT_THROW on [[nodiscard]]
  tests/test_distribution_analysis.cpp
  tests/test_gaussian_analysis.cpp
  tests/test_poisson_analysis.cpp
Due: check-copyright, no-debug-code, validate-includes

docs(plan): freeze head moves to 6cab6ed, the Windows build fix
  PLAN.md
Due: check-copyright

docs(accuracy): regenerate AVX-512 block at the freeze head c09efd0 — 0 → 0
  PLAN.md
  docs/ACCURACY_CHARACTERIZATION.md
Due: check-copyright

docs(plan): M1 2026-10-02 — #169 timing gates 22/22 x10 on NEON; corvus NEON tier check; quiet-bench abort
  PLAN.md
Due: check-copyright

docs(accuracy): regenerate NEON block at 2c5230a — 32 → 0
  PLAN.md
  docs/ACCURACY_CHARACTERIZATION.md
Due: check-copyright

data(profiles): M1 NEON capture and v2.4.2 cost evidence at 2c5230a; R3 and R8 done on M
  PLAN.md
  data/profiles/dispatcher/2026-10-05T04-36-25Z_darwin-arm64_dev-v2.4.2_sha-2c5230a/analyze_crossovers.py
  data/profiles/dispatcher/2026-10-05T04-36-25Z_darwin-arm64_dev-v2.4.2_sha-2c5230a/cross_tier_assessment.py
  data/profiles/dispatcher/2026-10-05T04-36-25Z_darwin-arm64_dev-v2.4.2_sha-2c5230a/cross_tier_assessment.txt
  data/profiles/dispatcher/2026-10-05T04-36-25Z_darwin-arm64_dev-v2.4.2_sha-2c5230a/logs/gate_samples.txt
  data/profiles/dispatcher/2026-10-05T04-36-25Z_darwin-arm64_dev-v2.4.2_sha-2c5230a/logs/noise_run1.txt
  data/profiles/dispatcher/2026-10-05T04-36-25Z_darwin-arm64_dev-v2.4.2_sha-2c5230a/logs/noise_run2.txt
  data/profiles/dispatcher/2026-10-05T04-36-25Z_darwin-arm64_dev-v2.4.2_sha-2c5230a/logs/noise_run3.txt
  data/profiles/dispatcher/2026-10-05T04-36-25Z_darwin-arm64_dev-v2.4.2_sha-2c5230a/logs/run.txt
  data/profiles/dispatcher/2026-10-05T04-36-25Z_darwin-arm64_dev-v2.4.2_sha-2c5230a/logs/system_inspector.txt
  data/profiles/dispatcher/2026-10-05T04-36-25Z_darwin-arm64_dev-v2.4.2_sha-2c5230a/logs/tier.txt
  data/profiles/dispatcher/2026-10-05T04-36-25Z_darwin-arm64_dev-v2.4.2_sha-2c5230a/manifest.txt
  data/profiles/dispatcher/2026-10-05T04-36-25Z_darwin-arm64_dev-v2.4.2_sha-2c5230a/metadata.json
  data/profiles/dispatcher/2026-10-05T04-36-25Z_darwin-arm64_dev-v2.4.2_sha-2c5230a/strategy_profile_run1.csv
  data/profiles/dispatcher/2026-10-05T04-36-25Z_darwin-arm64_dev-v2.4.2_sha-2c5230a/strategy_profile_run2.csv
  data/profiles/dispatcher/2026-10-05T04-36-25Z_darwin-arm64_dev-v2.4.2_sha-2c5230a/strategy_profile_run3.csv
  data/profiles/dispatcher/2026-10-05T04-36-25Z_darwin-arm64_dev-v2.4.2_sha-2c5230a/sustained_crossovers.txt
  docs/bench-evidence/2026-10-05-m1-v242-cost/compare.txt
  docs/bench-evidence/2026-10-05-m1-v242-cost/overnight_m1.sh
  docs/bench-evidence/2026-10-05-m1-v242-cost/run_r3.txt
  docs/bench-evidence/2026-10-05-m1-v242-cost/timing.txt
  docs/bench-evidence/2026-10-05-m1-v242-cost/v241.csv
  docs/bench-evidence/2026-10-05-m1-v242-cost/v242.csv
Due: check-copyright

tools(dispatch): analyze_crossovers.py reads its files as UTF-8
  scripts/analyze_crossovers.py
Due: check-copyright

docs(bench): Zen 4 MSVC against clang-cl; the overnight Z runs ran near base clock
  PLAN.md
  docs/bench-evidence/2026-10-05-zen4-msvc-vs-clangcl/README.md
  docs/bench-evidence/2026-10-05-zen4-msvc-vs-clangcl/clangcl.csv
  docs/bench-evidence/2026-10-05-zen4-msvc-vs-clangcl/clock_probe.cpp
  docs/bench-evidence/2026-10-05-zen4-msvc-vs-clangcl/msvc.csv
  docs/bench-evidence/2026-10-05-zen4-msvc-vs-clangcl/msvc_vec_report.txt
Due: check-copyright, no-debug-code, validate-includes

perf(math): write log1pmx_series' Horner out so MSVC vectorizes its callers
  include/libstats/core/math_utils.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs(plan): freeze head moves to 998d985; Z's overnight throttle is the locked screen
  PLAN.md
  docs/bench-evidence/2026-10-05-zen4-msvc-vs-clangcl/README.md
  docs/bench-evidence/2026-10-05-zen4-msvc-vs-clangcl/clangcl_ab_old_1.csv
  docs/bench-evidence/2026-10-05-zen4-msvc-vs-clangcl/clangcl_ab_old_2.csv
  docs/bench-evidence/2026-10-05-zen4-msvc-vs-clangcl/clangcl_ab_old_3.csv
  docs/bench-evidence/2026-10-05-zen4-msvc-vs-clangcl/clangcl_ab_unrolled_1.csv
  docs/bench-evidence/2026-10-05-zen4-msvc-vs-clangcl/clangcl_ab_unrolled_2.csv
  docs/bench-evidence/2026-10-05-zen4-msvc-vs-clangcl/clangcl_ab_unrolled_3.csv
  docs/bench-evidence/2026-10-05-zen4-msvc-vs-clangcl/lock_ab_default_vs_optout.txt
  docs/bench-evidence/2026-10-05-zen4-msvc-vs-clangcl/lock_default_probe.txt
  docs/bench-evidence/2026-10-05-zen4-msvc-vs-clangcl/nothrottle.ps1
Due: check-copyright

build(windows): clang-cl takes cl.exe's /arch flags
  CMakeLists.txt
Due: check-copyright

docs(plan): freeze head moves to 606607f, clang-cl's /arch: flags; Z overnight on clang-cl
  PLAN.md
  docs/bench-evidence/2026-10-05-zen4-clangcl-v242-cost/README.md
  docs/bench-evidence/2026-10-05-zen4-clangcl-v242-cost/clock_probe.cpp
  docs/bench-evidence/2026-10-05-zen4-clangcl-v242-cost/nothrottle.ps1
  docs/bench-evidence/2026-10-05-zen4-clangcl-v242-cost/overnight_z2.ps1
  docs/bench-evidence/2026-10-05-zen4-clangcl-v242-cost/v241_clangcl_compat.patch
Due: check-copyright, no-debug-code, validate-includes

Path conditions:
  check-pragma-once: any of: \.(h|hpp|hxx)$, but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

  check-copyright: any of: not (^(\.git/|build/|third_party/|docs/archive/)), but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

  no-debug-code: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

  validate-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

