Repository OldCrow/libstats: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pragma-once, check-copyright, no-debug-code, validate-includes

.pre-commit-config.yaml:

# Pre-commit hooks configuration for libstats
# Run: pre-commit install to set up the git hook scripts
# Then pre-commit will run automatically on git commit

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_language_version:
  python: python3

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: Fix trailing whitespace
      - id: end-of-file-fixer
        name: Fix missing newline at end of file
      - id: check-yaml
        name: Check YAML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: check-case-conflict
        name: Check for case conflicts
      - id: mixed-line-ending
        name: Check line endings
        args: ['--fix=lf']
      - id: check-symlinks
        name: Check for broken symlinks
      - id: check-executables-have-shebangs
        name: Check executables have shebangs
      - id: check-shebang-scripts-are-executable
        name: Check scripts with shebangs are executable

  # C++ formatting with clang-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.8
    hooks:
      - id: clang-format
        name: Format C++ code with clang-format
        types_or: [c++, c]
        args: ['-i', '--style=file']
        files: \.(cpp|cc|cxx|hpp|h|hxx)$

  # CMake formatting and linting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        name: Format CMake files
        args: ['--config=.cmake-format.yaml', '--in-place']
        additional_dependencies: ["pyyaml"]

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        name: Check shell scripts
        args: ['--severity=warning']

  # Markdown formatting (Ruby-based for better compatibility)
#  - repo: https://github.com/markdownlint/markdownlint
#    rev: v0.13.0
#    hooks:
#      - id: markdownlint
#        name: Lint markdown files
#        args: ["-s", ".markdownlint-style.rb"]

  # Check for secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: Detect secrets
        args: ['--baseline', '.secrets.baseline']
        additional_dependencies: ['detect-secrets']

  # Custom local hooks for libstats-specific checks
  - repo: local
    hooks:
      - id: check-pragma-once
        name: Check for #pragma once in headers
        entry: scripts/check-pragma-once.sh
        language: script
        files: \.(h|hpp|hxx)$
        pass_filenames: true

      - id: check-copyright
        name: Check copyright headers
        entry: scripts/check-copyright.sh
        language: script
        types: [text]
        exclude: ^(\.git/|build/|third_party/|docs/archive/)

      - id: no-debug-code
        name: Check for debug code
        entry: scripts/check-no-debug.sh
        language: script
        types_or: [c++, c]
        pass_filenames: true

      - id: validate-includes
        name: Validate include order
        entry: scripts/validate-includes.sh
        language: script
        types_or: [c++, c]
        pass_filenames: true

# Configuration for specific hooks
exclude: |
  (?x)^(
    build/.*|
    third_party/.*|
    docs/archive/.*|
    .*\.min\.js|
    .*\.min\.css
  )$

Fix AVX-512 dispatch: restrict WORK_STEALING, raise parallel thresholds
  CMakeLists.txt
  src/performance_dispatcher.cpp
  tools/gaussian_strategy_profile.cpp
Due: check-copyright, no-debug-code, validate-includes

Fix three test failures on AVX2: t-quantile, dispatch thresholds, timing
  src/math_utils.cpp
  src/performance_dispatcher.cpp
  tests/test_gamma_enhanced.cpp
Due: check-copyright, no-debug-code, validate-includes

Fix 6 pre-existing test failures on NEON/arm64
  tests/include/validators.h
  tests/test_discrete_enhanced.cpp
  tests/test_performance_dispatcher.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

Add canonical strategy profiler, remove superseded tools
  CMakeLists.txt
  PROJECT_CONCEPT.md
  README.md
  WARP.md
  data/profiles/dispatcher/2026-04-12T04-42-20Z_darwin-arm64_investigate-gaussian-avx512-perf_sha-ea57b00/best_strategies.csv
  data/profiles/dispatcher/2026-04-12T04-42-20Z_darwin-arm64_investigate-gaussian-avx512-perf_sha-ea57b00/crossovers.csv
  data/profiles/dispatcher/2026-04-12T04-42-20Z_darwin-arm64_investigate-gaussian-avx512-perf_sha-ea57b00/logs/strategy_profile.txt
  data/profiles/dispatcher/2026-04-12T04-42-20Z_darwin-arm64_investigate-gaussian-avx512-perf_sha-ea57b00/logs/system_inspector_performance.txt
  data/profiles/dispatcher/2026-04-12T04-42-20Z_darwin-arm64_investigate-gaussian-avx512-perf_sha-ea57b00/manifest.txt
  data/profiles/dispatcher/2026-04-12T04-42-20Z_darwin-arm64_investigate-gaussian-avx512-perf_sha-ea57b00/metadata.json
  data/profiles/dispatcher/2026-04-12T04-42-20Z_darwin-arm64_investigate-gaussian-avx512-perf_sha-ea57b00/strategy_profile_results.csv
  data/profiles/dispatcher/2026-04-12T04-42-20Z_darwin-arm64_investigate-gaussian-avx512-perf_sha-ea57b00/summary.json
  data/profiles/dispatcher/README.md
  scripts/capture_dispatcher_profile.sh
  scripts/summarize_dispatcher_profile.py
  tools/README.md
  tools/gaussian_strategy_profile.cpp
  tools/learning_analyzer.cpp
  tools/parallel_threshold_benchmark.cpp
  tools/performance_dispatcher_tool.cpp
  tools/strategy_profile.cpp
Due: check-copyright, no-debug-code, validate-includes

data: add AVX2 (Kaby Lake) dispatcher profiling bundle
  data/profiles/dispatcher/2026-04-12T05-27-04Z_darwin-x86_64_investigate-gaussian-avx512-perf_sha-0e4e9f1/best_strategies.csv
  data/profiles/dispatcher/2026-04-12T05-27-04Z_darwin-x86_64_investigate-gaussian-avx512-perf_sha-0e4e9f1/crossovers.csv
  data/profiles/dispatcher/2026-04-12T05-27-04Z_darwin-x86_64_investigate-gaussian-avx512-perf_sha-0e4e9f1/logs/strategy_profile.txt
  data/profiles/dispatcher/2026-04-12T05-27-04Z_darwin-x86_64_investigate-gaussian-avx512-perf_sha-0e4e9f1/logs/system_inspector_performance.txt
  data/profiles/dispatcher/2026-04-12T05-27-04Z_darwin-x86_64_investigate-gaussian-avx512-perf_sha-0e4e9f1/manifest.txt
  data/profiles/dispatcher/2026-04-12T05-27-04Z_darwin-x86_64_investigate-gaussian-avx512-perf_sha-0e4e9f1/metadata.json
  data/profiles/dispatcher/2026-04-12T05-27-04Z_darwin-x86_64_investigate-gaussian-avx512-perf_sha-0e4e9f1/strategy_profile_results.csv
  data/profiles/dispatcher/2026-04-12T05-27-04Z_darwin-x86_64_investigate-gaussian-avx512-perf_sha-0e4e9f1/summary.json
Due: check-copyright

Replace NEON Dev profile with Release profile
  data/profiles/dispatcher/2026-04-12T04-42-20Z_darwin-arm64_investigate-gaussian-avx512-perf_sha-ea57b00/best_strategies.csv
  data/profiles/dispatcher/2026-04-12T04-42-20Z_darwin-arm64_investigate-gaussian-avx512-perf_sha-ea57b00/crossovers.csv
  data/profiles/dispatcher/2026-04-12T04-42-20Z_darwin-arm64_investigate-gaussian-avx512-perf_sha-ea57b00/logs/strategy_profile.txt
  data/profiles/dispatcher/2026-04-12T04-42-20Z_darwin-arm64_investigate-gaussian-avx512-perf_sha-ea57b00/strategy_profile_results.csv
  data/profiles/dispatcher/2026-04-12T05-36-21Z_darwin-arm64_investigate-gaussian-avx512-perf_sha-6aef918/best_strategies.csv
  data/profiles/dispatcher/2026-04-12T05-36-21Z_darwin-arm64_investigate-gaussian-avx512-perf_sha-6aef918/crossovers.csv
  data/profiles/dispatcher/2026-04-12T05-36-21Z_darwin-arm64_investigate-gaussian-avx512-perf_sha-6aef918/logs/strategy_profile.txt
  data/profiles/dispatcher/2026-04-12T05-36-21Z_darwin-arm64_investigate-gaussian-avx512-perf_sha-6aef918/logs/system_inspector_performance.txt
  data/profiles/dispatcher/2026-04-12T05-36-21Z_darwin-arm64_investigate-gaussian-avx512-perf_sha-6aef918/manifest.txt
  data/profiles/dispatcher/2026-04-12T05-36-21Z_darwin-arm64_investigate-gaussian-avx512-perf_sha-6aef918/metadata.json
  data/profiles/dispatcher/2026-04-12T05-36-21Z_darwin-arm64_investigate-gaussian-avx512-perf_sha-6aef918/strategy_profile_results.csv
  data/profiles/dispatcher/2026-04-12T05-36-21Z_darwin-arm64_investigate-gaussian-avx512-perf_sha-6aef918/summary.json
Due: check-copyright

Add AVX (Ivy Bridge i7-3820QM) strategy profile results
  strategy_profile_results.csv
Due: check-copyright

Add AVX (Ivy Bridge) dispatcher profile bundle
  data/profiles/dispatcher/2026-04-12T05-55-52Z_darwin-x86_64_investigate-gaussian-avx512-perf_sha-e75c6e3/best_strategies.csv
  data/profiles/dispatcher/2026-04-12T05-55-52Z_darwin-x86_64_investigate-gaussian-avx512-perf_sha-e75c6e3/crossovers.csv
  data/profiles/dispatcher/2026-04-12T05-55-52Z_darwin-x86_64_investigate-gaussian-avx512-perf_sha-e75c6e3/logs/strategy_profile.txt
  data/profiles/dispatcher/2026-04-12T05-55-52Z_darwin-x86_64_investigate-gaussian-avx512-perf_sha-e75c6e3/logs/system_inspector_performance.txt
  data/profiles/dispatcher/2026-04-12T05-55-52Z_darwin-x86_64_investigate-gaussian-avx512-perf_sha-e75c6e3/manifest.txt
  data/profiles/dispatcher/2026-04-12T05-55-52Z_darwin-x86_64_investigate-gaussian-avx512-perf_sha-e75c6e3/metadata.json
  data/profiles/dispatcher/2026-04-12T05-55-52Z_darwin-x86_64_investigate-gaussian-avx512-perf_sha-e75c6e3/strategy_profile_results.csv
  data/profiles/dispatcher/2026-04-12T05-55-52Z_darwin-x86_64_investigate-gaussian-avx512-perf_sha-e75c6e3/summary.json
Due: check-copyright

Add AVX-512 dispatcher profile bundle (Zen 4 Ryzen 7 7445HS, Windows)
  data/profiles/dispatcher/2026-04-12T06-02-56Z_windows-x86_64_investigate-gaussian-avx512-perf_sha-32c0819/best_strategies.csv
  data/profiles/dispatcher/2026-04-12T06-02-56Z_windows-x86_64_investigate-gaussian-avx512-perf_sha-32c0819/crossovers.csv
  data/profiles/dispatcher/2026-04-12T06-02-56Z_windows-x86_64_investigate-gaussian-avx512-perf_sha-32c0819/logs/strategy_profile.txt
  data/profiles/dispatcher/2026-04-12T06-02-56Z_windows-x86_64_investigate-gaussian-avx512-perf_sha-32c0819/logs/system_inspector_performance.txt
  data/profiles/dispatcher/2026-04-12T06-02-56Z_windows-x86_64_investigate-gaussian-avx512-perf_sha-32c0819/manifest.txt
  data/profiles/dispatcher/2026-04-12T06-02-56Z_windows-x86_64_investigate-gaussian-avx512-perf_sha-32c0819/metadata.json
  data/profiles/dispatcher/2026-04-12T06-02-56Z_windows-x86_64_investigate-gaussian-avx512-perf_sha-32c0819/strategy_profile_results.csv
  data/profiles/dispatcher/2026-04-12T06-02-56Z_windows-x86_64_investigate-gaussian-avx512-perf_sha-32c0819/summary.json
Due: check-copyright

Fix Beta batch paths: hoist lgamma prefix, use SIMD in parallel lambdas
  include/core/math_utils.h
  src/beta.cpp
  src/math_utils.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

Replace dispatch thresholds with profiling-derived constexpr lookup table
  include/core/dispatch_thresholds.h
  include/core/dispatch_utils.h
  include/core/performance_dispatcher.h
  src/beta.cpp
  src/discrete.cpp
  src/exponential.cpp
  src/gamma.cpp
  src/gaussian.cpp
  src/performance_dispatcher.cpp
  src/poisson.cpp
  src/student_t.cpp
  src/uniform.cpp
  tools/strategy_profile.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

Migrate all callers from deprecated selectOptimalStrategy to selectStrategy
  examples/performance_learning_demo.cpp
  tests/test_performance_dispatcher.cpp
  tests/test_system_capabilities.cpp
  tools/empirical_characteristics_demo.cpp
  tools/system_inspector.cpp
Due: check-copyright, no-debug-code, validate-includes

Remove old threshold systems and dead code
  CMakeLists.txt
  WARP.md
  docs/HEADER_ARCHITECTURE_GUIDE.md
  examples/parallel_execution_demo.cpp
  include/common/parallel_execution_fwd.h
  include/core/dispatch_utils.h
  include/core/distribution_characteristics.h
  include/core/performance_dispatcher.h
  include/platform/parallel_execution.h
  include/platform/parallel_thresholds.h
  src/parallel_thresholds.cpp
  src/performance_dispatcher.cpp
  tests/test_cpu_detection.cpp
  tests/test_parallel_execution_comprehensive.cpp
  tests/test_parallel_execution_integration.cpp
  tests/test_platform_optimizations.cpp
  tools/README.md
  tools/empirical_characteristics_demo.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

Fix unused parameter warning in createForSIMDLevel
  src/performance_dispatcher.cpp
Due: check-copyright, no-debug-code, validate-includes

Remove stale strategy_profile_results.csv from project root
  strategy_profile_results.csv
Due: check-copyright

Fix AVX-512/MSVC build, test thresholds, and Student-T MLE robustness
  CMakeLists.txt
  src/student_t.cpp
  tests/include/validators.h
  tests/test_student_t_enhanced.cpp
  tests/test_system_capabilities.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

Update BUILD_SYSTEM_GUIDE: AVX-512 not server-only, MSVC flag behavior, source list
  docs/BUILD_SYSTEM_GUIDE.md
Due: check-copyright

Remove unused MAX_COMPLEXITY_DEMOS constant from system_inspector
  tools/system_inspector.cpp
Due: check-copyright, no-debug-code, validate-includes

Bump version to 1.1.0
  .gitignore
  CHANGELOG.md
  CMakeLists.txt
  README.md
  include/distributions/beta.h
  include/distributions/chi_squared.h
  include/distributions/discrete.h
  include/distributions/exponential.h
  include/distributions/gaussian.h
  include/distributions/poisson.h
  include/distributions/student_t.h
  include/distributions/uniform.h
  include/libstats.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

Fix Windows include shim for FetchContent builds
  CHANGELOG.md
  CMakeLists.txt
  README.md
  include/libstats.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

Release libstats v1.1.2
  CHANGELOG.md
  CMakeLists.txt
  README.md
  include/libstats.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

Release v1.1.3: harden SIMD detection and embedded defaults
  CHANGELOG.md
  CMakeLists.txt
  README.md
  cmake/SIMDDetection.cmake
  include/libstats.h
  src/cpu_detection.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

Fix SIMD policy test for build/runtime capability mismatch
  tests/test_simd_policy.cpp
Due: check-copyright, no-debug-code, validate-includes

Harden SIMD guard wiring and release v1.1.4
  CHANGELOG.md
  CMakeLists.txt
  README.md
  cmake/SIMDDetection.cmake
  include/libstats.h
  src/cpu_detection.cpp
  src/simd_avx.cpp
  src/simd_avx2.cpp
  src/simd_avx512.cpp
  src/simd_neon.cpp
  src/simd_sse2.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

Release libstats v1.1.5
  CHANGELOG.md
  CMakeLists.txt
  README.md
  include/libstats.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

release: v1.1.6
  CHANGELOG.md
  CMakeLists.txt
  README.md
  include/common/distribution_common.h
  include/common/utility_common.h
  include/core/distribution_memory.h
  include/core/math_utils.h
  include/libstats.h
  src/exponential.cpp
  src/gaussian.cpp
  tests/test_performance_dispatcher.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs: add session-start architecture and build routing to WARP
  WARP.md
Due: check-copyright

fix: default to AppleClang on macOS; fix Phase 1 correctness bugs
  CMakeLists.txt
  include/common/utility_common.h
  include/core/math_utils.h
  src/cpu_detection.cpp
  src/discrete.cpp
  src/exponential.cpp
  src/gamma.cpp
  src/libstats_init.cpp
  src/performance_history.cpp
  src/uniform.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix: suppress unused-variable warning in test_simd_policy Release build
  tests/test_simd_policy.cpp
Due: check-copyright, no-debug-code, validate-includes

fix: correct AVX-512 detection on MSVC and GCC/Clang
  cmake/SIMDDetection.cmake
Due: check-copyright

fix: correct GTest detection on Windows; add FetchContent fallback
  CMakeLists.txt
Due: check-copyright

fix: audit and correct eight CMake build system issues
  CMakeLists.txt
  cmake/DetectAVX512.cmake
  cmake/SIMDDetection.cmake
Due: check-copyright

ci: exclude timing tests from CI; bump Clang matrix from 14/15 to 16/17
  .github/workflows/ci.yml
Due: check-copyright

fix: label test_math_comprehensive as timing; fix coverage lcov --ignore-errors
  .github/workflows/ci.yml
  CMakeLists.txt
Due: check-copyright

ci: add --ignore-errors mismatch to lcov capture
  .github/workflows/ci.yml
Due: check-copyright

chore(release): 1.1.7 [skip ci]
  CHANGELOG.md
Due: check-copyright

Notes added by 'git notes add'
  a105266b6b6981f62e4c47b6aadaf4af7aa9cdcb
Due: check-copyright

refactor(phase2-3): correctness and static-analysis cleanup
  src/beta.cpp
  src/chi_squared.cpp
  src/discrete.cpp
  src/exponential.cpp
  src/gamma.cpp
  src/gaussian.cpp
  src/math_utils.cpp
  src/poisson.cpp
  src/simd_policy.cpp
  src/student_t.cpp
  src/system_capabilities.cpp
  src/uniform.cpp
  src/work_stealing_pool.cpp
Due: check-copyright, no-debug-code, validate-includes

fix: remove dead GPU dispatch slot from autoDispatch and all distributions
  include/core/dispatch_utils.h
  src/beta.cpp
  src/discrete.cpp
  src/exponential.cpp
  src/gamma.cpp
  src/gaussian.cpp
  src/poisson.cpp
  src/student_t.cpp
  src/uniform.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

chore(release): 1.1.8 [skip ci]
  CHANGELOG.md
Due: check-copyright
