Repository OldCrow/libstats: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pragma-once, check-copyright, no-debug-code, validate-includes

check-pragma-once:
  name: Check for
  entry: scripts/check-pragma-once.sh
  language: script
  pass_filenames: true

check-copyright:
  name: Check copyright headers
  entry: scripts/check-copyright.sh
  language: script

no-debug-code:
  name: Check for debug code
  entry: scripts/check-no-debug.sh
  language: script
  pass_filenames: true

validate-includes:
  name: Validate include order
  entry: scripts/validate-includes.sh
  language: script
  pass_filenames: true

test: Phase 2 — basic_test_runner.h template + retrofit all 16 basic files
  tests/include/basic_test_runner.h
  tests/test_beta_basic.cpp
  tests/test_binomial_basic.cpp
  tests/test_chi_squared_basic.cpp
  tests/test_discrete_basic.cpp
  tests/test_exponential_basic.cpp
  tests/test_gamma_basic.cpp
  tests/test_gaussian_basic.cpp
  tests/test_lognormal_basic.cpp
  tests/test_negative_binomial_basic.cpp
  tests/test_pareto_basic.cpp
  tests/test_poisson_basic.cpp
  tests/test_rayleigh_basic.cpp
  tests/test_student_t_basic.cpp
  tests/test_uniform_basic.cpp
  tests/test_von_mises_basic.cpp
  tests/test_weibull_basic.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

test: Phase 3 — enhanced_test_suite.h typed test infrastructure
  tests/include/enhanced_test_suite.h
  tests/test_beta_enhanced.cpp
  tests/test_binomial_enhanced.cpp
  tests/test_chi_squared_enhanced.cpp
  tests/test_discrete_enhanced.cpp
  tests/test_exponential_enhanced.cpp
  tests/test_gamma_enhanced.cpp
  tests/test_gaussian_enhanced.cpp
  tests/test_lognormal_enhanced.cpp
  tests/test_negative_binomial_enhanced.cpp
  tests/test_pareto_enhanced.cpp
  tests/test_poisson_enhanced.cpp
  tests/test_rayleigh_enhanced.cpp
  tests/test_student_t_enhanced.cpp
  tests/test_uniform_enhanced.cpp
  tests/test_von_mises_enhanced.cpp
  tests/test_weibull_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix: tools audit Tier 1 — fix cpp20 detection, complete tool coverage to 16 distributions
  tools/cpp20_features_inspector.cpp
  tools/parallel_batch_fitting_benchmark.cpp
  tools/parallel_correctness_verification.cpp
Due: check-copyright, no-debug-code, validate-includes

fix: tools audit Tier 2/3 — simd_verification, strategy_profile, system_inspector
  tools/simd_verification.cpp
  tools/strategy_profile.cpp
  tools/system_inspector.cpp
Due: check-copyright, no-debug-code, validate-includes

feat: examples audit — logpdf demo, 16-distribution families, getEntropy
  examples/CMakeLists.txt
  examples/basic_usage.cpp
  examples/distribution_families_demo.cpp
  examples/logpdf_and_likelihood_demo.cpp
Due: check-copyright, no-debug-code, validate-includes

feat: examples audit — performance_dispatch_demo, parallelBatchFit, fit-then-score
  examples/CMakeLists.txt
  examples/basic_usage.cpp
  examples/parallel_execution_demo.cpp
  examples/performance_dispatch_demo.cpp
Due: check-copyright, no-debug-code, validate-includes

feat: three new tools — quantile_accuracy, parameter_recovery_benchmark, threshold_validator
  CMakeLists.txt
  tools/parameter_recovery_benchmark.cpp
  tools/quantile_accuracy.cpp
  tools/threshold_validator.cpp
Due: check-copyright, no-debug-code, validate-includes

fix: three quantile inversion bugs found by quantile_accuracy tool
  src/gamma.cpp
  src/math_utils.cpp
  tools/threshold_validator.cpp
Due: check-copyright, no-debug-code, validate-includes

docs: expand Creating New Distributions checklist to be complete and precise
  AGENTS.md
Due: check-copyright

docs: update CHANGELOG for post-2026-06-21 work; add UML diagrams
  CHANGELOG.md
  docs/UML/class-hierarchy.svg
  docs/UML/dispatch-pipeline.svg
  docs/UML/index.html
  docs/UML/result-factory-flow.svg
  docs/UML/thread-safety-cache.svg
Due: check-copyright

feat: implement GeometricDistribution (discrete, delegates to NegBinomial(r=1))
  CMakeLists.txt
  include/core/distribution_meta.h
  include/core/error_handling.h
  include/distributions/geometric.h
  include/libstats.h
  src/geometric.cpp
  tests/test_geometric_basic.cpp
  tests/test_geometric_enhanced.cpp
  tests/test_integration_workflow.cpp
  tools/parallel_batch_fitting_benchmark.cpp
  tools/parallel_correctness_verification.cpp
  tools/quantile_accuracy.cpp
  tools/simd_verification.cpp
  tools/strategy_profile.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

feat: add LaplaceDistribution (mu, b) — standalone, SIMD batch, MLE median/MAD
  CMakeLists.txt
  include/distributions/laplace.h
  include/libstats.h
  src/laplace.cpp
  tests/test_integration_workflow.cpp
  tests/test_laplace_basic.cpp
  tests/test_laplace_enhanced.cpp
  tools/parallel_batch_fitting_benchmark.cpp
  tools/parallel_correctness_verification.cpp
  tools/parameter_recovery_benchmark.cpp
  tools/quantile_accuracy.cpp
  tools/simd_verification.cpp
  tools/strategy_profile.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

feat: add CauchyDistribution (x0, gamma) — delegation wrapper over StudentT(nu=1)
  CMakeLists.txt
  include/distributions/cauchy.h
  include/libstats.h
  src/cauchy.cpp
  tests/test_cauchy_basic.cpp
  tests/test_cauchy_enhanced.cpp
  tests/test_integration_workflow.cpp
  tools/parallel_batch_fitting_benchmark.cpp
  tools/parallel_correctness_verification.cpp
  tools/parameter_recovery_benchmark.cpp
  tools/quantile_accuracy.cpp
  tools/simd_verification.cpp
  tools/strategy_profile.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs: update distribution count 16→19; add Geometric/Laplace/Cauchy to all docs
  AGENTS.md
  CHANGELOG.md
  CMakeLists.txt
  README.md
  docs/distribution_mutability.md
  docs/test_architecture.md
  examples/distribution_families_demo.cpp
  examples/logpdf_and_likelihood_demo.cpp
  examples/parallel_execution_demo.cpp
  include/core/distribution_concepts.h
  tests/test_copy_move_stress.cpp
  tests/test_gaussian_enhanced.cpp
  tools/parallel_correctness_verification.cpp
  tools/quantile_accuracy.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix: three bug fixes in Geometric, Laplace, Cauchy implementations
  src/cauchy.cpp
  src/geometric.cpp
  src/laplace.cpp
Due: check-copyright, no-debug-code, validate-includes

fix: remove stale 'implementations pending' comments from distribution_meta.h
  include/core/distribution_meta.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

feat: add --sleep flag to capture_dispatcher_profile scripts (default 30 s)
  scripts/PROFILING_METHOD.md
  scripts/capture_dispatcher_profile.ps1
  scripts/capture_dispatcher_profile.sh
Due: check-copyright

fix: implement 25 audit items from libstats-v2-audit (10 critical + 15 pre-tag)
  include/core/log_space_ops.h
  src/beta.cpp
  src/chi_squared.cpp
  src/discrete.cpp
  src/exponential.cpp
  src/gamma.cpp
  src/gaussian.cpp
  src/log_space_ops.cpp
  src/lognormal.cpp
  src/math_utils.cpp
  src/negative_binomial.cpp
  src/pareto.cpp
  src/poisson.cpp
  src/rayleigh.cpp
  src/safety.cpp
  src/simd_avx.cpp
  src/simd_avx2.cpp
  src/simd_avx512.cpp
  src/simd_policy.cpp
  src/simd_sse2.cpp
  src/student_t.cpp
  src/von_mises.cpp
  src/weibull.cpp
  src/work_stealing_pool.cpp
  tests/test_benchmark.cpp
  tests/test_cauchy_enhanced.cpp
  tests/test_laplace_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix: eliminate re-entrant shared_lock deadlock in getProbability (Linux/Windows)
  src/lognormal.cpp
  src/pareto.cpp
  src/rayleigh.cpp
  src/weibull.cpp
Due: check-copyright, no-debug-code, validate-includes

fix: complete audit items 13/15/18 and NegBinomial setR/setP
  src/discrete.cpp
  src/gamma.cpp
  src/lognormal.cpp
  src/negative_binomial.cpp
Due: check-copyright, no-debug-code, validate-includes

perf/fix: 10 speedup items + 3 timing test fixes
  include/distributions/gamma.h
  include/distributions/von_mises.h
  src/chi_squared.cpp
  src/gamma.cpp
  src/simd_avx.cpp
  src/simd_avx2.cpp
  src/simd_avx512.cpp
  src/simd_neon.cpp
  src/simd_policy.cpp
  src/simd_sse2.cpp
  src/student_t.cpp
  src/von_mises.cpp
  tests/test_cauchy_enhanced.cpp
  tests/test_discrete_enhanced.cpp
  tools/simd_verification.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix: upgrade logSumExpArrayFallback to use genuine VectorOps SIMD
  src/log_space_ops.cpp
Due: check-copyright, no-debug-code, validate-includes

Recalibrate kAvx512 thresholds from sha-1b564ec --large bundles
  AGENTS.md
  data/profiles/dispatcher/2026-06-29T23-00-05Z_windows-x86_64_feat-v2-architecture_sha-1b564ec/best_strategies.csv
  data/profiles/dispatcher/2026-06-29T23-00-05Z_windows-x86_64_feat-v2-architecture_sha-1b564ec/crossovers.csv
  data/profiles/dispatcher/2026-06-29T23-00-05Z_windows-x86_64_feat-v2-architecture_sha-1b564ec/logs/strategy_profile.txt
  data/profiles/dispatcher/2026-06-29T23-00-05Z_windows-x86_64_feat-v2-architecture_sha-1b564ec/logs/system_inspector_performance.txt
  data/profiles/dispatcher/2026-06-29T23-00-05Z_windows-x86_64_feat-v2-architecture_sha-1b564ec/manifest.txt
  data/profiles/dispatcher/2026-06-29T23-00-05Z_windows-x86_64_feat-v2-architecture_sha-1b564ec/metadata.json
  data/profiles/dispatcher/2026-06-29T23-00-05Z_windows-x86_64_feat-v2-architecture_sha-1b564ec/strategy_profile_results.csv
  data/profiles/dispatcher/2026-06-29T23-00-05Z_windows-x86_64_feat-v2-architecture_sha-1b564ec/summary.json
  data/profiles/dispatcher/2026-06-29T23-23-37Z_windows-x86_64_feat-v2-architecture_sha-1b564ec/best_strategies.csv
  data/profiles/dispatcher/2026-06-29T23-23-37Z_windows-x86_64_feat-v2-architecture_sha-1b564ec/crossovers.csv
  data/profiles/dispatcher/2026-06-29T23-23-37Z_windows-x86_64_feat-v2-architecture_sha-1b564ec/logs/strategy_profile.txt
  data/profiles/dispatcher/2026-06-29T23-23-37Z_windows-x86_64_feat-v2-architecture_sha-1b564ec/logs/system_inspector_performance.txt
  data/profiles/dispatcher/2026-06-29T23-23-37Z_windows-x86_64_feat-v2-architecture_sha-1b564ec/manifest.txt
  data/profiles/dispatcher/2026-06-29T23-23-37Z_windows-x86_64_feat-v2-architecture_sha-1b564ec/metadata.json
  data/profiles/dispatcher/2026-06-29T23-23-37Z_windows-x86_64_feat-v2-architecture_sha-1b564ec/strategy_profile_results.csv
  data/profiles/dispatcher/2026-06-29T23-23-37Z_windows-x86_64_feat-v2-architecture_sha-1b564ec/summary.json
  data/profiles/dispatcher/2026-06-29T23-47-18Z_windows-x86_64_feat-v2-architecture_sha-1b564ec/best_strategies.csv
  data/profiles/dispatcher/2026-06-29T23-47-18Z_windows-x86_64_feat-v2-architecture_sha-1b564ec/crossovers.csv
  data/profiles/dispatcher/2026-06-29T23-47-18Z_windows-x86_64_feat-v2-architecture_sha-1b564ec/logs/strategy_profile.txt
  data/profiles/dispatcher/2026-06-29T23-47-18Z_windows-x86_64_feat-v2-architecture_sha-1b564ec/logs/system_inspector_performance.txt
  data/profiles/dispatcher/2026-06-29T23-47-18Z_windows-x86_64_feat-v2-architecture_sha-1b564ec/manifest.txt
  data/profiles/dispatcher/2026-06-29T23-47-18Z_windows-x86_64_feat-v2-architecture_sha-1b564ec/metadata.json
  data/profiles/dispatcher/2026-06-29T23-47-18Z_windows-x86_64_feat-v2-architecture_sha-1b564ec/strategy_profile_results.csv
  data/profiles/dispatcher/2026-06-29T23-47-18Z_windows-x86_64_feat-v2-architecture_sha-1b564ec/summary.json
  examples/parallel_execution_demo.cpp
  examples/performance_dispatch_demo.cpp
  include/core/dispatch_thresholds.h
  scripts/PROFILING_METHOD.md
  tests/include/basic_test_runner.h
  tests/test_discrete_enhanced.cpp
  tests/test_exponential_enhanced.cpp
  tests/test_gamma_enhanced.cpp
  tests/test_gaussian_enhanced.cpp
  tests/test_poisson_enhanced.cpp
  tests/test_uniform_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

Fix C4068, C4834, C4267 MSVC warnings in tests
  tests/test_distribution_analysis.cpp
  tests/test_gaussian_analysis.cpp
  tests/test_goodness_of_fit.cpp
  tests/test_poisson_analysis.cpp
  tests/test_work_stealing_pool.cpp
Due: check-copyright, no-debug-code, validate-includes

perf: add kAvx2 thresholds for new distributions
  data/profiles/dispatcher/2026-06-29T22-32-28Z_darwin-x86_64_feat-v2-architecture_sha-1b564ec/best_strategies.csv
  data/profiles/dispatcher/2026-06-29T22-32-28Z_darwin-x86_64_feat-v2-architecture_sha-1b564ec/crossovers.csv
  data/profiles/dispatcher/2026-06-29T22-32-28Z_darwin-x86_64_feat-v2-architecture_sha-1b564ec/logs/strategy_profile.txt
  data/profiles/dispatcher/2026-06-29T22-32-28Z_darwin-x86_64_feat-v2-architecture_sha-1b564ec/logs/system_inspector_performance.txt
  data/profiles/dispatcher/2026-06-29T22-32-28Z_darwin-x86_64_feat-v2-architecture_sha-1b564ec/manifest.txt
  data/profiles/dispatcher/2026-06-29T22-32-28Z_darwin-x86_64_feat-v2-architecture_sha-1b564ec/metadata.json
  data/profiles/dispatcher/2026-06-29T22-32-28Z_darwin-x86_64_feat-v2-architecture_sha-1b564ec/strategy_profile_results.csv
  data/profiles/dispatcher/2026-06-29T22-32-28Z_darwin-x86_64_feat-v2-architecture_sha-1b564ec/summary.json
  data/profiles/dispatcher/2026-06-29T23-28-13Z_darwin-x86_64_feat-v2-architecture_sha-1b564ec/best_strategies.csv
  data/profiles/dispatcher/2026-06-29T23-28-13Z_darwin-x86_64_feat-v2-architecture_sha-1b564ec/crossovers.csv
  data/profiles/dispatcher/2026-06-29T23-28-13Z_darwin-x86_64_feat-v2-architecture_sha-1b564ec/logs/strategy_profile.txt
  data/profiles/dispatcher/2026-06-29T23-28-13Z_darwin-x86_64_feat-v2-architecture_sha-1b564ec/logs/system_inspector_performance.txt
  data/profiles/dispatcher/2026-06-29T23-28-13Z_darwin-x86_64_feat-v2-architecture_sha-1b564ec/manifest.txt
  data/profiles/dispatcher/2026-06-29T23-28-13Z_darwin-x86_64_feat-v2-architecture_sha-1b564ec/metadata.json
  data/profiles/dispatcher/2026-06-29T23-28-13Z_darwin-x86_64_feat-v2-architecture_sha-1b564ec/strategy_profile_results.csv
  data/profiles/dispatcher/2026-06-29T23-28-13Z_darwin-x86_64_feat-v2-architecture_sha-1b564ec/summary.json
  data/profiles/dispatcher/2026-06-30T00-24-23Z_darwin-x86_64_feat-v2-architecture_sha-1b564ec/best_strategies.csv
  data/profiles/dispatcher/2026-06-30T00-24-23Z_darwin-x86_64_feat-v2-architecture_sha-1b564ec/crossovers.csv
  data/profiles/dispatcher/2026-06-30T00-24-23Z_darwin-x86_64_feat-v2-architecture_sha-1b564ec/logs/strategy_profile.txt
  data/profiles/dispatcher/2026-06-30T00-24-23Z_darwin-x86_64_feat-v2-architecture_sha-1b564ec/logs/system_inspector_performance.txt
  data/profiles/dispatcher/2026-06-30T00-24-23Z_darwin-x86_64_feat-v2-architecture_sha-1b564ec/manifest.txt
  data/profiles/dispatcher/2026-06-30T00-24-23Z_darwin-x86_64_feat-v2-architecture_sha-1b564ec/metadata.json
  data/profiles/dispatcher/2026-06-30T00-24-23Z_darwin-x86_64_feat-v2-architecture_sha-1b564ec/strategy_profile_results.csv
  data/profiles/dispatcher/2026-06-30T00-24-23Z_darwin-x86_64_feat-v2-architecture_sha-1b564ec/summary.json
  include/core/dispatch_thresholds.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

Recalibrate dispatch thresholds; fix threshold_validator; fix compiler warnings
  data/profiles/dispatcher/2026-06-30T03-46-48Z_darwin-arm64_feat-v2-architecture_sha-641bf62/best_strategies.csv
  data/profiles/dispatcher/2026-06-30T03-46-48Z_darwin-arm64_feat-v2-architecture_sha-641bf62/crossovers.csv
  data/profiles/dispatcher/2026-06-30T03-46-48Z_darwin-arm64_feat-v2-architecture_sha-641bf62/logs/strategy_profile.txt
  data/profiles/dispatcher/2026-06-30T03-46-48Z_darwin-arm64_feat-v2-architecture_sha-641bf62/logs/system_inspector_performance.txt
  data/profiles/dispatcher/2026-06-30T03-46-48Z_darwin-arm64_feat-v2-architecture_sha-641bf62/manifest.txt
  data/profiles/dispatcher/2026-06-30T03-46-48Z_darwin-arm64_feat-v2-architecture_sha-641bf62/metadata.json
  data/profiles/dispatcher/2026-06-30T03-46-48Z_darwin-arm64_feat-v2-architecture_sha-641bf62/strategy_profile_results.csv
  data/profiles/dispatcher/2026-06-30T03-46-48Z_darwin-arm64_feat-v2-architecture_sha-641bf62/summary.json
  data/profiles/dispatcher/2026-06-30T04-08-19Z_darwin-arm64_feat-v2-architecture_sha-641bf62/best_strategies.csv
  data/profiles/dispatcher/2026-06-30T04-08-19Z_darwin-arm64_feat-v2-architecture_sha-641bf62/crossovers.csv
  data/profiles/dispatcher/2026-06-30T04-08-19Z_darwin-arm64_feat-v2-architecture_sha-641bf62/logs/strategy_profile.txt
  data/profiles/dispatcher/2026-06-30T04-08-19Z_darwin-arm64_feat-v2-architecture_sha-641bf62/logs/system_inspector_performance.txt
  data/profiles/dispatcher/2026-06-30T04-08-19Z_darwin-arm64_feat-v2-architecture_sha-641bf62/manifest.txt
  data/profiles/dispatcher/2026-06-30T04-08-19Z_darwin-arm64_feat-v2-architecture_sha-641bf62/metadata.json
  data/profiles/dispatcher/2026-06-30T04-08-19Z_darwin-arm64_feat-v2-architecture_sha-641bf62/strategy_profile_results.csv
  data/profiles/dispatcher/2026-06-30T04-08-19Z_darwin-arm64_feat-v2-architecture_sha-641bf62/summary.json
  data/profiles/dispatcher/2026-06-30T04-30-11Z_darwin-arm64_feat-v2-architecture_sha-641bf62/best_strategies.csv
  data/profiles/dispatcher/2026-06-30T04-30-11Z_darwin-arm64_feat-v2-architecture_sha-641bf62/crossovers.csv
  data/profiles/dispatcher/2026-06-30T04-30-11Z_darwin-arm64_feat-v2-architecture_sha-641bf62/logs/strategy_profile.txt
  data/profiles/dispatcher/2026-06-30T04-30-11Z_darwin-arm64_feat-v2-architecture_sha-641bf62/logs/system_inspector_performance.txt
  data/profiles/dispatcher/2026-06-30T04-30-11Z_darwin-arm64_feat-v2-architecture_sha-641bf62/manifest.txt
  data/profiles/dispatcher/2026-06-30T04-30-11Z_darwin-arm64_feat-v2-architecture_sha-641bf62/metadata.json
  data/profiles/dispatcher/2026-06-30T04-30-11Z_darwin-arm64_feat-v2-architecture_sha-641bf62/strategy_profile_results.csv
  data/profiles/dispatcher/2026-06-30T04-30-11Z_darwin-arm64_feat-v2-architecture_sha-641bf62/summary.json
  include/core/dispatch_thresholds.h
  scripts/PROFILING_METHOD.md
  src/cpu_tier.cpp
  tools/quantile_accuracy.cpp
  tools/threshold_validator.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix: link TBB transitively from libstats targets
  CMakeLists.txt
Due: check-copyright

chore: release v1.5.3_1 Linux TBB hotfix
  AGENTS.md
  CHANGELOG.md
  CMakeLists.txt
  README.md
  include/libstats.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix: remove remaining 6 const_cast in gaussian.cpp batch lambdas (M-6 complete)
  src/gaussian.cpp
Due: check-copyright, no-debug-code, validate-includes

fix: complete M-6 and TOCTOU remediation in batch lambdas
  src/beta.cpp
  src/binomial.cpp
  src/discrete.cpp
  src/exponential.cpp
  src/gaussian.cpp
  src/laplace.cpp
  src/lognormal.cpp
  src/negative_binomial.cpp
  src/pareto.cpp
  src/poisson.cpp
  src/rayleigh.cpp
  src/student_t.cpp
  src/uniform.cpp
  src/von_mises.cpp
  src/weibull.cpp
Due: check-copyright, no-debug-code, validate-includes

fix: LICENSE copyright, README 6→7 families, stale .value in code example
  LICENSE
  README.md
Due: check-copyright

docs: final pre-PR documentation sweep
  AGENTS.md
  CHANGELOG.md
  MIGRATION_GUIDE.md
  examples/distribution_families_demo.cpp
Due: check-copyright, no-debug-code, validate-includes

chore: finalise CHANGELOG for v2.0.0 release
  CHANGELOG.md
Due: check-copyright

fix: add missing <cstdint> for SIZE_MAX and uintptr_t on libstdc++ (GCC/Linux CI)
  include/core/safety.h
  include/platform/simd.h
  src/simd_dispatch.cpp
  src/simd_policy.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix: resolve three AppleClang warnings in Release build
  src/cpu_tier.cpp
  tests/test_benchmark.cpp
  tools/toctou_validator.cpp
Due: check-copyright, no-debug-code, validate-includes

fix: Poisson entropy loop; Discrete allow a==b; bump v2.0.1
  AGENTS.md
  CHANGELOG.md
  CMakeLists.txt
  README.md
  include/core/error_handling.h
  src/discrete.cpp
  src/poisson.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

Path conditions:
  check-pragma-once: any of: \.(h|hpp|hxx)$, but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

  check-copyright: any of: not (^(\.git/|build/|third_party/|docs/archive/)), but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

  no-debug-code: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

  validate-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

