Repository OldCrow/libstats: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pragma-once, check-copyright, no-debug-code, validate-includes

.pre-commit-config.yaml:

# Pre-commit hooks configuration for libstats
# Run: pre-commit install to set up the git hook scripts
# Then pre-commit will run automatically on git commit

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_language_version:
  python: python3

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: Fix trailing whitespace
      - id: end-of-file-fixer
        name: Fix missing newline at end of file
      - id: check-yaml
        name: Check YAML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: check-case-conflict
        name: Check for case conflicts
      - id: mixed-line-ending
        name: Check line endings
        args: ['--fix=lf']
      - id: check-symlinks
        name: Check for broken symlinks
      - id: check-executables-have-shebangs
        name: Check executables have shebangs
      - id: check-shebang-scripts-are-executable
        name: Check scripts with shebangs are executable

  # C++ formatting with clang-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.8
    hooks:
      - id: clang-format
        name: Format C++ code with clang-format
        types_or: [c++, c]
        args: ['-i', '--style=file']
        files: \.(cpp|cc|cxx|hpp|h|hxx)$

  # CMake formatting and linting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        name: Format CMake files
        args: ['--config=.cmake-format.yaml', '--in-place']
        additional_dependencies: ["pyyaml"]

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        name: Check shell scripts
        args: ['--severity=warning']

  # Markdown formatting (Ruby-based for better compatibility)
#  - repo: https://github.com/markdownlint/markdownlint
#    rev: v0.13.0
#    hooks:
#      - id: markdownlint
#        name: Lint markdown files
#        args: ["-s", ".markdownlint-style.rb"]

  # Check for secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: Detect secrets
        args: ['--baseline', '.secrets.baseline']
        additional_dependencies: ['detect-secrets']

  # Custom local hooks for libstats-specific checks
  - repo: local
    hooks:
      - id: check-pragma-once
        name: Check for #pragma once in headers
        entry: scripts/check-pragma-once.sh
        language: script
        files: \.(h|hpp|hxx)$
        pass_filenames: true

      - id: check-copyright
        name: Check copyright headers
        entry: scripts/check-copyright.sh
        language: script
        types: [text]
        exclude: ^(\.git/|build/|third_party/|docs/archive/)

      - id: no-debug-code
        name: Check for debug code
        entry: scripts/check-no-debug.sh
        language: script
        types_or: [c++, c]
        pass_filenames: true

      - id: validate-includes
        name: Validate include order
        entry: scripts/validate-includes.sh
        language: script
        types_or: [c++, c]
        pass_filenames: true

# Configuration for specific hooks
exclude: |
  (?x)^(
    build/.*|
    third_party/.*|
    docs/archive/.*|
    .*\.min\.js|
    .*\.min\.css
  )$

Phase 3: Update tools, examples, scripts for strategy rename
  examples/exponential_performance_benchmark.cpp
  examples/gaussian_performance_benchmark.cpp
  examples/performance_learning_demo.cpp
  scripts/analyze_namespaces.sh
  scripts/analyze_namespaces_old.py
  scripts/consolidate_all_constants.sh
  scripts/consolidate_namespaces_phase2.sh
  scripts/detect_namespace_collisions.sh
  scripts/execute_phase1.sh
  scripts/find_real_collisions.sh
  scripts/fix-constant-includes.sh
  scripts/fix_arch_constant_collisions.sh
  scripts/fix_math_namespace.sh
  scripts/fix_simd_namespaces.sh
  scripts/fix_test_namespaces.sh
  scripts/flatten_arch_final.sh
  scripts/flatten_arch_namespace.sh
  scripts/refactor_namespaces.sh
  scripts/separate_arch_constants.sh
  scripts/smart_namespace_consolidation.sh
  scripts/truly_flatten_arch.sh
  scripts/truly_flatten_arch_complete.sh
  scripts/update_namespace_references.sh
  scripts/update_simd_namespaces.sh
  tools/learning_analyzer.cpp
  tools/parallel_threshold_benchmark.cpp
Due: check-copyright, no-debug-code, validate-includes

Fix benchmark speedup calculations broken by overly broad GPU section removal
  tests/test_discrete_enhanced.cpp
  tests/test_exponential_enhanced.cpp
  tests/test_gamma_enhanced.cpp
  tests/test_gaussian_enhanced.cpp
  tests/test_poisson_enhanced.cpp
  tests/test_uniform_enhanced.cpp
Due: check-copyright, no-debug-code, validate-includes

Manual review fixes: simd_verification tolerance, empirical demo names, parallel demo header
  examples/parallel_execution_demo.cpp
  tools/empirical_characteristics_demo.cpp
  tools/simd_verification.cpp
Due: check-copyright, no-debug-code, validate-includes

Fix CI: guard set_tests_properties on GTEST_FOUND
  CMakeLists.txt
Due: check-copyright

Fix GCC warning: remove unused memory_bandwidth variable (Phase 2 leftover)
  src/performance_dispatcher.cpp
Due: check-copyright, no-debug-code, validate-includes

Update WARP.md: current status, development ecosystem, AVX-512 note for Asus TUF A16
  WARP.md
Due: check-copyright

Phase 4: Start branch, add Windows session setup docs to WARP.md
  WARP.md
Due: check-copyright

Phase 4: Fix AMD CPU cache detection (CPUID leaf 0x8000001D)
  src/cpu_detection.cpp
Due: check-copyright, no-debug-code, validate-includes

Phase 4: Fix all 3 MSVC warnings (C4101, C4267, C4244)
  tests/benchmark_simd_all.cpp
  tests/test_error_handling_comprehensive.cpp
  tests/test_simd_comprehensive.cpp
Due: check-copyright, no-debug-code, validate-includes

Phase 4: Fix all GCC/Clang warning issues
  src/gamma.cpp
  src/simd_avx.cpp
  tests/test_cpu_detection.cpp
  tests/test_platform_optimizations.cpp
  tests/test_thread_pool.cpp
  tests/test_validation_enhanced.cpp
  tests/test_work_stealing_pool.cpp
  tools/parallel_correctness_verification.cpp
Due: check-copyright, no-debug-code, validate-includes

Phase 4: Fix all ClangWarn/MSVCWarn implicit conversion warnings in tests
  tests/benchmark_simd_all.cpp
  tests/test_cpu_detection.cpp
  tests/test_error_handling_comprehensive.cpp
  tests/test_math_comprehensive.cpp
  tests/test_numerical_safety.cpp
  tests/test_platform_optimizations.cpp
  tests/test_simd_policy.cpp
Due: check-copyright, no-debug-code, validate-includes

Phase 4: Fix VectorizedThresholds test for NEON (M1 validation)
  tests/test_math_comprehensive.cpp
Due: check-copyright, no-debug-code, validate-includes

Phase 4: Update WARP.md with validation matrix and status
  WARP.md
Due: check-copyright

Add Warp repository workflows for cross-machine development
  .warp/workflows/clean_rebuild.yaml
  .warp/workflows/switch_branch.yaml
  .warp/workflows/validate_machine.yaml
  .warp/workflows/warning_audit.yaml
Due: check-copyright

Phase 4: Update validation matrix (Ivy Bridge) + BUILD_SYSTEM_GUIDE platform caveats
  WARP.md
  docs/BUILD_SYSTEM_GUIDE.md
Due: check-copyright

Phase 4: Update README.md for accuracy
  README.md
Due: check-copyright

Phase 4 tail: duplicate namespace, string consistency, batch guide, version 0.9.0
  CMakeLists.txt
  docs/PARALLEL_BATCH_PROCESSING_GUIDE.md
  include/libstats.h
  src/work_stealing_pool.cpp
  tests/test_discrete_enhanced.cpp
  tests/test_exponential_enhanced.cpp
  tests/test_gamma_enhanced.cpp
  tests/test_gaussian_enhanced.cpp
  tests/test_poisson_enhanced.cpp
  tests/test_uniform_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

Fix C4566: replace \u03bc escape with literal mu in string literal
  tests/test_error_handling_comprehensive.cpp
Due: check-copyright, no-debug-code, validate-includes

Phase 4: Resolve DLL test failures — root cause was CRT mismatch, not DLL boundary
  CMakeLists.txt
  WARP.md
Due: check-copyright

Clarify AVX-512 transcendental delegation: SVML constraint, not TODO
  src/simd_avx512.cpp
Due: check-copyright, no-debug-code, validate-includes

Docs cleanup: remove 6 stale planning docs, update 4 inaccurate docs
  README.md
  docs/AVX512_TESTING_GUIDE.md
  docs/DISTRIBUTION_REFACTORING_POST_V1.md
  docs/HEADER_ARCHITECTURE_GUIDE.md
  docs/SIMD_BENCHMARK_RESULTS.md
  docs/SIMD_OPTIMIZATION_REFERENCE.md
  docs/WINDOWS_SUPPORT_GUIDE.md
  docs/level1_test_optimization_plan.md
  docs/post-v1.0.0_roadmap.md
  docs/simd_architecture_repair_plan.md
  docs/test_architecture.md
  docs/test_organization.md
  docs/v1.0.0_release_roadmap_final.md
Due: check-copyright

Update WARP.md: Phase 4 complete, Phase 5 next
  WARP.md
Due: check-copyright

Fix MSVC redefinition errors: remove duplicate include/ path
  CMakeLists.txt
Due: check-copyright

Fix last non-prefixed include in basic_usage.cpp, remove duplicate include/ from examples
  examples/CMakeLists.txt
  examples/basic_usage.cpp
Due: check-copyright, no-debug-code, validate-includes

Phase 6A: SIMD batch ops for Exponential, Gamma, and Uniform
  WARP.md
  src/exponential.cpp
  src/gamma.cpp
  src/gaussian.cpp
  src/uniform.cpp
Due: check-copyright, no-debug-code, validate-includes

Phase 6B: Add ChiSquaredDistribution (delegation wrapper over GammaDistribution)
  CMakeLists.txt
  docs/PARALLEL_BATCH_PROCESSING_GUIDE.md
  include/common/forward_declarations.h
  include/distributions/chi_squared.h
  include/libstats.h
  src/chi_squared.cpp
  tests/test_chi_squared_basic.cpp
  tests/test_chi_squared_enhanced.cpp
  tools/simd_verification.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

Phase 6B: Add StudentTDistribution (full real-line, log-space SIMD)
  CMakeLists.txt
  include/common/forward_declarations.h
  include/core/dispatch_utils.h
  include/core/performance_dispatcher.h
  include/distributions/student_t.h
  include/libstats.h
  src/parallel_thresholds.cpp
  src/student_t.cpp
  tests/test_student_t_basic.cpp
  tests/test_student_t_enhanced.cpp
  tools/simd_verification.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

Phase 6B: Add BetaDistribution + promote digamma/inverse_beta_i to detail::
  CMakeLists.txt
  include/common/forward_declarations.h
  include/core/dispatch_utils.h
  include/core/math_utils.h
  include/core/performance_dispatcher.h
  include/distributions/beta.h
  include/distributions/student_t.h
  include/libstats.h
  src/beta.cpp
  src/math_utils.cpp
  src/parallel_thresholds.cpp
  src/student_t.cpp
  tests/test_beta_basic.cpp
  tests/test_beta_enhanced.cpp
  tools/simd_verification.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

Fix unhandled STUDENT_T/BETA in distribution_characteristics.h
  include/core/distribution_characteristics.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

Pre-release cleanup: docs, examples, tests, tools, and scripts
  CHANGELOG.md
  PROJECT_CONCEPT.md
  README.md
  WARP.md
  docs/BUILD_SYSTEM_GUIDE.md
  docs/PARALLEL_BATCH_PROCESSING_GUIDE.md
  docs/test_architecture.md
  examples/CMakeLists.txt
  examples/comparative_distributions_demo.cpp
  examples/distribution_families_demo.cpp
  examples/exponential_performance_benchmark.cpp
  examples/gaussian_performance_benchmark.cpp
  examples/poisson_usage_demo.cpp
  examples/uniform_usage_demo.cpp
  include/core/dispatch_utils.h
  include/core/distribution_characteristics.h
  include/core/performance_dispatcher.h
  scripts/README.md
  scripts/test-cross-compiler.sh
  src/performance_dispatcher.cpp
  tests/compare_math_utils_with_scipy.py
  tests/test_dual_api.cpp
  tests/test_math_utils.cpp
  tests/test_safe_factory.cpp
  tests/test_safety.cpp
  tests/test_vectorized_math.cpp
  tools/README.md
  tools/learning_analyzer.cpp
  tools/performance_dispatcher_tool.cpp
  tools/tool_utils.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

WARP.md: record Phase 6B AVX-512 validation results (Asus TUF A16)
  WARP.md
Due: check-copyright

Label test_system_capabilities as timing; update WARP.md for vcpkg/GTest setup
  CMakeLists.txt
Due: check-copyright

WARP.md: document vcpkg toolchain requirement for Windows cmake configure
  WARP.md
Due: check-copyright

Explain scalar CDF batch paths in Gamma, Beta, and StudentT
  src/beta.cpp
  src/gamma.cpp
  src/student_t.cpp
Due: check-copyright, no-debug-code, validate-includes

WARP.md: record Phase 6B M1 NEON validation (33/33, 54/54, 2.31x)
  WARP.md
Due: check-copyright

WARP.md: record Phase 6B Kaby Lake AVX2 validation (33/33, 54/54, 3.49x)
  WARP.md
Due: check-copyright

Final pre-merge cleanup: update WARP.md status and README roadmap
  README.md
  WARP.md
Due: check-copyright

Update CONTRIBUTING.md for v1.0.0
  CONTRIBUTING.md
Due: check-copyright

v1.0.0: finalize CHANGELOG, WARP.md, and README
  CHANGELOG.md
  README.md
  WARP.md
Due: check-copyright
