Repository OldCrow/libstats: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pragma-once, check-copyright, no-debug-code, validate-includes

check-pragma-once:
  name: Check for
  entry: scripts/check-pragma-once.sh
  language: script
  pass_filenames: true

check-copyright:
  name: Check copyright headers
  entry: scripts/check-copyright.sh
  language: script

no-debug-code:
  name: Check for debug code
  entry: scripts/check-no-debug.sh
  language: script
  pass_filenames: true

validate-includes:
  name: Validate include order
  entry: scripts/validate-includes.sh
  language: script
  pass_filenames: true

docs(agents): clang-cl contracts floating-point expressions by default
  AGENTS.md
Due: check-copyright

docs(plan): trends from the v2.5.0 captures, open for v2.5.0 and corvus planning
  PLAN.md
Due: check-copyright

ci: allow a manual dispatch of CI, as on dev/v2.5.0-corvus
  .github/workflows/ci.yml
Due: check-copyright

docs(plan): K bit-identical at the freeze code; CI green on dev/v2.4.2 at bb27040
  PLAN.md
Due: check-copyright

docs(plan): M bit-identical at the freeze code
  PLAN.md
Due: check-copyright

docs(plan): #175-#177 filed for v2.5.0; GitHub reconciled 2026-10-06
  PLAN.md
Due: check-copyright

fix(parallel): one snapshot per batch, sliced batch kernels in PARALLEL (#175, #176)
  include/libstats/distributions/binomial.h
  include/libstats/distributions/negative_binomial.h
  src/binomial.cpp
  src/negative_binomial.cpp
  src/student_t.cpp
  src/von_mises.cpp
  tests/CMakeLists.txt
  tests/test_parallel_batch_gates.cpp
  tests/test_snapshot_consistency.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix(concurrency): locks, TOCTOUs and parallel paths from the 2026-10-06 audit
  include/libstats/core/dispatch_utils.h
  include/libstats/platform/thread_pool.h
  src/bernoulli.cpp
  src/beta.cpp
  src/binomial.cpp
  src/chi_squared.cpp
  src/discrete.cpp
  src/erlang.cpp
  src/exponential.cpp
  src/gamma.cpp
  src/gaussian.cpp
  src/geometric.cpp
  src/half_normal.cpp
  src/inverse_gamma.cpp
  src/lognormal.cpp
  src/negative_binomial.cpp
  src/pareto.cpp
  src/poisson.cpp
  src/rayleigh.cpp
  src/truncated_normal.cpp
  src/uniform.cpp
  src/von_mises.cpp
  src/weibull.cpp
  src/work_stealing_pool.cpp
  tests/CMakeLists.txt
  tests/test_concurrency_gates.cpp
  tests/test_snapshot_consistency.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs(plan): freeze head ee11e62; every machine re-profiles; #178-#183 filed
  PLAN.md
Due: check-copyright

docs(plan): R9, a concurrency stress test and ThreadSanitizer on M; Z re-profiles overnight
  PLAN.md
Due: check-copyright

docs(plan): R9 — mechanical concurrency checks on M, K and Z
  PLAN.md
Due: check-copyright

test(concurrency): R9 stress test for all 27 distributions; M evidence
  PLAN.md
  docs/bench-evidence/2026-10-06-m1-concurrency/failfirst_6987317.txt
  docs/bench-evidence/2026-10-06-m1-concurrency/kernels.txt
  docs/bench-evidence/2026-10-06-m1-concurrency/stress_head.txt
  docs/bench-evidence/2026-10-06-m1-concurrency/summary.txt
  docs/bench-evidence/2026-10-06-m1-concurrency/tsan_73ecbfe.txt
  docs/bench-evidence/2026-10-06-m1-concurrency/tsan_head.txt
  tests/CMakeLists.txt
  tests/test_concurrency_stress.cpp
Due: check-copyright, no-debug-code, validate-includes

style: clang-format drift in erlang, inverse_gamma, logistic, lognormal
  src/erlang.cpp
  src/inverse_gamma.cpp
  src/logistic.cpp
  src/lognormal.cpp
Due: check-copyright, no-debug-code, validate-includes

fix(poisson): export validateCurrentParameters (#189)
  src/poisson.cpp
  tests/test_concurrency_stress.cpp
Due: check-copyright, no-debug-code, validate-includes

fix(poisson): operator>> reads operator<<'s output (#187)
  src/poisson.cpp
  tests/test_concurrency_stress.cpp
Due: check-copyright, no-debug-code, validate-includes

fix(gaussian): no thread_local Box-Muller spare in sample (#188)
  src/gaussian.cpp
  tests/test_concurrency_stress.cpp
Due: check-copyright, no-debug-code, validate-includes

fix(concurrency): move-assignment locks both objects (#184)
  include/libstats/core/distribution_base.h
  src/bernoulli.cpp
  src/beta.cpp
  src/binomial.cpp
  src/cauchy.cpp
  src/chi_squared.cpp
  src/discrete.cpp
  src/erlang.cpp
  src/exponential.cpp
  src/fisher_f.cpp
  src/gamma.cpp
  src/gaussian.cpp
  src/geometric.cpp
  src/gumbel.cpp
  src/half_normal.cpp
  src/inverse_gamma.cpp
  src/laplace.cpp
  src/logistic.cpp
  src/lognormal.cpp
  src/negative_binomial.cpp
  src/pareto.cpp
  src/poisson.cpp
  src/rayleigh.cpp
  src/student_t.cpp
  src/truncated_normal.cpp
  src/uniform.cpp
  src/von_mises.cpp
  src/weibull.cpp
  tests/test_concurrency_stress.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix(truncated-normal): fit commits only if the bounds are unchanged (#185)
  src/truncated_normal.cpp
  tests/test_concurrency_stress.cpp
Due: check-copyright, no-debug-code, validate-includes

fix(sample): InverseGamma and FisherF sample(rng, n) draw from one state (#186)
  src/fisher_f.cpp
  src/inverse_gamma.cpp
  tests/test_concurrency_stress.cpp
Due: check-copyright, no-debug-code, validate-includes

docs: SCALAR batches are per-element in v2.x (Q1); plan state after #184-#189
  AGENTS.md
  PLAN.md
Due: check-copyright

fix(dispatch): physical cores from the CPU detector, not logical / 2 (#190)
  src/cpu_detection.cpp
  src/system_capabilities.cpp
  tests/test_concurrency_stress.cpp
Due: check-copyright, no-debug-code, validate-includes

perf(parallel): PARALLEL and WORK_STEALING run the batch kernel over slices (#191)
  src/beta.cpp
  src/cauchy.cpp
  src/discrete.cpp
  src/exponential.cpp
  src/gamma.cpp
  src/gaussian.cpp
  src/gumbel.cpp
  src/half_normal.cpp
  src/laplace.cpp
  src/logistic.cpp
  src/lognormal.cpp
  src/pareto.cpp
  src/poisson.cpp
  src/rayleigh.cpp
  src/student_t.cpp
  src/truncated_normal.cpp
  src/uniform.cpp
  src/von_mises.cpp
  src/weibull.cpp
  tests/test_concurrency_stress.cpp
Due: check-copyright, no-debug-code, validate-includes

docs(plan): #190 and #191 on M; next, the new freeze head everywhere
  PLAN.md
Due: check-copyright

test(windows): /bigobj for the stress test under MSVC; no std::getenv
  tests/CMakeLists.txt
  tests/test_concurrency_stress.cpp
  tools/bench/v242_cost_bench.cpp
Due: check-copyright, no-debug-code, validate-includes

fix(parallel): fold a partial final slice into the previous one (#191); C7 probe (#180)
  include/libstats/platform/thread_pool.h
  include/libstats/platform/work_stealing_pool.h
  tests/test_concurrency_stress.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs(plan): freeze policy; freeze head 045acd9; K at the new head, C7 probe
  PLAN.md
Due: check-copyright

fix(numerics): TruncatedNormal near-bound series and quantile (#201); Beta quantile solver (#137)
  src/math_utils.cpp
  src/truncated_normal.cpp
  tests/CMakeLists.txt
  tests/test_beta_quantile_accuracy.cpp
  tests/test_truncated_normal_enhanced.cpp
Due: check-copyright, no-debug-code, validate-includes

fix(concurrency, delegates): setters validate under the lock (#183); owners reject what delegates reject (#227); CI identity and I/O/fit fuzz tests (#210)
  include/libstats/common/distribution_common.h
  include/libstats/core/error_handling.h
  include/libstats/distributions/binomial.h
  include/libstats/distributions/gamma.h
  src/bernoulli.cpp
  src/beta.cpp
  src/binomial.cpp
  src/cauchy.cpp
  src/chi_squared.cpp
  src/erlang.cpp
  src/exponential.cpp
  src/fisher_f.cpp
  src/gamma.cpp
  src/gaussian.cpp
  src/geometric.cpp
  src/gumbel.cpp
  src/half_normal.cpp
  src/inverse_gamma.cpp
  src/laplace.cpp
  src/logistic.cpp
  src/lognormal.cpp
  src/negative_binomial.cpp
  src/pareto.cpp
  src/poisson.cpp
  src/rayleigh.cpp
  src/student_t.cpp
  src/truncated_normal.cpp
  src/uniform.cpp
  src/von_mises.cpp
  src/weibull.cpp
  tests/CMakeLists.txt
  tests/test_contract_gates.cpp
  tests/test_distribution_identities.cpp
  tests/test_io_fit_fuzz.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

tools(oracle): score discrete-uniform quantile ties by the library-CDF rule (#204)
  tools/accuracy_vs_mpmath.py
Due: check-copyright

docs(accuracy): regenerate AVX2 block at 6920ece (code b0ac2ad) — 0 → 0
  docs/ACCURACY_CHARACTERIZATION.md
Due: check-copyright

docs(plan): freeze head b0ac2ad; the 2026-10-07/08 review fix round on K
  PLAN.md
Due: check-copyright

test(ci): the new tests on CI's runners — CMake script policy, strict GCC, a starvation watchdog, two budgets
  tests/CMakeLists.txt
  tests/check_inline_member_definitions.cmake
  tests/test_concurrency_gates.cpp
  tests/test_concurrency_stress.cpp
  tests/test_distribution_identities.cpp
Due: check-copyright, no-debug-code, validate-includes

fix: Gamma quantile and CDF at extreme shapes (#223, #224, #226, #214); TruncatedNormal quantile at denorm_min (#225); Beta sampler and CDF at small shapes (#228, #229)
  include/libstats/core/math_utils.h
  include/libstats/distributions/beta.h
  src/beta.cpp
  src/math_utils.cpp
  src/truncated_normal.cpp
  tests/test_beta_enhanced.cpp
  tests/test_contract_gates.cpp
  tests/test_distribution_identities.cpp
  tests/test_fisher_f_enhanced.cpp
  tests/test_gamma_quantile_accuracy.cpp
  tests/test_incomplete_gamma_beta_accuracy.cpp
  tests/test_truncated_normal_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix(beta): inverse_beta_i at shapes below 1e-3 (#230)
  src/math_utils.cpp
  tests/test_beta_quantile_accuracy.cpp
Due: check-copyright, no-debug-code, validate-includes

docs(plan): freeze head f380bde; second fix round, #230, the void overnight; review next
  PLAN.md
Due: check-copyright

docs(plan): freeze head f380bde; #230 committed; the 2026-10-08/09 overnight void
  PLAN.md
Due: check-copyright

Path conditions:
  check-pragma-once: any of: \.(h|hpp|hxx)$, but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

  check-copyright: any of: not (^(\.git/|build/|third_party/|docs/archive/)), but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

  no-debug-code: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

  validate-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

