Repository OldCrow/libstats: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pragma-once, check-copyright, no-debug-code, validate-includes

check-pragma-once:
  name: Check for
  entry: scripts/check-pragma-once.sh
  language: script
  pass_filenames: true

check-copyright:
  name: Check copyright headers
  entry: scripts/check-copyright.sh
  language: script

no-debug-code:
  name: Check for debug code
  entry: scripts/check-no-debug.sh
  language: script
  pass_filenames: true

validate-includes:
  name: Validate include order
  entry: scripts/validate-includes.sh
  language: script
  pass_filenames: true

fix: update error_handling test — Discrete a==b is valid (degenerate)
  tests/test_error_handling_comprehensive.cpp
Due: check-copyright, no-debug-code, validate-includes

chore: bump version to 2.0.2
  CHANGELOG.md
  CMakeLists.txt
  README.md
Due: check-copyright

test: calibrate Poisson SIMD threshold for AMD Zen4 double-pumped AVX-512
  tests/include/validators.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

perf: raise kAvx512 thresholds for Laplace and Uniform (issue #50)
  include/core/dispatch_thresholds.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

perf: refine Laplace and Uniform kAvx512 thresholds (issue #50)
  include/core/dispatch_thresholds.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs: add dispatch calibration, cache hierarchy, and accuracy findings
  docs/SIMD_BENCHMARK_RESULTS.md
  docs/SIMD_OPTIMIZATION_REFERENCE.md
Due: check-copyright

perf: recalibrate kNeon thresholds for Laplace, Rayleigh, LogNormal PDF (issue #50)
  docs/SIMD_BENCHMARK_RESULTS.md
  docs/SIMD_OPTIMIZATION_REFERENCE.md
  include/core/dispatch_thresholds.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

perf: recalibrate kAvx2/kAvx thresholds for Kaby Lake AVX2+FMA (issue #50)
  include/core/dispatch_thresholds.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

perf: document PB2/TDP interaction in kAvx512; close #50 Gaussian/Exponential items
  include/core/dispatch_thresholds.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

chore: bump version to v2.0.3
  AGENTS.md
  CHANGELOG.md
  CMakeLists.txt
  README.md
Due: check-copyright

Fix audit findings L1, L2, L6: benchmark flake, SIMD ODR hazard, docs
  README.md
  src/simd_avx.cpp
  src/simd_avx2.cpp
  src/simd_avx512.cpp
  src/simd_fallback.cpp
  src/simd_neon.cpp
  src/simd_sse2.cpp
  tests/test_benchmark.cpp
Due: check-copyright, no-debug-code, validate-includes

Fix audit findings L1, L2, L6: benchmark flake, SIMD ODR hazard, docs (#63)
  README.md
  src/simd_avx.cpp
  src/simd_avx2.cpp
  src/simd_avx512.cpp
  src/simd_fallback.cpp
  src/simd_neon.cpp
  src/simd_sse2.cpp
  tests/test_benchmark.cpp
Due: check-copyright, no-debug-code, validate-includes

Fix audit findings L3, L5: LIBSTATS_PORTABLE option; cache doc accuracy; remove CachedProperty
  CMakeLists.txt
  include/core/distribution_cache.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

Fix audit findings L3, L5: LIBSTATS_PORTABLE, cache doc accuracy, remove CachedProperty (#64)
  CMakeLists.txt
  include/core/distribution_cache.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

refactor: add withCacheSnapshot helper; eliminate Pattern B duplication (L4)
  include/core/distribution_cache.h
  src/binomial.cpp
  src/gaussian.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

refactor: convert weibull/von_mises/discrete/gamma to Pattern C snapshots
  src/discrete.cpp
  src/gamma.cpp
  src/von_mises.cpp
  src/weibull.cpp
Due: check-copyright, no-debug-code, validate-includes

refactor: convert 13 remaining distributions to Pattern C snapshots
  src/beta.cpp
  src/binomial.cpp
  src/cauchy.cpp
  src/exponential.cpp
  src/gaussian.cpp
  src/laplace.cpp
  src/lognormal.cpp
  src/negative_binomial.cpp
  src/pareto.cpp
  src/poisson.cpp
  src/rayleigh.cpp
  src/student_t.cpp
  src/uniform.cpp
Due: check-copyright, no-debug-code, validate-includes

chore: bump version to v2.0.4
  AGENTS.md
  CHANGELOG.md
  CMakeLists.txt
  README.md
Due: check-copyright

refactor: unify DCL snapshot pattern across all 19 distributions (withCacheSnapshot) (#65)
  AGENTS.md
  CHANGELOG.md
  CMakeLists.txt
  README.md
  include/core/distribution_cache.h
  src/beta.cpp
  src/binomial.cpp
  src/cauchy.cpp
  src/discrete.cpp
  src/exponential.cpp
  src/gamma.cpp
  src/gaussian.cpp
  src/laplace.cpp
  src/lognormal.cpp
  src/negative_binomial.cpp
  src/pareto.cpp
  src/poisson.cpp
  src/rayleigh.cpp
  src/student_t.cpp
  src/uniform.cpp
  src/von_mises.cpp
  src/weibull.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs: align AGENTS.md structure and add CLAUDE.md import shim
  AGENTS.md
  CLAUDE.md
Due: check-copyright

docs: trim VALIDATION_HISTORY.md to unique validation/SIMD data
  docs/VALIDATION_HISTORY.md
Due: check-copyright

docs: fix Asus TUF A16 contradiction, expand MIGRATION_GUIDE.md, create PLAN.md
  AGENTS.md
  MIGRATION_GUIDE.md
  PLAN.md
Due: check-copyright

docs(plan): reflect housekeeping — stale branches/worktrees pruned, stashes resolved
  PLAN.md
Due: check-copyright

docs(plan): record backup/wip-dispatch-thresholds-tuning as obsolete and deleted
  PLAN.md
Due: check-copyright

Issue #33: AVX2 gather-throughput probe (Kaby Lake) — null result
  CMakeLists.txt
  PLAN.md
  docs/SIMD_BENCHMARK_RESULTS.md
  tools/gather_throughput_probe.cpp
Due: check-copyright, no-debug-code, validate-includes

Issue #33: extend gather probe with AVX-512 path; Zen 4 kill-gate clears for exp
  CMakeLists.txt
  PLAN.md
  docs/SIMD_BENCHMARK_RESULTS.md
  tools/gather_throughput_probe.cpp
Due: check-copyright, no-debug-code, validate-includes

Issue #33 Stage 3: AVX-512 table-gather exp -- null result (accuracy holds, perf fails)
  PLAN.md
  THIRD_PARTY_NOTICES.md
  docs/SIMD_BENCHMARK_RESULTS.md
  scripts/gen_avx512_exp_table.py
  scripts/gen_exp_ulp_vectors.py
  src/avx512_exp_data.inc
  src/avx512_exp_ulp_vectors.inc
  tools/gather_throughput_probe.cpp
Due: check-copyright, no-debug-code, validate-includes

Issue #33: x86 gather-vs-polynomial exp/log experiment (AVX2 + AVX-512) -- null result + reusable dev tooling (#66)
  CMakeLists.txt
  PLAN.md
  THIRD_PARTY_NOTICES.md
  docs/SIMD_BENCHMARK_RESULTS.md
  scripts/gen_avx512_exp_table.py
  scripts/gen_exp_ulp_vectors.py
  src/avx512_exp_data.inc
  src/avx512_exp_ulp_vectors.inc
  tools/gather_throughput_probe.cpp
Due: check-copyright, no-debug-code, validate-includes

feat(neon): Issue #33 Q1 prototype -- table-gather exp/log for NEON
  CMakeLists.txt
  PLAN.md
  THIRD_PARTY_NOTICES.md
  scripts/gen_log_ulp_vectors.py
  scripts/gen_neon_exp_table.py
  scripts/gen_neon_log_table.py
  src/log_ulp_vectors.inc
  src/neon_exp_data.inc
  src/neon_log_data.inc
  tools/neon_table_transcendental_probe.cpp
Due: check-copyright, no-debug-code, validate-includes

feat(neon): productionize table-based exp kernel (issue #33 Q1)
  CMakeLists.txt
  PLAN.md
  THIRD_PARTY_NOTICES.md
  docs/SIMD_BENCHMARK_RESULTS.md
  scripts/gen_exp_ulp_vectors.py
  src/exp_ulp_vectors.inc
  src/simd_neon.cpp
  tests/test_simd_neon_exp_accuracy.cpp
  tools/gather_throughput_probe.cpp
  tools/neon_table_transcendental_probe.cpp
Due: check-copyright, no-debug-code, validate-includes

docs: record PR #70 in PLAN.md
  PLAN.md
Due: check-copyright

feat(neon): productionize clean-room vector_log_neon (supersedes Q1 log null)
  CMakeLists.txt
  PLAN.md
  THIRD_PARTY_NOTICES.md
  docs/NEON_LOG_DERIVATION.md
  docs/NEON_LOG_DIVERGENCE_AUDIT.md
  scripts/gen_neon_log_cleanroom_table.py
  src/neon_log_cleanroom_data.inc
  src/simd_neon.cpp
  tests/test_simd_neon_log_accuracy.cpp
Due: check-copyright, no-debug-code, validate-includes

feat(neon): productionize table-based exp kernel (issue #33 Q1) (#70)
  CMakeLists.txt
  PLAN.md
  THIRD_PARTY_NOTICES.md
  docs/SIMD_BENCHMARK_RESULTS.md
  scripts/gen_exp_ulp_vectors.py
  scripts/gen_log_ulp_vectors.py
  scripts/gen_neon_exp_table.py
  scripts/gen_neon_log_table.py
  src/exp_ulp_vectors.inc
  src/log_ulp_vectors.inc
  src/neon_exp_data.inc
  src/neon_log_data.inc
  src/simd_neon.cpp
  tests/test_simd_neon_exp_accuracy.cpp
  tools/gather_throughput_probe.cpp
  tools/neon_table_transcendental_probe.cpp
Due: check-copyright, no-debug-code, validate-includes

feat(neon): productionize clean-room vector_log_neon (supersedes Q1 log null) (#72)
  CMakeLists.txt
  PLAN.md
  THIRD_PARTY_NOTICES.md
  docs/NEON_LOG_DERIVATION.md
  docs/NEON_LOG_DIVERGENCE_AUDIT.md
  scripts/gen_neon_log_cleanroom_table.py
  src/neon_log_cleanroom_data.inc
  src/simd_neon.cpp
  tests/test_simd_neon_log_accuracy.cpp
Due: check-copyright, no-debug-code, validate-includes

fix(simd): graceful exp underflow through subnormals in all SIMD backends
  PLAN.md
  src/simd_avx.cpp
  src/simd_avx2.cpp
  src/simd_avx512.cpp
  src/simd_sse2.cpp
  tests/test_batch_math_regressions.cpp
Due: check-copyright, no-debug-code, validate-includes

fix(neon): resolve #67 -- replace glibc-derived vector_erf_neon with a clean-room implementation
  THIRD_PARTY_NOTICES.md
  docs/NEON_ERF_DERIVATION.md
  docs/NEON_ERF_DIVERGENCE_AUDIT.md
  scripts/gen_neon_erf_table.py
  src/neon_erf_data.inc
  src/simd_neon.cpp
Due: check-copyright, no-debug-code, validate-includes

docs(plan): record #67 resolution and #49 disconfirmation
  PLAN.md
Due: check-copyright

fix(simd): graceful exp underflow through subnormals in all SIMD backends (#68)
  PLAN.md
  src/simd_avx.cpp
  src/simd_avx2.cpp
  src/simd_avx512.cpp
  src/simd_sse2.cpp
  tests/test_batch_math_regressions.cpp
Due: check-copyright, no-debug-code, validate-includes

fix(neon): resolve #67 -- replace glibc-derived vector_erf_neon with a clean-room implementation (#69)
  PLAN.md
  THIRD_PARTY_NOTICES.md
  docs/NEON_ERF_DERIVATION.md
  docs/NEON_ERF_DIVERGENCE_AUDIT.md
  scripts/gen_neon_erf_table.py
  src/neon_erf_data.inc
  src/simd_neon.cpp
Due: check-copyright, no-debug-code, validate-includes

Path conditions:
  check-pragma-once: any of: \.(h|hpp|hxx)$, but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

  check-copyright: any of: not (^(\.git/|build/|third_party/|docs/archive/)), but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

  no-debug-code: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

  validate-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

