Repository OldCrow/libstats: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pragma-once, check-copyright, no-debug-code, validate-includes

check-pragma-once:
  name: Check for
  entry: scripts/check-pragma-once.sh
  language: script
  pass_filenames: true

check-copyright:
  name: Check copyright headers
  entry: scripts/check-copyright.sh
  language: script

no-debug-code:
  name: Check for debug code
  entry: scripts/check-no-debug.sh
  language: script
  pass_filenames: true

validate-includes:
  name: Validate include order
  entry: scripts/validate-includes.sh
  language: script
  pass_filenames: true

test: split timing cases out of mixed binaries (#212); measure batch-fit speedup above the parallel threshold (#177)
  tests/CMakeLists.txt
  tests/test_gaussian_enhanced.cpp
Due: check-copyright, no-debug-code, validate-includes

fix: hunt-2 defects in Beta, TruncatedNormal, Student-t, FisherF, von Mises, Gamma, Weibull, Uniform; the beta continued fraction near its branch point
  include/libstats/core/bessel.h
  include/libstats/core/math_utils.h
  include/libstats/distributions/truncated_normal.h
  include/libstats/distributions/uniform.h
  include/libstats/distributions/von_mises.h
  src/fisher_f.cpp
  src/gamma.cpp
  src/inverse_gamma.cpp
  src/math_utils.cpp
  src/pareto.cpp
  src/student_t.cpp
  src/truncated_normal.cpp
  src/uniform.cpp
  src/von_mises.cpp
  src/weibull.cpp
  tests/test_beta_quantile_accuracy.cpp
  tests/test_contract_gates.cpp
  tests/test_fisher_f_enhanced.cpp
  tests/test_student_t_enhanced.cpp
  tests/test_student_t_tails.cpp
  tests/test_truncated_normal_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix(ci): MSVC `small` macro collision; two guards contraction-robust on AArch64
  src/fisher_f.cpp
  src/math_utils.cpp
  tests/test_beta_quantile_accuracy.cpp
  tests/test_contract_gates.cpp
Due: check-copyright, no-debug-code, validate-includes

fix: Student-t fit past nu = 1000 with a Gaussian limit; correctness checks out of timing cases; one more MSVC `small`
  include/libstats/distributions/student_t.h
  src/student_t.cpp
  tests/test_beta_quantile_accuracy.cpp
  tests/test_cauchy_enhanced.cpp
  tests/test_discrete_enhanced.cpp
  tests/test_exponential_enhanced.cpp
  tests/test_gamma_enhanced.cpp
  tests/test_gaussian_enhanced.cpp
  tests/test_laplace_enhanced.cpp
  tests/test_lognormal_enhanced.cpp
  tests/test_pareto_enhanced.cpp
  tests/test_poisson_enhanced.cpp
  tests/test_rayleigh_enhanced.cpp
  tests/test_student_t_enhanced.cpp
  tests/test_uniform_enhanced.cpp
  tests/test_weibull_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix(beta): compute the small side directly above the branch point for b < 1; Student-t guard pooled
  src/math_utils.cpp
  tests/test_beta_quantile_accuracy.cpp
  tests/test_student_t_enhanced.cpp
Due: check-copyright, no-debug-code, validate-includes

docs(plan): freeze head d7e9dbd; the 2026-10-10 hunt-2 fix round; targeted hunt next
  PLAN.md
Due: check-copyright

Path conditions:
  check-pragma-once: any of: \.(h|hpp|hxx)$, but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

  check-copyright: any of: not (^(\.git/|build/|third_party/|docs/archive/)), but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

  no-debug-code: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

  validate-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

