Repository OldCrow/libstats: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pragma-once, check-copyright, no-debug-code, validate-includes

.pre-commit-config.yaml:

# Pre-commit hooks configuration for libstats
# Run: pre-commit install to set up the git hook scripts
# Then pre-commit will run automatically on git commit

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_language_version:
  python: python3

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: Fix trailing whitespace
      - id: end-of-file-fixer
        name: Fix missing newline at end of file
      - id: check-yaml
        name: Check YAML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: check-case-conflict
        name: Check for case conflicts
      - id: mixed-line-ending
        name: Check line endings
        args: ['--fix=lf']
      - id: check-symlinks
        name: Check for broken symlinks
      - id: check-executables-have-shebangs
        name: Check executables have shebangs
      - id: check-shebang-scripts-are-executable
        name: Check scripts with shebangs are executable

  # C++ formatting with clang-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.8
    hooks:
      - id: clang-format
        name: Format C++ code with clang-format
        types_or: [c++, c]
        args: ['-i', '--style=file']
        files: \.(cpp|cc|cxx|hpp|h|hxx)$

  # CMake formatting and linting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        name: Format CMake files
        args: ['--config=.cmake-format.yaml', '--in-place']
        additional_dependencies: ["pyyaml"]

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        name: Check shell scripts
        args: ['--severity=warning']

  # Markdown formatting (Ruby-based for better compatibility)
#  - repo: https://github.com/markdownlint/markdownlint
#    rev: v0.13.0
#    hooks:
#      - id: markdownlint
#        name: Lint markdown files
#        args: ["-s", ".markdownlint-style.rb"]

  # Check for secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: Detect secrets
        args: ['--baseline', '.secrets.baseline']
        additional_dependencies: ['detect-secrets']

  # Custom local hooks for libstats-specific checks
  - repo: local
    hooks:
      - id: check-pragma-once
        name: Check for #pragma once in headers
        entry: scripts/check-pragma-once.sh
        language: script
        files: \.(h|hpp|hxx)$
        pass_filenames: true

      - id: check-copyright
        name: Check copyright headers
        entry: scripts/check-copyright.sh
        language: script
        types: [text]
        exclude: ^(\.git/|build/|third_party/|docs/archive/)

      - id: no-debug-code
        name: Check for debug code
        entry: scripts/check-no-debug.sh
        language: script
        types_or: [c++, c]
        pass_filenames: true

      - id: validate-includes
        name: Validate include order
        entry: scripts/validate-includes.sh
        language: script
        types_or: [c++, c]
        pass_filenames: true

# Configuration for specific hooks
exclude: |
  (?x)^(
    build/.*|
    third_party/.*|
    docs/archive/.*|
    .*\.min\.js|
    .*\.min\.css
  )$

docs(accuracy): regenerate AVX-512 block post-fix — 57 -> 34 on 9210 rows
  docs/ACCURACY_CHARACTERIZATION.md
Due: check-copyright

fix(accuracy): close the v2.4.0 sweep findings - four library fixes + oracle overflow rule (57 -> 34) (#142)
  docs/ACCURACY_CHARACTERIZATION.md
  src/fisher_f.cpp
  src/gamma.cpp
  src/truncated_normal.cpp
  tests/test_erlang_enhanced.cpp
  tests/test_fisher_f_enhanced.cpp
  tests/test_gamma_enhanced.cpp
  tests/test_truncated_normal_enhanced.cpp
  tools/accuracy_vs_mpmath.py
Due: check-copyright, no-debug-code, validate-includes

docs(plan): 2026-09-03 evening sync — sweep extension #140 + accuracy fixes #142 landed, #141 filed, worktrees cleaned
  PLAN.md
Due: check-copyright

feat(tools): strategy_profile covers all 27 distributions (19 -> 27)
  include/libstats/core/distribution_meta.h
  tools/strategy_profile.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix(parallel): sliced batch paths never actually forked — add parallelForSlices
  include/libstats/platform/thread_pool.h
  include/libstats/platform/work_stealing_pool.h
  src/beta.cpp
  src/fisher_f.cpp
  src/gamma.cpp
  src/inverse_gamma.cpp
  src/lognormal.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

feat(dispatch): calibrate kAvx512 rows for the v2.4.0 eight + repaired paths
  include/libstats/core/dispatch_thresholds.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

feat(dispatch): Zen 4 threshold calibration for the v2.4.0 eight + parallelForSlices fork repair (#143)
  include/libstats/core/dispatch_thresholds.h
  include/libstats/core/distribution_meta.h
  include/libstats/platform/thread_pool.h
  include/libstats/platform/work_stealing_pool.h
  src/beta.cpp
  src/fisher_f.cpp
  src/gamma.cpp
  src/inverse_gamma.cpp
  src/lognormal.cpp
  tools/strategy_profile.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs(plan): 2026-09-03 night sync — thresholds calibrated (PR #143), parallelForSlices fork defect found+fixed, Zen 4 timing leg done
  PLAN.md
Due: check-copyright

docs(plan): v2.4.0 endgame reordered — machine legs before release [user]
  PLAN.md
Due: check-copyright

feat(dispatch): Kaby Lake kAvx2 recalibration for v2.4.0 + AVX2 characterization regen
  AGENTS.md
  docs/ACCURACY_CHARACTERIZATION.md
  include/libstats/core/dispatch_thresholds.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs(plan): Kaby Lake v2.4.0 leg done — kAvx2 recalibrated (7c2ca49 on dev), M1 leg is the remaining release gate
  PLAN.md
Due: check-copyright

data(profiles): Kaby Lake v2.4.0 calibration bundle (raw CSVs, sustained-crossover extraction, suite logs)
  data/profiles/dispatcher/2026-09-04T02-36-22Z_darwin-x86_64_dev-v2.4.0_sha-5f27ee1/analyze_crossovers.py
  data/profiles/dispatcher/2026-09-04T02-36-22Z_darwin-x86_64_dev-v2.4.0_sha-5f27ee1/manifest.txt
  data/profiles/dispatcher/2026-09-04T02-36-22Z_darwin-x86_64_dev-v2.4.0_sha-5f27ee1/metadata.json
  data/profiles/dispatcher/2026-09-04T02-36-22Z_darwin-x86_64_dev-v2.4.0_sha-5f27ee1/strategy_profile_run1.csv
  data/profiles/dispatcher/2026-09-04T02-36-22Z_darwin-x86_64_dev-v2.4.0_sha-5f27ee1/strategy_profile_run2.csv
  data/profiles/dispatcher/2026-09-04T02-36-22Z_darwin-x86_64_dev-v2.4.0_sha-5f27ee1/strategy_profile_run3.csv
  data/profiles/dispatcher/2026-09-04T02-36-22Z_darwin-x86_64_dev-v2.4.0_sha-5f27ee1/sustained_crossovers.txt
  data/profiles/dispatcher/2026-09-04T02-36-22Z_darwin-x86_64_dev-v2.4.0_sha-5f27ee1/sweep_kabylake.csv
Due: check-copyright

feat(dispatch): M1 NEON leg — kNeon calibration for the v2.4.0 eight + post-repair re-measure
  docs/ACCURACY_CHARACTERIZATION.md
  include/libstats/core/dispatch_thresholds.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

data(profiles): M1 v2.4.0 calibration bundle (raw CSVs, sustained-crossover extraction, suite logs)
  data/profiles/dispatcher/2026-09-04T04-22-28Z_darwin-arm64_dev-v2.4.0_sha-5f27ee1/analyze_crossovers.py
  data/profiles/dispatcher/2026-09-04T04-22-28Z_darwin-arm64_dev-v2.4.0_sha-5f27ee1/manifest.txt
  data/profiles/dispatcher/2026-09-04T04-22-28Z_darwin-arm64_dev-v2.4.0_sha-5f27ee1/metadata.json
  data/profiles/dispatcher/2026-09-04T04-22-28Z_darwin-arm64_dev-v2.4.0_sha-5f27ee1/strategy_profile_run1.csv
  data/profiles/dispatcher/2026-09-04T04-22-28Z_darwin-arm64_dev-v2.4.0_sha-5f27ee1/strategy_profile_run2.csv
  data/profiles/dispatcher/2026-09-04T04-22-28Z_darwin-arm64_dev-v2.4.0_sha-5f27ee1/strategy_profile_run3.csv
  data/profiles/dispatcher/2026-09-04T04-22-28Z_darwin-arm64_dev-v2.4.0_sha-5f27ee1/sustained_crossovers.txt
  data/profiles/dispatcher/2026-09-04T04-22-28Z_darwin-arm64_dev-v2.4.0_sha-5f27ee1/sweep_m1.csv
Due: check-copyright

docs(plan): M1 v2.4.0 leg done — kNeon recalibrated (5f9bb5e on dev), both machine legs complete, release gate cleared
  PLAN.md
Due: check-copyright

perf(dispatch): retire the provisional/stale CDF rows the v2.4.0 legs measured — von Mises, Cauchy (#109), Laplace trial value
  include/libstats/core/dispatch_thresholds.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs: v2.4.0 current-state refresh — AGENTS.md matrix, README distribution roster, mutability count
  AGENTS.md
  README.md
  docs/VALIDATION_HISTORY.md
  docs/distribution_mutability.md
Due: check-copyright

docs(agents): registration checklist step 7 — README roster + families demo are part of a distribution's definition of done
  AGENTS.md
Due: check-copyright

docs(plan): leg-findings package + AGENTS.md refresh done — #109 closed, #144/#145 filed, half-normal divergence root-caused
  PLAN.md
Due: check-copyright

docs(examples): families demo covers all 27 distributions (#145)
  README.md
  examples/distribution_families_demo.cpp
Due: check-copyright, no-debug-code, validate-includes

docs(plan): #145 closed — families demo covers all 27 (the old demo was missing 3 of the 19)
  PLAN.md
Due: check-copyright

docs(plan): post-leg lessons triage — #146 filed (sustained-crossover tooling), #111 memory-bound policy comment, cross-repo corvus#37
  PLAN.md
Due: check-copyright

feat(dispatch): first measured kAvx table — capped-build leg (LIBSTATS_MAX_SIMD_TIER=AVX) on Kaby Lake
  data/profiles/dispatcher/2026-09-04T02-36-22Z_darwin-x86_64_dev-v2.4.0_sha-5f27ee1/logs/correctness.txt
  data/profiles/dispatcher/2026-09-04T02-36-22Z_darwin-x86_64_dev-v2.4.0_sha-5f27ee1/logs/timing.txt
  data/profiles/dispatcher/2026-09-04T02-36-22Z_darwin-x86_64_dev-v2.4.0_sha-5f27ee1/manifest.txt
  data/profiles/dispatcher/2026-09-04T23-51-14Z_darwin-x86_64_dev-v2.4.0_sha-919a857/analyze_crossovers.py
  data/profiles/dispatcher/2026-09-04T23-51-14Z_darwin-x86_64_dev-v2.4.0_sha-919a857/logs/configure.txt
  data/profiles/dispatcher/2026-09-04T23-51-14Z_darwin-x86_64_dev-v2.4.0_sha-919a857/logs/correctness.txt
  data/profiles/dispatcher/2026-09-04T23-51-14Z_darwin-x86_64_dev-v2.4.0_sha-919a857/logs/tier.txt
  data/profiles/dispatcher/2026-09-04T23-51-14Z_darwin-x86_64_dev-v2.4.0_sha-919a857/manifest.txt
  data/profiles/dispatcher/2026-09-04T23-51-14Z_darwin-x86_64_dev-v2.4.0_sha-919a857/metadata.json
  data/profiles/dispatcher/2026-09-04T23-51-14Z_darwin-x86_64_dev-v2.4.0_sha-919a857/strategy_profile_run1.csv
  data/profiles/dispatcher/2026-09-04T23-51-14Z_darwin-x86_64_dev-v2.4.0_sha-919a857/strategy_profile_run2.csv
  data/profiles/dispatcher/2026-09-04T23-51-14Z_darwin-x86_64_dev-v2.4.0_sha-919a857/strategy_profile_run3.csv
  data/profiles/dispatcher/2026-09-04T23-51-14Z_darwin-x86_64_dev-v2.4.0_sha-919a857/sustained_crossovers.txt
  include/libstats/core/dispatch_thresholds.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs(plan): kAvx capped-build leg done — first measured kAvx table (cb13f34 on dev); M1 bundle log gap noted for next M1 session
  PLAN.md
Due: check-copyright

docs(agents): kAvx capped-build leg joins the validation matrix; capped-tier calibration recipe added to the checklist
  AGENTS.md
Due: check-copyright

docs(plan): final v2.4.0 PR #147 opened — isa=AVX block skipped by decision, merge fires the milestone closes
  PLAN.md
Due: check-copyright

fix(tests): explicit braces at four gtest-macro dangling-else sites (GCC -Werror=dangling-else)
  tests/test_bernoulli_enhanced.cpp
  tests/test_half_normal_enhanced.cpp
Due: check-copyright, no-debug-code, validate-includes

docs: v2.4.0 non-code audit — CHANGELOG [Unreleased] entry, sustained-crossover amendment to PROFILING_METHOD, LIBSTATS_MAX_SIMD_TIER in the build guide
  CHANGELOG.md
  docs/BUILD_SYSTEM_GUIDE.md
  scripts/PROFILING_METHOD.md
Due: check-copyright

docs(simd): v2.4.0 recalibration measurements recorded — cross-tier speedup table, two new miscalibration signatures, sustained-crossover rule
  docs/SIMD_BENCHMARK_RESULTS.md
  docs/SIMD_OPTIMIZATION_REFERENCE.md
Due: check-copyright

fix(tests): complete the dangling-else sweep (10 sites, 4 files) + extend copy_move_stress to all 27 distributions
  include/libstats/platform/simd.h
  tests/test_bernoulli_enhanced.cpp
  tests/test_erlang_enhanced.cpp
  tests/test_fisher_f_enhanced.cpp
  tests/test_inverse_gamma_enhanced.cpp
  tools/copy_move_stress.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs: comprehensive v2.4.0 audit — full-read review of all 34 doc files, ~60 findings fixed
  AGENTS.md
  CHANGELOG.md
  CONTRIBUTING.md
  MIGRATION_GUIDE.md
  PROJECT_CONCEPT.md
  README.md
  THIRD_PARTY_NOTICES.md
  consumer_example_fetchcontent/README.md
  data/profiles/dispatcher/README.md
  docs/ACADEMIC_REFERENCES.md
  docs/ACCURACY_CHARACTERIZATION.md
  docs/BUILD_SYSTEM_GUIDE.md
  docs/CI_CD_GUIDE.md
  docs/HEADER_ARCHITECTURE_GUIDE.md
  docs/HEADER_TOOLS_GUIDE.md
  docs/NEON_LOG_DERIVATION.md
  docs/NEON_LOG_DIVERGENCE_AUDIT.md
  docs/NEON_TRIG_DERIVATION.md
  docs/NEON_TRIG_DIVERGENCE_AUDIT.md
  docs/PARALLEL_BATCH_PROCESSING_GUIDE.md
  docs/SIMD_BENCHMARK_RESULTS.md
  docs/SIMD_OPTIMIZATION_REFERENCE.md
  docs/UML/class-hierarchy.svg
  docs/UML/dispatch-pipeline.svg
  docs/UML/index.html
  docs/test_architecture.md
  scripts/PROFILING_METHOD.md
  scripts/README.md
  tools/README.md
Due: check-copyright

docs(plan): comprehensive doc audit done (16d9eed on dev) — ~60 findings fixed, #148 filed, copy_move_stress gap closed
  PLAN.md
Due: check-copyright

fix(tests): brace the else-if dangling-else site the sweep pattern missed
  tests/test_inverse_gamma_enhanced.cpp
Due: check-copyright, no-debug-code, validate-includes

docs(plan): night close-out — Strict green (dangling-else saga terminal via whole-tree -Werror check), PR #147 awaits review/merge
  PLAN.md
Due: check-copyright

chore(release): v2.4.0 version bump and doc set
  AGENTS.md
  CHANGELOG.md
  CMakeLists.txt
  README.md
Due: check-copyright

docs(plan): v2.4.0 shipped — tag e868fc1, release published, milestone #2 closed; #144 to milestone #8 (re-measure post-adoption)
  PLAN.md
Due: check-copyright

docs(branding): add corvid-cartography social and branding imagery
  docs/branding/README.md
  docs/branding/libstats-github-social.png
  docs/branding/libstats-github-social.svg
  docs/branding/libstats-github-social@2x.png
  docs/branding/libstats-linkedin.png
  docs/branding/libstats-linkedin.svg
  docs/branding/libstats-linkedin@2x.png
  docs/branding/magpie-mark.png
  docs/branding/magpie-mark.svg
  docs/branding/philosophy-corvid-cartography.md
Due: check-copyright

docs(plan): pylibstats 0.7.0 shipped on the v2.4.0 pin with full 27-distribution parity
  PLAN.md
Due: check-copyright

docs(agents): cut 128 lines of duplicated, dated, and relocated content
  AGENTS.md
Due: check-copyright

docs(agents): split durable orientation from on-demand depth
  .claude/rules/cmake.md
  .claude/rules/cpp-conventions.md
  .claude/rules/simd-kernels.md
  .claude/skills/add-distribution/SKILL.md
  .gitignore
  AGENTS.md
  docs/HEADER_ARCHITECTURE_GUIDE.md
Due: check-copyright
