Repository OldCrow/libstats: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pragma-once, check-copyright, no-debug-code, validate-includes

check-pragma-once:
  name: Check for
  entry: scripts/check-pragma-once.sh
  language: script
  pass_filenames: true

check-copyright:
  name: Check copyright headers
  entry: scripts/check-copyright.sh
  language: script

no-debug-code:
  name: Check for debug code
  entry: scripts/check-no-debug.sh
  language: script
  pass_filenames: true

validate-includes:
  name: Validate include order
  entry: scripts/validate-includes.sh
  language: script
  pass_filenames: true

test: erf accuracy coverage + tighten TOLERANCE_ERF_APPROX (Phase 2d)
  tests/test_simd_comprehensive.cpp
  tools/simd_verification.cpp
Due: check-copyright, no-debug-code, validate-includes

data: Kaby Lake AVX2+FMA dispatcher profile (v1.5.0 Phase 1+2 baseline)
  data/profiles/dispatcher/2026-06-14T19-19-02Z_darwin-x86_64_v1.5-erf-accuracy_sha-c91a348/best_strategies.csv
  data/profiles/dispatcher/2026-06-14T19-19-02Z_darwin-x86_64_v1.5-erf-accuracy_sha-c91a348/crossovers.csv
  data/profiles/dispatcher/2026-06-14T19-19-02Z_darwin-x86_64_v1.5-erf-accuracy_sha-c91a348/logs/strategy_profile.txt
  data/profiles/dispatcher/2026-06-14T19-19-02Z_darwin-x86_64_v1.5-erf-accuracy_sha-c91a348/logs/system_inspector_performance.txt
  data/profiles/dispatcher/2026-06-14T19-19-02Z_darwin-x86_64_v1.5-erf-accuracy_sha-c91a348/manifest.txt
  data/profiles/dispatcher/2026-06-14T19-19-02Z_darwin-x86_64_v1.5-erf-accuracy_sha-c91a348/metadata.json
  data/profiles/dispatcher/2026-06-14T19-19-02Z_darwin-x86_64_v1.5-erf-accuracy_sha-c91a348/strategy_profile_results.csv
  data/profiles/dispatcher/2026-06-14T19-19-02Z_darwin-x86_64_v1.5-erf-accuracy_sha-c91a348/summary.json
Due: check-copyright

refactor: simd_verification — per-op geometric mean speedups + separate primitive rows
  tools/simd_verification.cpp
Due: check-copyright, no-debug-code, validate-includes

docs: update AGENTS.md for v1.5.0-in-progress with new speedup reporting format
  AGENTS.md
Due: check-copyright

perf: vector_exp_avx512 native 8-wide (stop delegating to AVX)
  src/simd_avx512.cpp
Due: check-copyright, no-debug-code, validate-includes

perf: vector_log_avx512 native 8-wide (stop delegating to AVX)
  src/simd_avx512.cpp
Due: check-copyright, no-debug-code, validate-includes

docs: fill Asus TUF A16 Phase 4 validation numbers in AGENTS.md
  AGENTS.md
Due: check-copyright

data: Asus TUF A16 AVX-512 dispatcher profile (v1.5.0 Phase 4 baseline)
  data/profiles/dispatcher/2026-06-14T20-36-11Z_windows-x86_64_v1.5-avx512-transcendentals_sha-14bf1ba/best_strategies.csv
  data/profiles/dispatcher/2026-06-14T20-36-11Z_windows-x86_64_v1.5-avx512-transcendentals_sha-14bf1ba/crossovers.csv
  data/profiles/dispatcher/2026-06-14T20-36-11Z_windows-x86_64_v1.5-avx512-transcendentals_sha-14bf1ba/logs/strategy_profile.txt
  data/profiles/dispatcher/2026-06-14T20-36-11Z_windows-x86_64_v1.5-avx512-transcendentals_sha-14bf1ba/logs/system_inspector_performance.txt
  data/profiles/dispatcher/2026-06-14T20-36-11Z_windows-x86_64_v1.5-avx512-transcendentals_sha-14bf1ba/manifest.txt
  data/profiles/dispatcher/2026-06-14T20-36-11Z_windows-x86_64_v1.5-avx512-transcendentals_sha-14bf1ba/metadata.json
  data/profiles/dispatcher/2026-06-14T20-36-11Z_windows-x86_64_v1.5-avx512-transcendentals_sha-14bf1ba/strategy_profile_results.csv
  data/profiles/dispatcher/2026-06-14T20-36-11Z_windows-x86_64_v1.5-avx512-transcendentals_sha-14bf1ba/summary.json
Due: check-copyright

perf: vector_erf_avx512 native 8-wide minimax rational polynomial
  src/simd_avx512.cpp
Due: check-copyright, no-debug-code, validate-includes

docs: add [Unreleased] v1.5.0 changelog covering Phases 1+2+4
  CHANGELOG.md
Due: check-copyright

docs: annotate stale AVX-512 thresholds and add resolution caveat for Phase 5
  include/core/dispatch_thresholds.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix: require AVX-512DQ in GCC/Clang detection and compile flags
  cmake/SIMDDetection.cmake
Due: check-copyright

feat(neon): vector_exp_neon — native SLEEF FMA Horner polynomial
  src/simd_neon.cpp
Due: check-copyright, no-debug-code, validate-includes

feat(neon): vector_log_neon — native SLEEF atanh-series FMA Horner
  src/simd_neon.cpp
Due: check-copyright, no-debug-code, validate-includes

feat(neon): vector_erf_neon — native musl rational polynomial
  src/simd_neon.cpp
Due: check-copyright, no-debug-code, validate-includes

feat(neon): vector_erf_neon — ARM glibc table+Taylor, 8.0x speedup
  src/simd_neon.cpp
Due: check-copyright, no-debug-code, validate-includes

data: [M1 NEON] dispatcher profile (v1.5.0 Phase 3 baseline)
  data/profiles/dispatcher/2026-06-14T23-29-58Z_darwin-arm64_v1.5-neon-transcendentals_sha-5455778/best_strategies.csv
  data/profiles/dispatcher/2026-06-14T23-29-58Z_darwin-arm64_v1.5-neon-transcendentals_sha-5455778/crossovers.csv
  data/profiles/dispatcher/2026-06-14T23-29-58Z_darwin-arm64_v1.5-neon-transcendentals_sha-5455778/logs/strategy_profile.txt
  data/profiles/dispatcher/2026-06-14T23-29-58Z_darwin-arm64_v1.5-neon-transcendentals_sha-5455778/logs/system_inspector_performance.txt
  data/profiles/dispatcher/2026-06-14T23-29-58Z_darwin-arm64_v1.5-neon-transcendentals_sha-5455778/manifest.txt
  data/profiles/dispatcher/2026-06-14T23-29-58Z_darwin-arm64_v1.5-neon-transcendentals_sha-5455778/metadata.json
  data/profiles/dispatcher/2026-06-14T23-29-58Z_darwin-arm64_v1.5-neon-transcendentals_sha-5455778/strategy_profile_results.csv
  data/profiles/dispatcher/2026-06-14T23-29-58Z_darwin-arm64_v1.5-neon-transcendentals_sha-5455778/summary.json
Due: check-copyright

docs: update AGENTS.md and CHANGELOG.md for v1.5.0 Phase 3 (M1 NEON)
  AGENTS.md
  CHANGELOG.md
Due: check-copyright

Add NEON erf table data and generator script
  scripts/gen_neon_erf_table.py
  src/neon_erf_data.inc
Due: check-copyright

chore: Ivy Bridge v1.5.0 validation — 38/38 correctness, 61/61 simd_verification
  AGENTS.md
  data/profiles/dispatcher/2026-06-15T00-33-56Z_darwin-x86_64_main_sha-d8046b7/best_strategies.csv
  data/profiles/dispatcher/2026-06-15T00-33-56Z_darwin-x86_64_main_sha-d8046b7/crossovers.csv
  data/profiles/dispatcher/2026-06-15T00-33-56Z_darwin-x86_64_main_sha-d8046b7/logs/strategy_profile.txt
  data/profiles/dispatcher/2026-06-15T00-33-56Z_darwin-x86_64_main_sha-d8046b7/logs/system_inspector_performance.txt
  data/profiles/dispatcher/2026-06-15T00-33-56Z_darwin-x86_64_main_sha-d8046b7/manifest.txt
  data/profiles/dispatcher/2026-06-15T00-33-56Z_darwin-x86_64_main_sha-d8046b7/metadata.json
  data/profiles/dispatcher/2026-06-15T00-33-56Z_darwin-x86_64_main_sha-d8046b7/strategy_profile_results.csv
  data/profiles/dispatcher/2026-06-15T00-33-56Z_darwin-x86_64_main_sha-d8046b7/summary.json
Due: check-copyright

docs: deprecate macOS Catalina / Ivy Bridge support in v1.5.0
  AGENTS.md
  CHANGELOG.md
  README.md
Due: check-copyright

perf: Phase 5 — recalibrate dispatch thresholds from v1.5.0 profiling bundles
  include/core/dispatch_thresholds.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

chore: bump version to v1.5.0
  AGENTS.md
  CHANGELOG.md
  CMakeLists.txt
  PROJECT_CONCEPT.md
  README.md
Due: check-copyright

fix: apply audit remediation (C1/C2/H1/H2/L1/L3/M1/M2/M4)
  CMakeLists.txt
  include/core/dispatch_thresholds.h
  include/core/performance_dispatcher.h
  include/distributions/beta.h
  include/distributions/binomial.h
  include/distributions/chi_squared.h
  include/distributions/exponential.h
  include/distributions/gaussian.h
  include/distributions/lognormal.h
  include/distributions/negative_binomial.h
  include/distributions/pareto.h
  include/distributions/poisson.h
  include/distributions/rayleigh.h
  include/distributions/student_t.h
  include/distributions/uniform.h
  include/distributions/von_mises.h
  include/distributions/weibull.h
  src/beta.cpp
  src/binomial.cpp
  src/chi_squared.cpp
  src/discrete.cpp
  src/exponential.cpp
  src/gaussian.cpp
  src/lognormal.cpp
  src/negative_binomial.cpp
  src/pareto.cpp
  src/performance_dispatcher.cpp
  src/poisson.cpp
  src/rayleigh.cpp
  src/simd_avx2.cpp
  src/student_t.cpp
  src/uniform.cpp
  src/von_mises.cpp
  src/weibull.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

perf(dispatch): extend strategy_profile + calibrate kNeon for all 16 distributions
  data/profiles/dispatcher/2026-06-15T04-55-46Z_darwin-arm64_fix-audit-remediation_sha-b583fb3/best_strategies.csv
  data/profiles/dispatcher/2026-06-15T04-55-46Z_darwin-arm64_fix-audit-remediation_sha-b583fb3/crossovers.csv
  data/profiles/dispatcher/2026-06-15T04-55-46Z_darwin-arm64_fix-audit-remediation_sha-b583fb3/logs/strategy_profile.txt
  data/profiles/dispatcher/2026-06-15T04-55-46Z_darwin-arm64_fix-audit-remediation_sha-b583fb3/logs/system_inspector_performance.txt
  data/profiles/dispatcher/2026-06-15T04-55-46Z_darwin-arm64_fix-audit-remediation_sha-b583fb3/manifest.txt
  data/profiles/dispatcher/2026-06-15T04-55-46Z_darwin-arm64_fix-audit-remediation_sha-b583fb3/metadata.json
  data/profiles/dispatcher/2026-06-15T04-55-46Z_darwin-arm64_fix-audit-remediation_sha-b583fb3/strategy_profile_results.csv
  data/profiles/dispatcher/2026-06-15T04-55-46Z_darwin-arm64_fix-audit-remediation_sha-b583fb3/summary.json
  data/profiles/dispatcher/2026-06-15T05-04-15Z_darwin-arm64_fix-audit-remediation_sha-b583fb3/best_strategies.csv
  data/profiles/dispatcher/2026-06-15T05-04-15Z_darwin-arm64_fix-audit-remediation_sha-b583fb3/crossovers.csv
  data/profiles/dispatcher/2026-06-15T05-04-15Z_darwin-arm64_fix-audit-remediation_sha-b583fb3/logs/strategy_profile.txt
  data/profiles/dispatcher/2026-06-15T05-04-15Z_darwin-arm64_fix-audit-remediation_sha-b583fb3/logs/system_inspector_performance.txt
  data/profiles/dispatcher/2026-06-15T05-04-15Z_darwin-arm64_fix-audit-remediation_sha-b583fb3/manifest.txt
  data/profiles/dispatcher/2026-06-15T05-04-15Z_darwin-arm64_fix-audit-remediation_sha-b583fb3/metadata.json
  data/profiles/dispatcher/2026-06-15T05-04-15Z_darwin-arm64_fix-audit-remediation_sha-b583fb3/strategy_profile_results.csv
  data/profiles/dispatcher/2026-06-15T05-04-15Z_darwin-arm64_fix-audit-remediation_sha-b583fb3/summary.json
  include/core/dispatch_thresholds.h
  scripts/capture_dispatcher_profile.sh
  tools/strategy_profile.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

dispatch: recalibrate kAvx from two-run fix/audit-remediation profile
  data/profiles/dispatcher/2026-06-15T05-25-42Z_darwin-x86_64_fix-audit-remediation_sha-65b1c61/best_strategies.csv
  data/profiles/dispatcher/2026-06-15T05-25-42Z_darwin-x86_64_fix-audit-remediation_sha-65b1c61/crossovers.csv
  data/profiles/dispatcher/2026-06-15T05-25-42Z_darwin-x86_64_fix-audit-remediation_sha-65b1c61/logs/strategy_profile.txt
  data/profiles/dispatcher/2026-06-15T05-25-42Z_darwin-x86_64_fix-audit-remediation_sha-65b1c61/logs/system_inspector_performance.txt
  data/profiles/dispatcher/2026-06-15T05-25-42Z_darwin-x86_64_fix-audit-remediation_sha-65b1c61/manifest.txt
  data/profiles/dispatcher/2026-06-15T05-25-42Z_darwin-x86_64_fix-audit-remediation_sha-65b1c61/metadata.json
  data/profiles/dispatcher/2026-06-15T05-25-42Z_darwin-x86_64_fix-audit-remediation_sha-65b1c61/strategy_profile_results.csv
  data/profiles/dispatcher/2026-06-15T05-25-42Z_darwin-x86_64_fix-audit-remediation_sha-65b1c61/summary.json
  data/profiles/dispatcher/2026-06-15T05-40-12Z_darwin-x86_64_fix-audit-remediation_sha-65b1c61/best_strategies.csv
  data/profiles/dispatcher/2026-06-15T05-40-12Z_darwin-x86_64_fix-audit-remediation_sha-65b1c61/crossovers.csv
  data/profiles/dispatcher/2026-06-15T05-40-12Z_darwin-x86_64_fix-audit-remediation_sha-65b1c61/logs/strategy_profile.txt
  data/profiles/dispatcher/2026-06-15T05-40-12Z_darwin-x86_64_fix-audit-remediation_sha-65b1c61/logs/system_inspector_performance.txt
  data/profiles/dispatcher/2026-06-15T05-40-12Z_darwin-x86_64_fix-audit-remediation_sha-65b1c61/manifest.txt
  data/profiles/dispatcher/2026-06-15T05-40-12Z_darwin-x86_64_fix-audit-remediation_sha-65b1c61/metadata.json
  data/profiles/dispatcher/2026-06-15T05-40-12Z_darwin-x86_64_fix-audit-remediation_sha-65b1c61/strategy_profile_results.csv
  data/profiles/dispatcher/2026-06-15T05-40-12Z_darwin-x86_64_fix-audit-remediation_sha-65b1c61/summary.json
  include/core/dispatch_thresholds.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix(dispatch): correct kAvx StudentT NEVER→{100000,64,64}; fix kAvx comment
  include/core/dispatch_thresholds.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

perf(dispatch): calibrate kAvx512 for 7 new distributions; fix C4566; update tests
  CMakeLists.txt
  data/profiles/dispatcher/2026-06-15T22-43-11Z_windows-x86_64_fix-audit-remediation_sha-932addd/best_strategies.csv
  data/profiles/dispatcher/2026-06-15T22-43-11Z_windows-x86_64_fix-audit-remediation_sha-932addd/crossovers.csv
  data/profiles/dispatcher/2026-06-15T22-43-11Z_windows-x86_64_fix-audit-remediation_sha-932addd/logs/strategy_profile.txt
  data/profiles/dispatcher/2026-06-15T22-43-11Z_windows-x86_64_fix-audit-remediation_sha-932addd/logs/system_inspector_performance.txt
  data/profiles/dispatcher/2026-06-15T22-43-11Z_windows-x86_64_fix-audit-remediation_sha-932addd/metadata.json
  data/profiles/dispatcher/2026-06-15T22-43-11Z_windows-x86_64_fix-audit-remediation_sha-932addd/strategy_profile_results.csv
  data/profiles/dispatcher/2026-06-15T22-43-11Z_windows-x86_64_fix-audit-remediation_sha-932addd/summary.json
  data/profiles/dispatcher/2026-06-15T22-46-33Z_windows-x86_64_fix-audit-remediation_sha-932addd/best_strategies.csv
  data/profiles/dispatcher/2026-06-15T22-46-33Z_windows-x86_64_fix-audit-remediation_sha-932addd/crossovers.csv
  data/profiles/dispatcher/2026-06-15T22-46-33Z_windows-x86_64_fix-audit-remediation_sha-932addd/logs/strategy_profile.txt
  data/profiles/dispatcher/2026-06-15T22-46-33Z_windows-x86_64_fix-audit-remediation_sha-932addd/logs/system_inspector_performance.txt
  data/profiles/dispatcher/2026-06-15T22-46-33Z_windows-x86_64_fix-audit-remediation_sha-932addd/metadata.json
  data/profiles/dispatcher/2026-06-15T22-46-33Z_windows-x86_64_fix-audit-remediation_sha-932addd/strategy_profile_results.csv
  data/profiles/dispatcher/2026-06-15T22-46-33Z_windows-x86_64_fix-audit-remediation_sha-932addd/summary.json
  include/core/dispatch_thresholds.h
  tests/test_performance_dispatcher.cpp
  tests/test_von_mises_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

perf: recalibrate kAvx2 dispatch thresholds from fix/audit-remediation profiles
  data/profiles/dispatcher/2026-06-16T00-16-34Z_darwin-x86_64_fix-audit-remediation_sha-5675c93/best_strategies.csv
  data/profiles/dispatcher/2026-06-16T00-16-34Z_darwin-x86_64_fix-audit-remediation_sha-5675c93/crossovers.csv
  data/profiles/dispatcher/2026-06-16T00-16-34Z_darwin-x86_64_fix-audit-remediation_sha-5675c93/logs/strategy_profile.txt
  data/profiles/dispatcher/2026-06-16T00-16-34Z_darwin-x86_64_fix-audit-remediation_sha-5675c93/logs/system_inspector_performance.txt
  data/profiles/dispatcher/2026-06-16T00-16-34Z_darwin-x86_64_fix-audit-remediation_sha-5675c93/manifest.txt
  data/profiles/dispatcher/2026-06-16T00-16-34Z_darwin-x86_64_fix-audit-remediation_sha-5675c93/metadata.json
  data/profiles/dispatcher/2026-06-16T00-16-34Z_darwin-x86_64_fix-audit-remediation_sha-5675c93/strategy_profile_results.csv
  data/profiles/dispatcher/2026-06-16T00-16-34Z_darwin-x86_64_fix-audit-remediation_sha-5675c93/summary.json
  data/profiles/dispatcher/2026-06-16T00-26-28Z_darwin-x86_64_fix-audit-remediation_sha-5675c93/best_strategies.csv
  data/profiles/dispatcher/2026-06-16T00-26-28Z_darwin-x86_64_fix-audit-remediation_sha-5675c93/crossovers.csv
  data/profiles/dispatcher/2026-06-16T00-26-28Z_darwin-x86_64_fix-audit-remediation_sha-5675c93/logs/strategy_profile.txt
  data/profiles/dispatcher/2026-06-16T00-26-28Z_darwin-x86_64_fix-audit-remediation_sha-5675c93/logs/system_inspector_performance.txt
  data/profiles/dispatcher/2026-06-16T00-26-28Z_darwin-x86_64_fix-audit-remediation_sha-5675c93/manifest.txt
  data/profiles/dispatcher/2026-06-16T00-26-28Z_darwin-x86_64_fix-audit-remediation_sha-5675c93/metadata.json
  data/profiles/dispatcher/2026-06-16T00-26-28Z_darwin-x86_64_fix-audit-remediation_sha-5675c93/strategy_profile_results.csv
  data/profiles/dispatcher/2026-06-16T00-26-28Z_darwin-x86_64_fix-audit-remediation_sha-5675c93/summary.json
  include/core/dispatch_thresholds.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix: apply audit remediation findings 1, 6, 7, 8
  include/core/dispatch_utils.h
  include/core/distribution_base.h
  include/core/statistical_utilities.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix: formalize arch::simd compatibility aliases (finding 10)
  include/platform/simd.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix(simd_verification): report relative error for VectorExp/VectorLog
  tools/simd_verification.cpp
Due: check-copyright, no-debug-code, validate-includes

chore: bump version to v1.5.1
  AGENTS.md
  CHANGELOG.md
  CMakeLists.txt
  README.md
Due: check-copyright

fix: apply June 2026 audit remediation and structural refactors (v1.5.2)
  include/common/distribution_common.h
  include/common/forward_declarations.h
  include/core/distribution_base.h
  include/core/distribution_cache.h
  include/core/performance_dispatcher.h
  include/core/safety.h
  include/platform/internal/type_traits.h
  include/platform/thread_pool.h
  include/platform/work_stealing_pool.h
  src/distribution_base.cpp
  src/exponential.cpp
  src/gamma.cpp
  src/gaussian.cpp
  src/log_space_ops.cpp
  src/performance_dispatcher.cpp
  src/performance_history.cpp
  src/work_stealing_pool.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

chore: bump version to v1.5.2; update CHANGELOG and AGENTS.md
  AGENTS.md
  CHANGELOG.md
  CMakeLists.txt
Due: check-copyright

test: update test_numerical_safety for corrected safe_log/safe_exp semantics
  tests/test_numerical_safety.cpp
Due: check-copyright, no-debug-code, validate-includes

fix: v1.5.2 — June 2026 audit remediation and structural refactors (#38)
  AGENTS.md
  CHANGELOG.md
  CMakeLists.txt
  include/common/distribution_common.h
  include/common/forward_declarations.h
  include/core/distribution_base.h
  include/core/distribution_cache.h
  include/core/performance_dispatcher.h
  include/core/safety.h
  include/platform/internal/type_traits.h
  include/platform/thread_pool.h
  include/platform/work_stealing_pool.h
  src/distribution_base.cpp
  src/exponential.cpp
  src/gamma.cpp
  src/gaussian.cpp
  src/log_space_ops.cpp
  src/performance_dispatcher.cpp
  src/performance_history.cpp
  src/work_stealing_pool.cpp
  tests/test_numerical_safety.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs(AGENTS): update validation matrix and project status for v1.5.2
  AGENTS.md
Due: check-copyright

fix: v1.5.3 — bugfixes, deprecation sweep, VonMises pass, CI/docs hygiene
  .github/workflows/avx512-compilation.yml
  .github/workflows/ci.yml
  AGENTS.md
  CMakeLists.txt
  README.md
  cmake/libstats-config.cmake.in
  include/core/distribution_base.h
  include/core/distribution_memory.h
  include/core/performance_dispatcher.h
  include/distributions/beta.h
  include/distributions/binomial.h
  include/distributions/chi_squared.h
  include/distributions/discrete.h
  include/distributions/exponential.h
  include/distributions/gamma.h
  include/distributions/gaussian.h
  include/distributions/lognormal.h
  include/distributions/negative_binomial.h
  include/distributions/pareto.h
  include/distributions/poisson.h
  include/distributions/rayleigh.h
  include/distributions/student_t.h
  include/distributions/uniform.h
  include/distributions/von_mises.h
  include/distributions/weibull.h
  include/libstats.h
  src/uniform.cpp
  src/von_mises.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix(ci): correct avx512-compilation.yml include path
  .github/workflows/avx512-compilation.yml
Due: check-copyright

Path conditions:
  check-pragma-once: any of: \.(h|hpp|hxx)$, but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

  check-copyright: any of: not (^(\.git/|build/|third_party/|docs/archive/)), but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

  no-debug-code: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

  validate-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

