Repository OldCrow/libstats: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pragma-once, check-copyright, no-debug-code, validate-includes

.pre-commit-config.yaml:

# Pre-commit hooks configuration for libstats
# Run: pre-commit install to set up the git hook scripts
# Then pre-commit will run automatically on git commit

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_language_version:
  python: python3

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: Fix trailing whitespace
      - id: end-of-file-fixer
        name: Fix missing newline at end of file
      - id: check-yaml
        name: Check YAML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: check-case-conflict
        name: Check for case conflicts
      - id: mixed-line-ending
        name: Check line endings
        args: ['--fix=lf']
      - id: check-symlinks
        name: Check for broken symlinks
      - id: check-executables-have-shebangs
        name: Check executables have shebangs
      - id: check-shebang-scripts-are-executable
        name: Check scripts with shebangs are executable

  # C++ formatting with clang-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.8
    hooks:
      - id: clang-format
        name: Format C++ code with clang-format
        types_or: [c++, c]
        args: ['-i', '--style=file']
        files: \.(cpp|cc|cxx|hpp|h|hxx)$

  # CMake formatting and linting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        name: Format CMake files
        args: ['--config=.cmake-format.yaml', '--in-place']
        additional_dependencies: ["pyyaml"]

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        name: Check shell scripts
        args: ['--severity=warning']

  # Markdown formatting (Ruby-based for better compatibility)
#  - repo: https://github.com/markdownlint/markdownlint
#    rev: v0.13.0
#    hooks:
#      - id: markdownlint
#        name: Lint markdown files
#        args: ["-s", ".markdownlint-style.rb"]

  # Check for secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: Detect secrets
        args: ['--baseline', '.secrets.baseline']
        additional_dependencies: ['detect-secrets']

  # Custom local hooks for libstats-specific checks
  - repo: local
    hooks:
      - id: check-pragma-once
        name: Check for #pragma once in headers
        entry: scripts/check-pragma-once.sh
        language: script
        files: \.(h|hpp|hxx)$
        pass_filenames: true

      - id: check-copyright
        name: Check copyright headers
        entry: scripts/check-copyright.sh
        language: script
        types: [text]
        exclude: ^(\.git/|build/|third_party/|docs/archive/)

      - id: no-debug-code
        name: Check for debug code
        entry: scripts/check-no-debug.sh
        language: script
        types_or: [c++, c]
        pass_filenames: true

      - id: validate-includes
        name: Validate include order
        entry: scripts/validate-includes.sh
        language: script
        types_or: [c++, c]
        pass_filenames: true

# Configuration for specific hooks
exclude: |
  (?x)^(
    build/.*|
    third_party/.*|
    docs/archive/.*|
    .*\.min\.js|
    .*\.min\.css
  )$

Notes added by 'git notes add'
  00ae5501bcb2c36d673e2be3f8238f36ee7a02ab
Due: check-copyright

rename: WARP.md → AGENTS.md
  AGENTS.md
Due: check-copyright

docs: update AGENTS.md and workflows for v1.1.8 state
  .warp/workflows/validate_machine.yaml
  AGENTS.md
Due: check-copyright

docs: fix switch_branch workflow default branch
  .warp/workflows/switch_branch.yaml
Due: check-copyright

test(quality): migrate 11 assert-based tests to GTest (#19)
  CMakeLists.txt
  tests/test_atomic_parameters.cpp
  tests/test_benchmark.cpp
  tests/test_constants.cpp
  tests/test_error_handling_comprehensive.cpp
  tests/test_numerical_safety.cpp
  tests/test_parallel_execution_comprehensive.cpp
  tests/test_parallel_execution_integration.cpp
  tests/test_platform_optimizations.cpp
  tests/test_simd_policy.cpp
  tests/test_thread_pool.cpp
  tests/test_work_stealing_pool.cpp
Due: check-copyright, no-debug-code, validate-includes

fix: remove imprecise log-space lookup table; reject discrete equal bounds
  include/core/error_handling.h
  include/core/log_space_ops.h
  include/core/math_constants.h
  src/discrete.cpp
  src/log_space_ops.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

refactor: replace categorizeBatchSize() if/else ladder with table + lower_bound (#20)
  src/performance_history.cpp
Due: check-copyright, no-debug-code, validate-includes

refactor: collapse 4x CCN-35 dispatch threshold functions into shared impl (#21)
  include/core/dispatch_thresholds.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

refactor(#18)+feat: extract parallelBatchFit helper; add to all 9 distributions
  include/core/parallel_batch_fit.h
  include/distributions/beta.h
  include/distributions/chi_squared.h
  include/distributions/student_t.h
  src/beta.cpp
  src/chi_squared.cpp
  src/discrete.cpp
  src/exponential.cpp
  src/gamma.cpp
  src/gaussian.cpp
  src/poisson.cpp
  src/student_t.cpp
  src/uniform.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

chore(release): 1.1.9 [skip ci]
  CHANGELOG.md
Due: check-copyright

Notes added by 'git notes add'
  200b476c33f840537e3558e616c1b955a50a7eb3
Due: check-copyright

docs: v1.2.0 documentation cleanup and version bump
  AGENTS.md
  CHANGELOG.md
  CMakeLists.txt
  PROJECT_CONCEPT.md
  README.md
  THIRD_PARTY_NOTICES.md
  VERSIONING.md
  docs/AVX512_TESTING_GUIDE.md
  docs/BUILD_SYSTEM_GUIDE.md
  docs/CI_CD_DEBUGGING_GUIDE.md
  docs/CI_CD_SETUP.md
  docs/HEADER_ARCHITECTURE_GUIDE.md
  docs/PARALLEL_BATCH_PROCESSING_GUIDE.md
  docs/SIMD_BENCHMARK_RESULTS.md
  docs/SIMD_OPTIMIZATION_REFERENCE.md
  docs/test_architecture.md
  docs/test_organization.md
  include/libstats.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

ci: bump codecov/codecov-action v3 -> v5 (Node 24 compat)
  .github/workflows/ci.yml
Due: check-copyright

test: remove fragile timing assertions from MultipleInitializationCallsAreSafe
  tests/test_performance_initialization.cpp
Due: check-copyright, no-debug-code, validate-includes

ci: bump Node.js 20 -> 24 in release workflow
  .github/workflows/release.yml
Due: check-copyright

docs: fix version badge v1.1.6 -> v1.2.0 in README
  README.md
Due: check-copyright

Improve AGENTS.md for arbitrary-user clarity
  AGENTS.md
Due: check-copyright

feat: add LogNormal and Pareto distributions
  CMakeLists.txt
  include/common/forward_declarations.h
  include/core/dispatch_utils.h
  include/core/error_handling.h
  include/core/performance_dispatcher.h
  include/distributions/lognormal.h
  include/distributions/pareto.h
  include/libstats.h
  src/lognormal.cpp
  src/pareto.cpp
  tests/test_lognormal_basic.cpp
  tests/test_lognormal_enhanced.cpp
  tests/test_pareto_basic.cpp
  tests/test_pareto_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs: update all documentation for 11-distribution state
  .github/workflows/release.yml
  CHANGELOG.md
  CONTRIBUTING.md
  PROJECT_CONCEPT.md
  README.md
  data/profiles/dispatcher/README.md
  docs/ACADEMIC_REFERENCES.md
  docs/AVX512_TESTING_GUIDE.md
  docs/BUILD_SYSTEM_GUIDE.md
  docs/CI_CD_SETUP.md
  docs/HEADER_ARCHITECTURE_GUIDE.md
  docs/PARALLEL_BATCH_PROCESSING_GUIDE.md
  docs/SIMD_OPTIMIZATION_REFERENCE.md
  docs/distribution_mutability.md
  docs/test_architecture.md
  scripts/README.md
  tools/README.md
Due: check-copyright

feat: add Weibull and Rayleigh distributions
  .github/workflows/ci.yml
  CMakeLists.txt
  include/common/forward_declarations.h
  include/core/dispatch_utils.h
  include/core/error_handling.h
  include/core/performance_dispatcher.h
  include/distributions/rayleigh.h
  include/distributions/weibull.h
  include/libstats.h
  src/rayleigh.cpp
  src/weibull.cpp
  tests/test_rayleigh_basic.cpp
  tests/test_rayleigh_enhanced.cpp
  tests/test_weibull_basic.cpp
  tests/test_weibull_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

feat: add VonMisesDistribution (circular statistics)
  CMakeLists.txt
  include/common/forward_declarations.h
  include/core/bessel.h
  include/core/dispatch_utils.h
  include/core/error_handling.h
  include/core/performance_dispatcher.h
  include/distributions/von_mises.h
  include/libstats.h
  src/von_mises.cpp
  tests/test_von_mises_basic.cpp
  tests/test_von_mises_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

feat: add BinomialDistribution and NegativeBinomialDistribution
  CHANGELOG.md
  CMakeLists.txt
  PROJECT_CONCEPT.md
  README.md
  docs/distribution_mutability.md
  docs/test_architecture.md
  include/common/forward_declarations.h
  include/core/dispatch_utils.h
  include/core/error_handling.h
  include/core/math_utils.h
  include/core/performance_dispatcher.h
  include/distributions/binomial.h
  include/distributions/negative_binomial.h
  include/libstats.h
  src/binomial.cpp
  src/math_utils.cpp
  src/negative_binomial.cpp
  tests/test_binomial_basic.cpp
  tests/test_binomial_enhanced.cpp
  tests/test_negative_binomial_basic.cpp
  tests/test_negative_binomial_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

chore: bump version to v1.3.0
  AGENTS.md
  CHANGELOG.md
  CMakeLists.txt
  PROJECT_CONCEPT.md
  README.md
Due: check-copyright

docs: accurate per-machine test counts in validation matrix
  AGENTS.md
Due: check-copyright

docs: all four machines confirmed 39/39 correctness, 59 total (53 Ivy Bridge)
  AGENTS.md
  CHANGELOG.md
Due: check-copyright

refactor: resolve domain constant pollution and erf_inv static const (Findings 1-2)
  include/core/math_constants.h
  include/core/performance_constants.h
  include/core/statistical_constants.h
  src/math_utils.cpp
  src/performance_dispatcher.cpp
  src/performance_history.cpp
  src/validation.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

refactor: SIMD dispatch table centralises tier selection (Issue #22)
  include/platform/simd.h
  src/simd_dispatch.cpp
  src/simd_fallback.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix: code review findings 4-7 and style cleanup
  .clang-tidy
  src/cpu_detection.cpp
Due: check-copyright, no-debug-code, validate-includes

feat: add vector_cos to VectorOps SIMD dispatch (all 5 backends)
  include/platform/simd.h
  src/simd_avx.cpp
  src/simd_avx2.cpp
  src/simd_avx512.cpp
  src/simd_dispatch.cpp
  src/simd_fallback.cpp
  src/simd_neon.cpp
  src/simd_sse2.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

feat: SIMD-accelerate VonMises LogPDF/PDF batch; test vector_cos
  src/von_mises.cpp
  tests/test_simd_comprehensive.cpp
Due: check-copyright, no-debug-code, validate-includes

fix: move vector_cos_neon into #if ARM block; add non-ARM stub to #else
  src/simd_neon.cpp
Due: check-copyright, no-debug-code, validate-includes

chore: bump version to v1.4.0
  AGENTS.md
  CHANGELOG.md
  CMakeLists.txt
  PROJECT_CONCEPT.md
  README.md
Due: check-copyright

perf: vector_cos_avx2 native FMA Horner (Phase 1a)
  src/simd_avx2.cpp
Due: check-copyright, no-debug-code, validate-includes

test: add primitive vector op benchmarks and VonMises to simd_verification
  tools/simd_verification.cpp
Due: check-copyright, no-debug-code, validate-includes

perf: vector_exp_avx2 + vector_log_avx2 native FMA polynomial (Phase 1b)
  src/simd_avx2.cpp
Due: check-copyright, no-debug-code, validate-includes

perf: vector_erf_avx musl rational polynomial — < 1 ULP error (Phase 2a)
  src/simd_avx.cpp
Due: check-copyright, no-debug-code, validate-includes

perf: vector_erf_avx2 native FMA rational polynomial (Phase 2b)
  src/simd_avx2.cpp
Due: check-copyright, no-debug-code, validate-includes

perf: vector_erf_sse2 native rational polynomial (Phase 2c)
  src/simd_sse2.cpp
Due: check-copyright, no-debug-code, validate-includes
