Repository OldCrow/libstats: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pragma-once, check-copyright, no-debug-code, validate-includes

.pre-commit-config.yaml:

# Pre-commit hooks configuration for libstats
# Run: pre-commit install to set up the git hook scripts
# Then pre-commit will run automatically on git commit

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_language_version:
  python: python3

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: Fix trailing whitespace
      - id: end-of-file-fixer
        name: Fix missing newline at end of file
      - id: check-yaml
        name: Check YAML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: check-case-conflict
        name: Check for case conflicts
      - id: mixed-line-ending
        name: Check line endings
        args: ['--fix=lf']
      - id: check-symlinks
        name: Check for broken symlinks
      - id: check-executables-have-shebangs
        name: Check executables have shebangs
      - id: check-shebang-scripts-are-executable
        name: Check scripts with shebangs are executable

  # C++ formatting with clang-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.8
    hooks:
      - id: clang-format
        name: Format C++ code with clang-format
        types_or: [c++, c]
        args: ['-i', '--style=file']
        files: \.(cpp|cc|cxx|hpp|h|hxx)$

  # CMake formatting and linting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        name: Format CMake files
        args: ['--config=.cmake-format.yaml', '--in-place']
        additional_dependencies: ["pyyaml"]

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        name: Check shell scripts
        args: ['--severity=warning']

  # Markdown formatting (Ruby-based for better compatibility)
#  - repo: https://github.com/markdownlint/markdownlint
#    rev: v0.13.0
#    hooks:
#      - id: markdownlint
#        name: Lint markdown files
#        args: ["-s", ".markdownlint-style.rb"]

  # Check for secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: Detect secrets
        args: ['--baseline', '.secrets.baseline']
        additional_dependencies: ['detect-secrets']

  # Custom local hooks for libstats-specific checks
  - repo: local
    hooks:
      - id: check-pragma-once
        name: Check for #pragma once in headers
        entry: scripts/check-pragma-once.sh
        language: script
        files: \.(h|hpp|hxx)$
        pass_filenames: true

      - id: check-copyright
        name: Check copyright headers
        entry: scripts/check-copyright.sh
        language: script
        types: [text]
        exclude: ^(\.git/|build/|third_party/|docs/archive/)

      - id: no-debug-code
        name: Check for debug code
        entry: scripts/check-no-debug.sh
        language: script
        types_or: [c++, c]
        pass_filenames: true

      - id: validate-includes
        name: Validate include order
        entry: scripts/validate-includes.sh
        language: script
        types_or: [c++, c]
        pass_filenames: true

# Configuration for specific hooks
exclude: |
  (?x)^(
    build/.*|
    third_party/.*|
    docs/archive/.*|
    .*\.min\.js|
    .*\.min\.css
  )$

refactor: Apply IWYU optimizations to Levels 3-4 (Infrastructure + Framework)
  include/platform/benchmark.h
  src/benchmark.cpp
  src/distribution_base.cpp
  src/libstats_init.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

feat: apply IWYU optimizations to distribution_base
  include/core/distribution_base.h
  src/discrete.cpp
  src/distribution_base.cpp
  src/exponential.cpp
  src/gaussian.cpp
  src/poisson.cpp
  src/simd_avx2.cpp
  src/simd_avx512.cpp
  src/simd_neon.cpp
  src/uniform.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

feat: apply IWYU optimizations to tools, examples, and tests directories
  docs/IWYU_ANALYSIS_TOOLS_EXAMPLES_TESTS.md
  examples/basic_usage.cpp
  tests/test_gaussian_basic.cpp
  tools/system_inspector.cpp
Due: check-copyright, no-debug-code, validate-includes

Apply IWYU optimizations to tools/ and examples/ directories
  examples/comparative_distributions_demo.cpp
  examples/error_handling_demo.cpp
  examples/exponential_performance_benchmark.cpp
  examples/gaussian_performance_benchmark.cpp
  examples/parallel_execution_demo.cpp
  examples/performance_learning_demo.cpp
  examples/poisson_usage_demo.cpp
  examples/quick_start_tutorial.cpp
  examples/statistical_validation_demo.cpp
  examples/uniform_usage_demo.cpp
  tools/cpp20_features_inspector.cpp
  tools/empirical_characteristics_demo.cpp
  tools/learning_analyzer.cpp
  tools/parallel_batch_fitting_benchmark.cpp
  tools/parallel_correctness_verification.cpp
  tools/parallel_threshold_benchmark.cpp
  tools/performance_dispatcher_tool.cpp
  tools/simd_verification.cpp
  tools/test_include_analysis.cpp
Due: check-copyright, no-debug-code, validate-includes

fix: resolve arch::safe_transform compilation errors
  include/common/cpu_detection_fwd.h
  include/common/simd_policy_fwd.h
  src/distribution_base.cpp
  src/exponential.cpp
  src/gaussian.cpp
  src/math_utils.cpp
  tests/test_atomic_parameters.cpp
  tests/test_benchmark.cpp
  tests/test_benchmark_basic.cpp
  tests/test_constants.cpp
  tests/test_copy_move_fix.cpp
  tests/test_discrete_basic.cpp
  tests/test_discrete_enhanced.cpp
  tests/test_dual_api.cpp
  tests/test_dynamic_linking.cpp
  tests/test_exponential_basic.cpp
  tests/test_exponential_enhanced.cpp
  tests/test_gamma_basic.cpp
  tests/test_gamma_enhanced.cpp
  tests/test_gaussian_basic.cpp
  tests/test_gaussian_enhanced.cpp
  tests/test_goodness_of_fit.cpp
  tests/test_math_utils.cpp
  tests/test_performance_dispatcher.cpp
  tests/test_performance_history.cpp
  tests/test_performance_initialization.cpp
  tests/test_platform_optimizations.cpp
  tests/test_poisson_basic.cpp
  tests/test_poisson_enhanced.cpp
  tests/test_safe_factory.cpp
  tests/test_safety.cpp
  tests/test_simd_comprehensive.cpp
  tests/test_simd_policy.cpp
  tests/test_system_capabilities.cpp
  tests/test_thread_pool.cpp
  tests/test_uniform_basic.cpp
  tests/test_uniform_enhanced.cpp
  tests/test_validation_enhanced.cpp
  tests/test_vectorized_math.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

chore(release): 0.11.1 [skip ci]
  CHANGELOG.md
Due: check-copyright

Notes added by 'git notes add'
  30b07b05f28257c160609d73e5a0780582ce36a8
Due: check-copyright

feat(optimization): complete header dependency optimization and bump to v0.12.0
  CMakeLists.txt
  docs/IWYU_ANALYSIS_TOOLS_EXAMPLES_TESTS.md
  docs/header_optimization_plan.md
  docs/magic_number_elimination_plan.md
  docs/magic_number_script_improvements.md
  docs/magic_numbers_action_plan.md
  docs/phase1_execution_plan.md
  docs/phase1_summary.md
  docs/refactoring_sequence_decision.md
  include/libstats.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

chore(release): 0.12.0 [skip ci]
  CHANGELOG.md
Due: check-copyright

Notes added by 'git notes add'
  4059e8bcb8ab0abe231d827c088ad2acf22891a9
Due: check-copyright

docs: clarify pre-1.0 versioning strategy and configure semantic-release
  .releaserc.json
  VERSIONING.md
Due: check-copyright

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: check-copyright

Delete magic_numbers_report.txt
  magic_numbers_report.txt
Due: check-copyright

Delete magic_numbers.csv
  magic_numbers.csv
Due: check-copyright

Delete iwyu_recommendations.md
  iwyu_recommendations.md
Due: check-copyright

docs: Update HEADER_ARCHITECTURE_GUIDE.md to reflect actual header structure
  docs/HEADER_ARCHITECTURE_GUIDE.md
Due: check-copyright

Fix benchmark result structure and speedup calculations
  tests/include/fixtures.h
  tests/test_discrete_enhanced.cpp
  tests/test_exponential_enhanced.cpp
  tests/test_gamma_enhanced.cpp
  tests/test_gaussian_enhanced.cpp
  tests/test_poisson_enhanced.cpp
  tests/test_uniform_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

Fix enhanced test benchmarks: proper baseline measurement and speedup calculations
  tests/test_discrete_enhanced.cpp
  tests/test_exponential_enhanced.cpp
  tests/test_gamma_enhanced.cpp
  tests/test_gaussian_enhanced.cpp
  tests/test_poisson_enhanced.cpp
  tests/test_uniform_enhanced.cpp
Due: check-copyright, no-debug-code, validate-includes

Fix cache invalidation tests and document distribution mutability
  docs/distribution_mutability.md
  tests/test_discrete_enhanced.cpp
  tests/test_exponential_enhanced.cpp
  tests/test_poisson_enhanced.cpp
  tests/test_uniform_enhanced.cpp
Due: check-copyright, no-debug-code, validate-includes

Fix infinity difference reporting bug in SIMD verification tool
  CMakeLists.txt
  docs/level1_test_optimization_plan.md
  docs/test_organization.md
  src/safety.cpp
  tests/test_constants.cpp
  tests/test_error_handling_comprehensive.cpp
  tests/test_math_comprehensive.cpp
  tests/test_new_constants.cpp
  tests/test_numerical_safety.cpp
  tests/test_parallel_compilation.cpp
  tests/test_validation_enhanced.cpp
  tools/simd_verification.cpp
Due: check-copyright, no-debug-code, validate-includes

Fix MSVC compilation error by avoiding Windows macro collision
  tests/test_numerical_safety.cpp
Due: check-copyright, no-debug-code, validate-includes

Add comprehensive SIMD architecture repair plan
  docs/simd_architecture_repair_plan.md
Due: check-copyright

Fix SIMD erf implementation and add comprehensive benchmark
  CMakeLists.txt
  include/platform/simd.h
  src/simd_avx.cpp
  src/simd_avx2.cpp
  src/simd_avx512.cpp
  src/simd_dispatch.cpp
  src/simd_neon.cpp
  src/simd_sse2.cpp
  tests/benchmark_simd_all.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

Add SLEEF benchmark tool for SIMD performance comparison
  tools/sleef_benchmark.cpp
Due: check-copyright, no-debug-code, validate-includes

Add SLEEF attribution and academic references
  ACADEMIC_REFERENCES.md
  README.md
  THIRD_PARTY_NOTICES.md
  src/simd_avx.cpp
Due: check-copyright, no-debug-code, validate-includes

Phase 1: Stabilize SIMD branch — remove vector_erf_accurate, clean up, fix macOS signing
  .secrets.baseline
  CMakeLists.txt
  WARP.md
  docs/ACADEMIC_REFERENCES.md
  docs/SIMD_BENCHMARK_RESULTS.md
  docs/SIMD_OPTIMIZATION_REFERENCE.md
  docs/simd_architecture_repair_plan.md
  include/platform/simd.h
  src/simd_avx.cpp
  tests/test_math_comprehensive.cpp
  tools/sleef_benchmark.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

Fix AVX-512 string mismatch in test_simd_policy
  tests/test_simd_policy.cpp
Due: check-copyright, no-debug-code, validate-includes

Phase 2: Rename strategy enum to reflect actual behavior
  WARP.md
  docs/PARALLEL_BATCH_PROCESSING_GUIDE.md
  examples/performance_learning_demo.cpp
  include/core/dispatch_utils.h
  include/core/performance_dispatcher.h
  src/discrete.cpp
  src/exponential.cpp
  src/gamma.cpp
  src/performance_dispatcher.cpp
  src/performance_history.cpp
  src/uniform.cpp
  tests/test_discrete_enhanced.cpp
  tests/test_exponential_enhanced.cpp
  tests/test_gamma_enhanced.cpp
  tests/test_gaussian_enhanced.cpp
  tests/test_performance_dispatcher.cpp
  tests/test_performance_history.cpp
  tests/test_poisson_enhanced.cpp
  tests/test_system_capabilities.cpp
  tests/test_uniform_enhanced.cpp
  tools/empirical_characteristics_demo.cpp
  tools/learning_analyzer.cpp
  tools/parallel_threshold_benchmark.cpp
  tools/performance_dispatcher_tool.cpp
  tools/simd_verification.cpp
  tools/tool_utils.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

Phase 2: Document dispatch call path, simplify strategy selection, fix macOS format bug
  examples/performance_learning_demo.cpp
  include/core/dispatch_utils.h
  src/performance_dispatcher.cpp
  tools/cpp20_features_inspector.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

Fix vector_exp_avx: correct exp_min to prevent biased-exponent underflow
  src/simd_avx.cpp
Due: check-copyright, no-debug-code, validate-includes

Phase 3: Gaussian batch audit — fix CDF allocation, relax timing threshold, add docs
  src/gaussian.cpp
  tests/test_gaussian_enhanced.cpp
Due: check-copyright, no-debug-code, validate-includes

Phase 3: Label timing-sensitive tests; document thread explosion in WORK_STEALING
  CMakeLists.txt
  WARP.md
  include/core/dispatch_utils.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

Phase 3: Update tests to match renamed strategies
  tests/include/fixtures.h
  tests/test_discrete_basic.cpp
  tests/test_discrete_enhanced.cpp
  tests/test_exponential_basic.cpp
  tests/test_exponential_enhanced.cpp
  tests/test_gamma_basic.cpp
  tests/test_gamma_enhanced.cpp
  tests/test_gaussian_basic.cpp
  tests/test_gaussian_enhanced.cpp
  tests/test_poisson_basic.cpp
  tests/test_poisson_enhanced.cpp
  tests/test_system_capabilities.cpp
  tests/test_uniform_basic.cpp
  tests/test_uniform_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes
