Repository OldCrow/libstats: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pragma-once, check-copyright, no-debug-code, validate-includes

check-pragma-once:
  name: Check for
  entry: scripts/check-pragma-once.sh
  language: script
  pass_filenames: true

check-copyright:
  name: Check copyright headers
  entry: scripts/check-copyright.sh
  language: script

no-debug-code:
  name: Check for debug code
  entry: scripts/check-no-debug.sh
  language: script
  pass_filenames: true

validate-includes:
  name: Validate include order
  entry: scripts/validate-includes.sh
  language: script
  pass_filenames: true

ci(avx512): exclude timing/benchmark tests on hosted runners
  .github/workflows/avx512-testing.yml
Due: check-copyright

docs(plan): record the corvus adoption spike
  PLAN.md
Due: check-copyright

docs(plan): record S1 -- both corvus configs pass, tier is a compiler property
  PLAN.md
Due: check-copyright

feat(bessel): add Tier 0 delegating I0/I1/log I0 to corvus (spike, OFF)
  CMakeLists.txt
  PLAN.md
  include/libstats/core/bessel.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs(plan): pin the Tier 1 log I0 defect above x = 700
  PLAN.md
Due: check-copyright

docs(plan): record S3 -- both ctest legs green, plus the Ninja config defect
  PLAN.md
Due: check-copyright

docs(plan): close the corvus spike at S4; file its three defects as issues
  PLAN.md
Due: check-copyright

docs(plan): bring the corvus spike record onto main
  PLAN.md
Due: check-copyright

fix(tests): repair the run_tests filters and unbreak the Ninja generator (#94)
  PLAN.md
  tests/CMakeLists.txt
Due: check-copyright

ci(ninja): guard generator-specific defects in generated build files
  .github/workflows/ci.yml
  PLAN.md
Due: check-copyright

fix(bessel): repair log I0 continuity (#92) and the circular variance (#93)
  PLAN.md
  include/libstats/core/bessel.h
  src/von_mises.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs(plan): #84 machine-independent half complete
  PLAN.md
Due: check-copyright

fix(cmake): keep imported targets alive across reconfigure (#90)
  .github/workflows/ci.yml
  CMakeLists.txt
  cmake/Threading.cmake
Due: check-copyright

docs(plan): record #90 resolved
  PLAN.md
Due: check-copyright

docs(plan): record #95, the SIMD trig surface issue
  PLAN.md
Due: check-copyright

docs(plan): move #95 into v2.2.0
  PLAN.md
Due: check-copyright

docs(plan): record #96 — #93's fitted coefficients are wrong in the top three
  PLAN.md
Due: check-copyright

fix(bessel): correct the top three complement-series coefficients (#96)
  include/libstats/core/bessel.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs(plan): record #96 resolved
  PLAN.md
Due: check-copyright

docs(plan): record #97 — installed export drops the Bessel tier flag
  PLAN.md
Due: check-copyright

fix(build): record the Bessel tier in a generated header (#97)
  CMakeLists.txt
  cmake/libstats_config.h.in
  include/libstats/core/bessel.h
  tests/test_von_mises_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

test(bessel): move the #97 guards where CI actually runs them
  tests/CMakeLists.txt
  tests/test_bessel_tier.cpp
  tests/test_von_mises_enhanced.cpp
Due: check-copyright, no-debug-code, validate-includes

docs: record #97 resolved, and the guard-must-be-able-to-fail rule
  AGENTS.md
  PLAN.md
Due: check-copyright

docs: #84 audited as no exposure, reversing yesterday's verdict
  AGENTS.md
  PLAN.md
Due: check-copyright

release: v2.2.0
  AGENTS.md
  CHANGELOG.md
  CMakeLists.txt
  CONTRIBUTING.md
  PLAN.md
  README.md
  docs/VALIDATION_HISTORY.md
  include/libstats/stats/analysis/gaussian_analysis.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs(plan): pylibstats 0.5.0 shipped against v2.2.0
  PLAN.md
Due: check-copyright

docs(plan): park #47/#52 on corvus adoption; order the v2.3.0 remainder
  PLAN.md
Due: check-copyright

perf(cauchy): closed-form arctan CDF, scalar and batch (#48)
  CHANGELOG.md
  include/libstats/core/math_constants.h
  include/libstats/distributions/cauchy.h
  src/cauchy.cpp
  tests/test_cauchy_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs(plan): #48 closed; v2.3.0 at 4 open, next up #95
  PLAN.md
Due: check-copyright

test(#95): per-tier ULP gate for x86 vector_cos, staged for vector_sin
  scripts/gen_trig_ulp_vectors.py
  tests/CMakeLists.txt
  tests/test_trig_ulp_gates.cpp
  tests/trig_ulp_vectors.inc
Due: check-copyright, no-debug-code, validate-includes

feat(#95): clean-room quadrant-reduction cos/sin for x86 SIMD tiers
  include/libstats/platform/simd.h
  scripts/gen_trig_cleanroom_table.py
  src/simd_avx.cpp
  src/simd_avx2.cpp
  src/simd_avx512.cpp
  src/simd_dispatch.cpp
  src/simd_fallback.cpp
  src/simd_neon.cpp
  src/simd_sse2.cpp
  src/trig_cleanroom_data.inc
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

test(#95): activate sin gates, cover dispatch entry, tighten von Mises
  CHANGELOG.md
  PLAN.md
  tests/test_trig_ulp_gates.cpp
  tests/test_von_mises_basic.cpp
  tests/test_von_mises_enhanced.cpp
Due: check-copyright, no-debug-code, validate-includes

test(#51): accuracy oracle and gate for von Mises CDF
  scripts/gen_vonmises_cdf_vectors.py
  tests/CMakeLists.txt
  tests/test_vonmises_cdf_accuracy.cpp
  tests/vonmises_cdf_vectors.inc
Due: check-copyright, no-debug-code, validate-includes

feat(#51): Bessel-series von Mises CDF, scalar and batch
  include/libstats/core/dispatch_thresholds.h
  include/libstats/distributions/von_mises.h
  src/von_mises.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

test(#51): oracle wrap in bit-exact double; budgets pinned from measurement
  CHANGELOG.md
  PLAN.md
  scripts/gen_vonmises_cdf_vectors.py
  tests/test_vonmises_cdf_accuracy.cpp
  tests/vonmises_cdf_vectors.inc
Due: check-copyright, no-debug-code, validate-includes

test(#49): add relative-error CDF gate for LogNormal, fail-first against unfixed erf form
  scripts/gen_lognormal_cdf_vectors.py
  tests/CMakeLists.txt
  tests/lognormal_cdf_vectors.inc
  tests/test_lognormal_cdf_accuracy.cpp
Due: check-copyright, no-debug-code, validate-includes

fix(#49): tail-branch LogNormal CDF via erfc; budget becomes a law of F
  src/lognormal.cpp
  src/math_utils.cpp
  tests/test_lognormal_cdf_accuracy.cpp
Due: check-copyright, no-debug-code, validate-includes

docs(#49): CHANGELOG entry; PLAN records the law-budget finding
  CHANGELOG.md
  PLAN.md
Due: check-copyright

fix(gaussian): tail-branch CDF via erfc, closing the #49 bug's Gaussian instance
  CHANGELOG.md
  PLAN.md
  include/libstats/distributions/gaussian.h
  scripts/gen_gaussian_cdf_vectors.py
  src/gaussian.cpp
  tests/CMakeLists.txt
  tests/gaussian_cdf_vectors.inc
  tests/test_gaussian_cdf_accuracy.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

Path conditions:
  check-pragma-once: any of: \.(h|hpp|hxx)$, but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

  check-copyright: any of: not (^(\.git/|build/|third_party/|docs/archive/)), but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

  no-debug-code: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

  validate-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

