Repository OldCrow/libstats: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pragma-once, check-copyright, no-debug-code, validate-includes

check-pragma-once:
  name: Check for
  entry: scripts/check-pragma-once.sh
  language: script
  pass_filenames: true

check-copyright:
  name: Check copyright headers
  entry: scripts/check-copyright.sh
  language: script

no-debug-code:
  name: Check for debug code
  entry: scripts/check-no-debug.sh
  language: script
  pass_filenames: true

validate-includes:
  name: Validate include order
  entry: scripts/validate-includes.sh
  language: script
  pass_filenames: true

bench: in-process warm-up; Zen 4 record — quiet, single frequency regime
  PLAN.md
  docs/bench-evidence/2026-09-29-zen4-indicative/README.md
  docs/bench-evidence/2026-09-30-zen4-quiet-warm/README.md
  docs/bench-evidence/2026-09-30-zen4-quiet-warm/quiet_bench_corvus_scaling.txt
  docs/bench-evidence/2026-09-30-zen4-quiet-warm/quiet_bench_corvus_scaling_cap.txt
  docs/bench-evidence/2026-09-30-zen4-quiet-warm/quiet_bench_dist_v241.txt
  docs/bench-evidence/2026-09-30-zen4-quiet-warm/quiet_bench_dist_v250.txt
  docs/bench-evidence/2026-09-30-zen4-quiet-warm/quiet_bench_dist_v250_cap.txt
  docs/bench-evidence/2026-09-30-zen4-quiet-warm/quiet_bench_elem_v241.txt
  docs/bench-evidence/2026-09-30-zen4-quiet-warm/quiet_bench_elem_v250.txt
  docs/bench-evidence/2026-09-30-zen4-quiet-warm/quiet_bench_elem_v250_cap.txt
  docs/bench-evidence/2026-09-30-zen4-quiet-warm/repass.ps1
  docs/bench-evidence/2026-09-30-zen4-quiet-warm/runner_log.txt
  docs/bench-evidence/2026-09-30-zen4-quiet/README.md
  docs/bench-evidence/2026-09-30-zen4-quiet/quiet_bench_corvus_scaling.txt
  docs/bench-evidence/2026-09-30-zen4-quiet/quiet_bench_corvus_scaling_cap.txt
  docs/bench-evidence/2026-09-30-zen4-quiet/quiet_bench_dist_v241.txt
  docs/bench-evidence/2026-09-30-zen4-quiet/quiet_bench_dist_v250.txt
  docs/bench-evidence/2026-09-30-zen4-quiet/quiet_bench_dist_v250_cap.txt
  docs/bench-evidence/2026-09-30-zen4-quiet/quiet_bench_elem_v241.txt
  docs/bench-evidence/2026-09-30-zen4-quiet/quiet_bench_elem_v250.txt
  docs/bench-evidence/2026-09-30-zen4-quiet/quiet_bench_elem_v250_cap.txt
  docs/bench-evidence/2026-09-30-zen4-quiet/repass.ps1
  docs/bench-evidence/2026-09-30-zen4-quiet/runner_log.txt
  tools/bench/README.md
  tools/bench/corvus_scaling_bench.cpp
  tools/bench/distributions_bench.cpp
  tools/bench/elementary_bench.cpp
Due: check-copyright, no-debug-code, validate-includes

docs(bench): Zen 4 comparatives, v2.4.1 → branch, two Windows configurations — INDICATIVE
  PLAN.md
  docs/bench-evidence/2026-09-29-zen4-indicative/README.md
  docs/bench-evidence/2026-09-29-zen4-indicative/quiet_bench_corvus_scaling.txt
  docs/bench-evidence/2026-09-29-zen4-indicative/quiet_bench_corvus_scaling_cap.txt
  docs/bench-evidence/2026-09-29-zen4-indicative/quiet_bench_dist_v241.txt
  docs/bench-evidence/2026-09-29-zen4-indicative/quiet_bench_dist_v250.txt
  docs/bench-evidence/2026-09-29-zen4-indicative/quiet_bench_dist_v250_cap.txt
  docs/bench-evidence/2026-09-29-zen4-indicative/quiet_bench_elem_v241.txt
  docs/bench-evidence/2026-09-29-zen4-indicative/quiet_bench_elem_v250.txt
  docs/bench-evidence/2026-09-29-zen4-indicative/quiet_bench_elem_v250_cap.txt
  docs/bench-evidence/2026-09-29-zen4-indicative/runner_log.txt
  docs/bench-evidence/2026-09-29-zen4-indicative/scripts/build_bench.ps1
  docs/bench-evidence/2026-09-29-zen4-indicative/scripts/build_deps.ps1
  docs/bench-evidence/2026-09-29-zen4-indicative/scripts/build_lib.ps1
  docs/bench-evidence/2026-09-29-zen4-indicative/smoke_run.txt
  tools/bench/README.md
Due: check-copyright

docs: Kaby Lake leg of the v2.5.0 swap — ctest 74/74, AVX2 sweep 32 → 35, two timing-label regressions recorded
  PLAN.md
  docs/ACCURACY_CHARACTERIZATION.md
Due: check-copyright

docs(bench): Kaby Lake comparatives, v2.4.1 → branch — quiet, one pass; task 2a complete
  PLAN.md
  docs/bench-evidence/2026-09-30-kaby-quiet/README.md
  docs/bench-evidence/2026-09-30-kaby-quiet/quiet_bench_corvus_scaling.txt
  docs/bench-evidence/2026-09-30-kaby-quiet/quiet_bench_dist_v241.txt
  docs/bench-evidence/2026-09-30-kaby-quiet/quiet_bench_dist_v250.txt
  docs/bench-evidence/2026-09-30-kaby-quiet/quiet_bench_elem_v241.txt
  docs/bench-evidence/2026-09-30-kaby-quiet/quiet_bench_elem_v250.txt
  docs/bench-evidence/2026-09-30-kaby-quiet/runner_log.txt
  docs/bench-evidence/2026-09-30-kaby-quiet/scripts/build_bench.sh
  tools/bench/README.md
Due: check-copyright

docs(plan): the 9210 → 9798 grid is quantile-driven; the eight "worsened" x86 rows are first measurements
  PLAN.md
Due: check-copyright

docs(plan): session state 2026-09-30 — corvus #42 lever 2 landed; pin-bump note for the corvus_scalar wrapper
  PLAN.md
Due: check-copyright

docs: Zen 4 leg of the v2.5.0 swap — ctest 74/74 ×2, AVX-512 sweep 32 → 35, compiler vs tier separated
  PLAN.md
  docs/ACCURACY_CHARACTERIZATION.md
  docs/bench-evidence/2026-09-30-zen4-clangcl-avx2/README.md
  docs/bench-evidence/2026-09-30-zen4-clangcl-avx2/build_corvus_avx2cap.ps1
  docs/bench-evidence/2026-09-30-zen4-clangcl-avx2/quiet_bench_corvus_scaling_clangcl_avx2.txt
  docs/bench-evidence/2026-09-30-zen4-clangcl-avx2/runner_log.txt
Due: check-copyright

docs(plan): branch state 2026-10-02 — #169 merged, dev/v2.4.2 cut from main, this branch rebased
  PLAN.md
Due: check-copyright

docs(plan): Kaby Lake timing run confirmed — #169 gates 22/22 x4 on main at d8d3388; M1 still owed
  PLAN.md
Due: check-copyright

fix(oracle): survival-form normal quantile references; boundary limits at x = 0 (#157, #161)
  tools/accuracy_vs_mpmath.py
Due: check-copyright

fix: support boundaries, copy/move caches, the probit and cast UB (#158, #161, #163, #164, #165, #167)
  include/libstats/core/math_utils.h
  src/binomial.cpp
  src/discrete.cpp
  src/gamma.cpp
  src/gaussian.cpp
  src/half_normal.cpp
  src/laplace.cpp
  src/math_utils.cpp
  src/poisson.cpp
  src/rayleigh.cpp
  src/truncated_normal.cpp
  src/uniform.cpp
  src/von_mises.cpp
  src/weibull.cpp
  tests/CMakeLists.txt
  tests/test_batch_nan_gates.cpp
  tests/test_copy_move_cache.cpp
  tests/test_probit_accuracy.cpp
  tests/test_support_boundary_gates.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs(plan): v2.4.2 state — seven milestone items fixed, sentinel and probit decisions
  PLAN.md
Due: check-copyright

perf(simd): restore the tier kernels for exp/log/cos/sin/pow; erf stays corvus on x86
  CMakeLists.txt
  docs/NEON_ERF_DERIVATION.md
  docs/NEON_ERF_DIVERGENCE_AUDIT.md
  docs/NEON_LOG_DERIVATION.md
  docs/NEON_LOG_DIVERGENCE_AUDIT.md
  docs/NEON_TRIG_DERIVATION.md
  docs/NEON_TRIG_DIVERGENCE_AUDIT.md
  include/libstats/platform/simd.h
  scripts/README.md
  scripts/gen_avx512_exp_table.py
  scripts/gen_neon_erf_table.py
  scripts/gen_neon_exp_table.py
  scripts/gen_neon_log_cleanroom_table.py
  scripts/gen_neon_log_table.py
  scripts/gen_neon_trig_cleanroom_table.py
  scripts/gen_trig_cleanroom_table.py
  src/avx512_exp_data.inc
  src/neon_erf_data.inc
  src/neon_exp_data.inc
  src/neon_log_cleanroom_data.inc
  src/neon_log_data.inc
  src/neon_trig_cleanroom_data.inc
  src/simd_avx.cpp
  src/simd_avx2.cpp
  src/simd_avx512.cpp
  src/simd_dispatch.cpp
  src/simd_fallback.cpp
  src/simd_neon.cpp
  src/simd_sse2.cpp
  src/trig_cleanroom_data.inc
  tests/test_log_special_gates.cpp
  tests/test_simd_neon_cos_accuracy.cpp
  tests/test_simd_neon_exp_accuracy.cpp
  tests/test_simd_neon_log_accuracy.cpp
  tests/test_trig_ulp_gates.cpp
  tools/CMakeLists.txt
  tools/gather_throughput_probe.cpp
  tools/neon_table_transcendental_probe.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

perf(quantile): discrete quantiles search from a normal-approximation guess; Student-t makes one inverse call off the tail
  include/libstats/core/math_utils.h
  src/binomial.cpp
  src/math_utils.cpp
  src/negative_binomial.cpp
  src/poisson.cpp
  tests/test_discrete_quantile_bounds.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

build(corvus): warn when a fetched corvus is compiled by cl.exe; plan state for the libstats-side levers
  PLAN.md
  cmake/FindOrFetchCorvus.cmake
Due: check-copyright

fix(math): incomplete gamma and beta to double precision at large shape (#166)
  include/libstats/core/math_constants.h
  src/math_utils.cpp
  tests/CMakeLists.txt
  tests/test_incomplete_gamma_beta_accuracy.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs(plan): #166 landed; the Stirling-prefactor decision; its cost measurement owed
  PLAN.md
Due: check-copyright

fix(quantile): Poisson and NegativeBinomial search from a normal guess, unbounded (#170, #171)
  include/libstats/core/math_utils.h
  src/negative_binomial.cpp
  src/poisson.cpp
  tests/test_discrete_quantile_bounds.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

perf(quantile): Binomial searches from a normal guess instead of scanning from 0
  src/binomial.cpp
  tests/test_discrete_quantile_bounds.cpp
Due: check-copyright, no-debug-code, validate-includes

docs(plan): v2.4.2 state — ten milestone items and the parallel-lambda NaN class fixed; #160 and #159 next
  PLAN.md
Due: check-copyright

build(windows): libstats builds warning-clean with clang-cl
  cmake/CompilerFlags.cmake
  cmake/SIMDApplication.cmake
  include/libstats/distributions/gaussian.h
  src/cpu_detection.cpp
  src/performance_dispatcher.cpp
  tests/CMakeLists.txt
  tests/test_goodness_of_fit.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

build(corvus): the cl.exe warning names a clang-cl build as the first remedy; plan state
  PLAN.md
  cmake/FindOrFetchCorvus.cmake
Due: check-copyright

build(windows): clang-cl presets; the Strict build type compiles under clang-cl
  CMakePresets.json
  cmake/CompilerFlags.cmake
  src/work_stealing_pool.cpp
  tests/test_distribution_analysis.cpp
  tests/test_gaussian_analysis.cpp
  tests/test_poisson_analysis.cpp
Due: check-copyright, no-debug-code, validate-includes

ci: a Windows clang-cl leg through the preset; docs for the two Windows compilers
  .github/workflows/ci.yml
  AGENTS.md
  PLAN.md
  docs/BUILD_SYSTEM_GUIDE.md
  docs/CI_CD_GUIDE.md
  tests/test_discrete_quantile_bounds.cpp
Due: check-copyright, no-debug-code, validate-includes

fix(quantile): Gamma, Erlang and ChiSquared quantiles to the accuracy law at every p (#160)
  PLAN.md
  include/libstats/core/math_utils.h
  include/libstats/distributions/gamma.h
  src/gamma.cpp
  src/math_utils.cpp
  tests/CMakeLists.txt
  tests/test_gamma_quantile_accuracy.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs(agents): list the windows-clang-cl presets under the CMake-standard deviations
  AGENTS.md
Due: check-copyright

fix(student-t): quantile, CDF, pdf and logpdf in the deep tail and at large df (#159)
  PLAN.md
  src/math_utils.cpp
  src/student_t.cpp
  tests/CMakeLists.txt
  tests/test_student_t_tails.cpp
Due: check-copyright, no-debug-code, validate-includes

docs(accuracy): regenerate the AVX-512 block at decac1d — 35 contract violations, unchanged by the levers
  PLAN.md
  docs/ACCURACY_CHARACTERIZATION.md
Due: check-copyright

fix(math): stable log-beta normalisers and small-tail p-values; build and oracle fixes
  PLAN.md
  include/libstats/distributions/fisher_f.h
  src/beta.cpp
  src/binomial_analysis.cpp
  src/discrete.cpp
  src/discrete_analysis.cpp
  src/exponential_analysis.cpp
  src/fisher_f.cpp
  src/gaussian_analysis.cpp
  src/math_utils.cpp
  src/poisson_analysis.cpp
  src/student_t.cpp
  tests/CMakeLists.txt
  tests/test_log_beta_and_pvalues.cpp
  tools/accuracy_vs_mpmath.py
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix(accuracy): tail, tie and large-shape defects from the v2.4.2 full sweep
  PLAN.md
  include/libstats/core/math_utils.h
  include/libstats/distributions/von_mises.h
  src/binomial.cpp
  src/cauchy.cpp
  src/discrete.cpp
  src/exponential.cpp
  src/gamma.cpp
  src/geometric.cpp
  src/math_utils.cpp
  src/negative_binomial.cpp
  src/pareto.cpp
  src/poisson.cpp
  src/rayleigh.cpp
  src/von_mises.cpp
  src/weibull.cpp
  tests/CMakeLists.txt
  tests/test_gamma_density_accuracy.cpp
  tests/test_tail_and_tie_accuracy.cpp
  tests/test_von_mises_tails.cpp
  tools/accuracy_vs_mpmath.py
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix(accuracy): discrete log-pmfs without the lgamma cancellation at large counts (#172)
  PLAN.md
  include/libstats/core/math_utils.h
  include/libstats/distributions/binomial.h
  include/libstats/distributions/negative_binomial.h
  src/binomial.cpp
  src/math_utils.cpp
  src/negative_binomial.cpp
  src/poisson.cpp
  tests/CMakeLists.txt
  tests/test_discrete_pmf_accuracy.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs(plan): v2.4.2 status after #172; owed list before the release PR
  PLAN.md
Due: check-copyright

fix: v2.4.2 review findings — Binomial NaN race, small-shape gamma_q, subnormal probit
  PLAN.md
  include/libstats/core/math_utils.h
  include/libstats/distributions/poisson.h
  include/libstats/distributions/von_mises.h
  src/binomial.cpp
  src/fisher_f.cpp
  src/gamma.cpp
  src/inverse_gamma.cpp
  src/math_utils.cpp
  src/negative_binomial.cpp
  src/poisson.cpp
  src/uniform.cpp
  src/von_mises.cpp
  tests/CMakeLists.txt
  tests/test_discrete_pmf_accuracy.cpp
  tests/test_gamma_quantile_accuracy.cpp
  tests/test_incomplete_gamma_beta_accuracy.cpp
  tests/test_probit_accuracy.cpp
  tests/test_snapshot_consistency.cpp
  tests/test_von_mises_tails.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

tools(bench): v2.4.1 vs v2.4.2 cost bench and comparer; release task list
  PLAN.md
  tools/bench/v242_compare.py
  tools/bench/v242_cost_bench.cpp
Due: check-copyright, no-debug-code, validate-includes

fix(accuracy): Weibull, Exponential, Rayleigh lower-tail CDF; oracle references
  PLAN.md
  src/exponential.cpp
  src/rayleigh.cpp
  src/weibull.cpp
  tests/test_tail_and_tie_accuracy.cpp
  tools/accuracy_vs_mpmath.py
Due: check-copyright, no-debug-code, validate-includes

fix: exact special-parameter shortcuts; run_tests_correctness for VS 2026
  .github/workflows/ci.yml
  CMakeLists.txt
  PLAN.md
  README.md
  include/libstats/distributions/exponential.h
  src/beta.cpp
  src/exponential.cpp
  tests/CMakeLists.txt
  tests/test_tail_and_tie_accuracy.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs(accuracy): regenerate AVX-512 block at f89380a — 32 → 0
  docs/ACCURACY_CHARACTERIZATION.md
Due: check-copyright

docs(plan): v2.4.2 release runbook per machine; prune history to f508b12
  PLAN.md
Due: check-copyright

docs(plan): .agents/skills symlink resolved on Zen 4
  PLAN.md
Due: check-copyright

Path conditions:
  check-pragma-once: any of: \.(h|hpp|hxx)$, but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

  check-copyright: any of: not (^(\.git/|build/|third_party/|docs/archive/)), but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

  no-debug-code: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

  validate-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: (?x)^(
  build/.*|
  third_party/.*|
  docs/archive/.*|
  .*\.min\.js|
  .*\.min\.css
)$

