Repository OldCrow/libstats: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-pragma-once, check-copyright, no-debug-code, validate-includes

.pre-commit-config.yaml:

# Pre-commit hooks configuration for libstats
# Run: pre-commit install to set up the git hook scripts
# Then pre-commit will run automatically on git commit

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_language_version:
  python: python3

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: Fix trailing whitespace
      - id: end-of-file-fixer
        name: Fix missing newline at end of file
      - id: check-yaml
        name: Check YAML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: check-case-conflict
        name: Check for case conflicts
      - id: mixed-line-ending
        name: Check line endings
        args: ['--fix=lf']
      - id: check-symlinks
        name: Check for broken symlinks
      - id: check-executables-have-shebangs
        name: Check executables have shebangs
      - id: check-shebang-scripts-are-executable
        name: Check scripts with shebangs are executable

  # C++ formatting with clang-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.8
    hooks:
      - id: clang-format
        name: Format C++ code with clang-format
        types_or: [c++, c]
        args: ['-i', '--style=file']
        files: \.(cpp|cc|cxx|hpp|h|hxx)$

  # CMake formatting and linting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        name: Format CMake files
        args: ['--config=.cmake-format.yaml', '--in-place']
        additional_dependencies: ["pyyaml"]

  # Shell script checks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        name: Check shell scripts
        args: ['--severity=warning']

  # Markdown formatting (Ruby-based for better compatibility)
#  - repo: https://github.com/markdownlint/markdownlint
#    rev: v0.13.0
#    hooks:
#      - id: markdownlint
#        name: Lint markdown files
#        args: ["-s", ".markdownlint-style.rb"]

  # Check for secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: Detect secrets
        args: ['--baseline', '.secrets.baseline']
        additional_dependencies: ['detect-secrets']

  # Custom local hooks for libstats-specific checks
  - repo: local
    hooks:
      - id: check-pragma-once
        name: Check for #pragma once in headers
        entry: scripts/check-pragma-once.sh
        language: script
        files: \.(h|hpp|hxx)$
        pass_filenames: true

      - id: check-copyright
        name: Check copyright headers
        entry: scripts/check-copyright.sh
        language: script
        types: [text]
        exclude: ^(\.git/|build/|third_party/|docs/archive/)

      - id: no-debug-code
        name: Check for debug code
        entry: scripts/check-no-debug.sh
        language: script
        types_or: [c++, c]
        pass_filenames: true

      - id: validate-includes
        name: Validate include order
        entry: scripts/validate-includes.sh
        language: script
        types_or: [c++, c]
        pass_filenames: true

# Configuration for specific hooks
exclude: |
  (?x)^(
    build/.*|
    third_party/.*|
    docs/archive/.*|
    .*\.min\.js|
    .*\.min\.css
  )$

fix: throwing-setter atomicParamsValid_ sweep + ChiSquared delegation docs
  include/distributions/chi_squared.h
  src/discrete.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix: Review #5 critical items — data races, NaN UB, Weibull PDF, stale install
  src/discrete.cpp
  src/weibull.cpp
Due: check-copyright, no-debug-code, validate-includes

fix: Review #5 high-priority items — concurrency, API, header cleanup
  include/common/distribution_common.h
  include/common/parallel_execution_fwd.h
  include/core/error_handling.h
  include/libstats.h
  src/gaussian.cpp
  src/negative_binomial.cpp
  src/pareto.cpp
  src/performance_history.cpp
  src/rayleigh.cpp
  src/weibull.cpp
  tests/test_error_handling_comprehensive.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

fix: v2.0.0 quality sweep — NaN convention, kurtosis, headers, debug flag
  include/common/libstats_vector_common.h
  include/core/debug_flags.h
  include/distributions/gaussian.h
  src/binomial.cpp
  src/discrete.cpp
  src/gaussian.cpp
  src/negative_binomial.cpp
  src/poisson.cpp
  src/von_mises.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

refactor: R5-API2 — getDistributionName() returns std::string_view noexcept
  include/core/distribution_concepts.h
  include/core/distribution_interface.h
  include/distributions/beta.h
  include/distributions/binomial.h
  include/distributions/chi_squared.h
  include/distributions/discrete.h
  include/distributions/exponential.h
  include/distributions/gamma.h
  include/distributions/gaussian.h
  include/distributions/lognormal.h
  include/distributions/negative_binomial.h
  include/distributions/pareto.h
  include/distributions/poisson.h
  include/distributions/rayleigh.h
  include/distributions/student_t.h
  include/distributions/uniform.h
  include/distributions/von_mises.h
  include/distributions/weibull.h
  src/discrete.cpp
  src/exponential.cpp
  src/gamma.cpp
  src/gaussian.cpp
  src/poisson.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

test: name concurrent atomic reader operation count
  tests/test_atomic_parameters.cpp
Due: check-copyright, no-debug-code, validate-includes

fix: Windows AVX-512 validation: shim race, near/small SDK collisions
  CMakeLists.txt
  tests/test_gaussian_analysis.cpp
  tests/test_integration_workflow.cpp
Due: check-copyright, no-debug-code, validate-includes

perf: recalibrate kAvx512 dispatch thresholds (feat/v2-architecture, 3-run)
  data/profiles/dispatcher/2026-06-22T02-52-00Z_windows-x86_64_feat-v2-architecture_sha-9b2c1a3/manifest.txt
  data/profiles/dispatcher/2026-06-22T02-52-00Z_windows-x86_64_feat-v2-architecture_sha-9b2c1a3/strategy_profile_output.txt
  data/profiles/dispatcher/2026-06-22T02-55-00Z_windows-x86_64_feat-v2-architecture_sha-9b2c1a3/manifest.txt
  data/profiles/dispatcher/2026-06-22T02-55-00Z_windows-x86_64_feat-v2-architecture_sha-9b2c1a3/strategy_profile_output.txt
  data/profiles/dispatcher/2026-06-22T02-59-00Z_windows-x86_64_feat-v2-architecture_sha-9b2c1a3/manifest.txt
  data/profiles/dispatcher/2026-06-22T02-59-00Z_windows-x86_64_feat-v2-architecture_sha-9b2c1a3/strategy_profile_output.txt
  data/profiles/dispatcher/2026-06-22T02-59-00Z_windows-x86_64_feat-v2-architecture_sha-9b2c1a3/strategy_profile_results.csv
  include/core/dispatch_thresholds.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

perf: recalibrate NEON dispatch thresholds from M1 Release profiles
  CMakeLists.txt
  data/profiles/dispatcher/2026-06-22T05-19-18Z_darwin-arm64_feat-v2-architecture_sha-2904d63/best_strategies.csv
  data/profiles/dispatcher/2026-06-22T05-19-18Z_darwin-arm64_feat-v2-architecture_sha-2904d63/crossovers.csv
  data/profiles/dispatcher/2026-06-22T05-19-18Z_darwin-arm64_feat-v2-architecture_sha-2904d63/logs/strategy_profile.txt
  data/profiles/dispatcher/2026-06-22T05-19-18Z_darwin-arm64_feat-v2-architecture_sha-2904d63/logs/system_inspector_performance.txt
  data/profiles/dispatcher/2026-06-22T05-19-18Z_darwin-arm64_feat-v2-architecture_sha-2904d63/manifest.txt
  data/profiles/dispatcher/2026-06-22T05-19-18Z_darwin-arm64_feat-v2-architecture_sha-2904d63/metadata.json
  data/profiles/dispatcher/2026-06-22T05-19-18Z_darwin-arm64_feat-v2-architecture_sha-2904d63/strategy_profile_results.csv
  data/profiles/dispatcher/2026-06-22T05-19-18Z_darwin-arm64_feat-v2-architecture_sha-2904d63/summary.json
  data/profiles/dispatcher/2026-06-22T05-21-44Z_darwin-arm64_feat-v2-architecture_sha-2904d63/best_strategies.csv
  data/profiles/dispatcher/2026-06-22T05-21-44Z_darwin-arm64_feat-v2-architecture_sha-2904d63/crossovers.csv
  data/profiles/dispatcher/2026-06-22T05-21-44Z_darwin-arm64_feat-v2-architecture_sha-2904d63/logs/strategy_profile.txt
  data/profiles/dispatcher/2026-06-22T05-21-44Z_darwin-arm64_feat-v2-architecture_sha-2904d63/logs/system_inspector_performance.txt
  data/profiles/dispatcher/2026-06-22T05-21-44Z_darwin-arm64_feat-v2-architecture_sha-2904d63/manifest.txt
  data/profiles/dispatcher/2026-06-22T05-21-44Z_darwin-arm64_feat-v2-architecture_sha-2904d63/metadata.json
  data/profiles/dispatcher/2026-06-22T05-21-44Z_darwin-arm64_feat-v2-architecture_sha-2904d63/strategy_profile_results.csv
  data/profiles/dispatcher/2026-06-22T05-21-44Z_darwin-arm64_feat-v2-architecture_sha-2904d63/summary.json
  data/profiles/dispatcher/2026-06-22T05-24-10Z_darwin-arm64_feat-v2-architecture_sha-2904d63/best_strategies.csv
  data/profiles/dispatcher/2026-06-22T05-24-10Z_darwin-arm64_feat-v2-architecture_sha-2904d63/crossovers.csv
  data/profiles/dispatcher/2026-06-22T05-24-10Z_darwin-arm64_feat-v2-architecture_sha-2904d63/logs/strategy_profile.txt
  data/profiles/dispatcher/2026-06-22T05-24-10Z_darwin-arm64_feat-v2-architecture_sha-2904d63/logs/system_inspector_performance.txt
  data/profiles/dispatcher/2026-06-22T05-24-10Z_darwin-arm64_feat-v2-architecture_sha-2904d63/manifest.txt
  data/profiles/dispatcher/2026-06-22T05-24-10Z_darwin-arm64_feat-v2-architecture_sha-2904d63/metadata.json
  data/profiles/dispatcher/2026-06-22T05-24-10Z_darwin-arm64_feat-v2-architecture_sha-2904d63/strategy_profile_results.csv
  data/profiles/dispatcher/2026-06-22T05-24-10Z_darwin-arm64_feat-v2-architecture_sha-2904d63/summary.json
  include/core/dispatch_thresholds.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs: update v2.0.0 validation matrix (M1 43/43, AVX-512 43/43, Kaby Lake pending)
  AGENTS.md
Due: check-copyright

docs: document macOS deployment target behavior and Windows SDK reserved identifiers
  docs/BUILD_SYSTEM_GUIDE.md
Due: check-copyright

perf: recalibrate kAvx2 dispatch thresholds (feat/v2-architecture, 3-run)
  .gitignore
  AGENTS.md
  data/profiles/dispatcher/2026-06-22T21-15-44Z_darwin-x86_64_feat-v2-architecture_sha-909dc9a/best_strategies.csv
  data/profiles/dispatcher/2026-06-22T21-15-44Z_darwin-x86_64_feat-v2-architecture_sha-909dc9a/crossovers.csv
  data/profiles/dispatcher/2026-06-22T21-15-44Z_darwin-x86_64_feat-v2-architecture_sha-909dc9a/logs/strategy_profile.txt
  data/profiles/dispatcher/2026-06-22T21-15-44Z_darwin-x86_64_feat-v2-architecture_sha-909dc9a/logs/system_inspector_performance.txt
  data/profiles/dispatcher/2026-06-22T21-15-44Z_darwin-x86_64_feat-v2-architecture_sha-909dc9a/manifest.txt
  data/profiles/dispatcher/2026-06-22T21-15-44Z_darwin-x86_64_feat-v2-architecture_sha-909dc9a/metadata.json
  data/profiles/dispatcher/2026-06-22T21-15-44Z_darwin-x86_64_feat-v2-architecture_sha-909dc9a/strategy_profile_results.csv
  data/profiles/dispatcher/2026-06-22T21-15-44Z_darwin-x86_64_feat-v2-architecture_sha-909dc9a/summary.json
  data/profiles/dispatcher/2026-06-22T21-25-20Z_darwin-x86_64_feat-v2-architecture_sha-909dc9a/best_strategies.csv
  data/profiles/dispatcher/2026-06-22T21-25-20Z_darwin-x86_64_feat-v2-architecture_sha-909dc9a/crossovers.csv
  data/profiles/dispatcher/2026-06-22T21-25-20Z_darwin-x86_64_feat-v2-architecture_sha-909dc9a/logs/strategy_profile.txt
  data/profiles/dispatcher/2026-06-22T21-25-20Z_darwin-x86_64_feat-v2-architecture_sha-909dc9a/logs/system_inspector_performance.txt
  data/profiles/dispatcher/2026-06-22T21-25-20Z_darwin-x86_64_feat-v2-architecture_sha-909dc9a/manifest.txt
  data/profiles/dispatcher/2026-06-22T21-25-20Z_darwin-x86_64_feat-v2-architecture_sha-909dc9a/metadata.json
  data/profiles/dispatcher/2026-06-22T21-25-20Z_darwin-x86_64_feat-v2-architecture_sha-909dc9a/strategy_profile_results.csv
  data/profiles/dispatcher/2026-06-22T21-25-20Z_darwin-x86_64_feat-v2-architecture_sha-909dc9a/summary.json
  data/profiles/dispatcher/2026-06-22T21-33-55Z_darwin-x86_64_feat-v2-architecture_sha-909dc9a/best_strategies.csv
  data/profiles/dispatcher/2026-06-22T21-33-55Z_darwin-x86_64_feat-v2-architecture_sha-909dc9a/crossovers.csv
  data/profiles/dispatcher/2026-06-22T21-33-55Z_darwin-x86_64_feat-v2-architecture_sha-909dc9a/logs/strategy_profile.txt
  data/profiles/dispatcher/2026-06-22T21-33-55Z_darwin-x86_64_feat-v2-architecture_sha-909dc9a/logs/system_inspector_performance.txt
  data/profiles/dispatcher/2026-06-22T21-33-55Z_darwin-x86_64_feat-v2-architecture_sha-909dc9a/manifest.txt
  data/profiles/dispatcher/2026-06-22T21-33-55Z_darwin-x86_64_feat-v2-architecture_sha-909dc9a/metadata.json
  data/profiles/dispatcher/2026-06-22T21-33-55Z_darwin-x86_64_feat-v2-architecture_sha-909dc9a/strategy_profile_results.csv
  data/profiles/dispatcher/2026-06-22T21-33-55Z_darwin-x86_64_feat-v2-architecture_sha-909dc9a/summary.json
  include/core/dispatch_thresholds.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

refactor: distribution metadata table eliminates per-site registration switches
  include/core/dispatch_thresholds.h
  include/core/distribution_meta.h
  include/core/distribution_type.h
  src/performance_history.cpp
  tools/system_inspector.cpp
  tools/tool_utils.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs: update documentation for distribution metadata refactor
  AGENTS.md
  CHANGELOG.md
  CONTRIBUTING.md
  tools/strategy_profile.cpp
Due: check-copyright, no-debug-code, validate-includes

fix: address R6 review findings (R6-ENUM-UB, R6-NEVER, R6-NONE-TABLE, R6-SUBSTR, R6-FWD-COMMENT, R6-COUNT-ASSERT, R6-CONSTEVAL-COMMENT, R6-DELEGATE-FIELD)
  include/common/forward_declarations.h
  include/core/dispatch_thresholds.h
  include/core/distribution_meta.h
  include/core/distribution_type.h
  src/performance_history.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs: PROFILING_METHOD.md — mark kAvx512 current, add Windows capture section
  scripts/PROFILING_METHOD.md
Due: check-copyright

perf: rebase kAvx inferences, fix kAvx2 Pareto LogPDF, per-complexity kNone split
  include/core/dispatch_thresholds.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

test: update enhanced timing tests for v2.0.0 API migration
  tests/test_binomial_enhanced.cpp
  tests/test_discrete_enhanced.cpp
  tests/test_exponential_enhanced.cpp
  tests/test_negative_binomial_enhanced.cpp
  tests/test_pareto_enhanced.cpp
  tests/test_poisson_enhanced.cpp
  tests/test_rayleigh_enhanced.cpp
  tests/test_uniform_enhanced.cpp
  tests/test_weibull_enhanced.cpp
Due: check-copyright, no-debug-code, validate-includes

R7: fix div-by-zero timing guard and kNeon changelog gap
  include/core/dispatch_thresholds.h
  tests/test_discrete_enhanced.cpp
  tests/test_exponential_enhanced.cpp
  tests/test_poisson_enhanced.cpp
  tests/test_uniform_enhanced.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

Remove vestigial v1 performance infrastructure; fix dispatch correctness bugs
  CMakeLists.txt
  examples/performance_learning_demo.cpp
  include/core/dispatch_utils.h
  include/core/performance_dispatcher.h
  include/platform/work_stealing_pool.h
  src/distribution_base.cpp
  src/libstats_init.cpp
  src/performance_dispatcher.cpp
  src/system_capabilities.cpp
  tests/test_performance_dispatcher.cpp
  tools/tool_utils.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

Delete performance_history files that survived previous rm (interactive prompt artifact)
  include/core/performance_history.h
  src/performance_history.cpp
  tests/test_performance_history.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

Fix thread pool warmup, stale includes, and test cleanup
  AGENTS.md
  include/libstats.h
  src/libstats_init.cpp
  tests/test_system_capabilities.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

refactor(platform): introduce CpuTier enum, collapse 24 vendor-string cascades
  CMakeLists.txt
  include/platform/internal/cpu_tier.h
  src/cpu_tier.cpp
  src/platform_constants_impl.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

refactor(cpu_detection): remove Intel classifier functions and redundant cache getters (Part 1C)
  include/common/cpu_detection_fwd.h
  include/common/platform_constants_fwd.h
  include/platform/cpu_detection.h
  src/cpu_detection.cpp
  tests/test_cpu_detection.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

test(cpu_detection): add CpuDetectionAPI GTest coverage for untested public functions (Part 1D)
  tests/test_platform_optimizations.cpp
Due: check-copyright, no-debug-code, validate-includes

feat(analysis): promote statistical utilities to stats::analysis:: (Part 2A)
  CMakeLists.txt
  include/core/math_utils.h
  include/stats/analysis/analysis.h
  include/stats/analysis/statistical_utilities.h
  src/math_utils.cpp
  tests/test_statistical_utilities.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs(math_utils,safety): document deferred SIMD/quantile stubs (Parts 2B+C)
  include/core/math_utils.h
  include/core/safety.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

refactor(distribution_base): delegate fitWithDiagnostics() IC to file-local helper (Part 2D)
  src/distribution_base.cpp
  tests/test_gaussian_enhanced.cpp
Due: check-copyright, no-debug-code, validate-includes

refactor(distribution): promote getEntropy to interface, remove dead numerical wrappers (Parts 3A+B)
  include/core/distribution_base.h
  include/core/distribution_concepts.h
  include/core/distribution_interface.h
  src/distribution_base.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

refactor(distribution): fix isApproximatelyEqual signature; gut dead DistributionValidator framework (Parts 3C+D)
  include/core/distribution_base.h
  include/core/distribution_validation.h
  src/distribution_base.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

refactor: remove orphaned constants/enum; add runsTest/frequencyTest coverage (Part 4)
  CMakeLists.txt
  include/core/performance_constants.h
  include/core/performance_dispatcher.h
  tests/test_discrete_analysis.cpp
  tools/tool_utils.h
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

docs: sync AGENTS.md, CHANGELOG.md, PROFILING_METHOD.md to current state
  AGENTS.md
  CHANGELOG.md
  scripts/PROFILING_METHOD.md
Due: check-copyright

fix: address v2 architecture audit cleanup items
  include/common/constants_bridge.h
  include/common/utility_common.h
  include/core/distribution_interface.h
  include/core/math_utils.h
  include/core/performance_dispatcher.h
  include/distributions/beta.h
  include/distributions/binomial.h
  include/distributions/chi_squared.h
  include/distributions/discrete.h
  include/distributions/exponential.h
  include/distributions/gamma.h
  include/distributions/gaussian.h
  include/distributions/lognormal.h
  include/distributions/negative_binomial.h
  include/distributions/pareto.h
  include/distributions/poisson.h
  include/distributions/rayleigh.h
  include/distributions/student_t.h
  include/distributions/uniform.h
  include/distributions/von_mises.h
  include/distributions/weibull.h
  src/distribution_base.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes

test: fix Phase 1+4 audit items in test suite
  tests/include/constants.h
  tests/include/fixtures.h
  tests/include/test_common.h
  tests/include/tests.h
  tests/test_discrete_basic.cpp
  tests/test_exponential_basic.cpp
  tests/test_gamma_basic.cpp
  tests/test_gaussian_basic.cpp
  tests/test_lognormal_enhanced.cpp
  tests/test_poisson_basic.cpp
  tests/test_uniform_basic.cpp
Due: check-pragma-once, check-copyright, no-debug-code, validate-includes
